/*-------------------------------------------------ANADIR PARTIDO ASISTIDO-------------------------------------------------------*/
.tarjeta-anadir-partido-asistido {
    width: 100%;
    max-width: 870px;
    flex-direction: column;
    display: flex;
    align-items: center;
    margin: 5px auto;
    padding: 5px;
    border: 1px solid #bdc3c7;
    border-radius: 8px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    margin-top: 0px;
    cursor: default;
    background-color: var(--color-primario);
    color: var(--color-secundario);
}

.titulo-pagina-anadir-partido-asistido {
    font-size: 45px;
    margin: 5px;
    color: var(--color-secundario);
    margin-bottom: 15px;
}

.formulario-anadir-partido-asistido {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 600px;
    align-items: center;
}

.contenedor-select-boton {
    display: flex;
    align-items: center;
    gap: 12px;
    width: 100%;
    max-width: 600px;
}

.select-partido {
    flex: 1;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #bdc3c7;
    background-color: #fff;
    font-size: 17px;
    cursor: pointer;
    min-width: 400px;
}

.boton-todos-partidos {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}

.imagen-boton-todos {
    width: 50px;
    height: 50px;
    transition: transform 0.3s;
}

.etiqueta {
    color: var(--color-secundario);
    font-size: 18px;
}

.contenedor-checkbox-partido-favorito {
    display: flex;
    align-items: center;
}

.contenedor-checkbox-partido-favorito input[type="checkbox"] {
    width: 25px;
    height: 25px;
    margin-right: 10px;
    cursor: pointer;
}

.contenedor-checkbox-partido-favorito .partido-favorito-texto {
    color: var(--color-secundario);
    font-size: 20px;
}

.contenedor-comentario {
    width: 100%;
    max-width: 600px;
    margin-top: 15px;
}

.campo-comentario {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #bdc3c7;
    background-color: #fff;
    font-size: 17px;
    resize: none;
}

.campo-comentario::placeholder {
    color: #bdc3c7;
}

.botones-formulario-anadir-partido-asistido {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-top: 18px;
    margin-bottom: 10px;
}

.boton-submit-formulario-anadir-partido-asistido,
.boton-cancelar-formulario-anadir-partido-asistido {
    background-color: var(--color-secundario);
    color: var(--color-primario);
    font-size: 20px;
    padding: 10px;
    margin-top: 0px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.boton-submit-formulario-anadir-partido-asistido:hover,
.boton-cancelar-formulario-anadir-partido-asistido:hover {
    transform: scale(1.05);
    background-color: var(--color-fondo);
}