/*-------------------------------------------------ANADIR PARTIDO ASISTIDO-------------------------------------------------------*/
.tarjeta-anadir-partido-asistido {
    width: 100%;
    max-width: 1000px;
    flex-direction: column;
    display: flex;
    align-items: center;
    margin: 5px auto;
    padding: 5px;
    border: 1px solid #bdc3c7;
    border-radius: 8px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    margin-top: 0px;
    cursor: default;
    background-color: var(--color-primario);
    color: var(--color-secundario);
}

.titulo-pagina-anadir-partido-asistido {
    font-size: 45px;
    margin: 5px;
    color: var(--color-secundario);
    margin-bottom: 15px;
}

.formulario-anadir-partido-asistido {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 600px;
    align-items: center;
}

.contenedor-select-boton {
    display: flex;
    align-items: center;
    gap: 12px;
    width: 100%;
    max-width: 600px;
}

.select-partido {
    flex: 1;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #bdc3c7;
    background-color: #fff;
    font-size: 17px;
    cursor: pointer;
    min-width: 400px;
}

.boton-todos-partidos {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}

.imagen-boton-todos {
    width: 50px;
    height: 50px;
    transition: transform 0.3s;
}

.etiqueta {
    color: var(--color-secundario);
    font-size: 18px;
}

.contenedor-checkbox-partido-favorito {
    display: flex;
    align-items: center;
}

.contenedor-checkbox-partido-favorito input[type="checkbox"] {
    width: 25px;
    height: 25px;
    margin-right: 10px;
    cursor: pointer;
}

.contenedor-checkbox-partido-favorito .partido-favorito-texto {
    color: var(--color-secundario);
    font-size: 20px;
}

.contenedor-comentario {
    width: 100%;
    max-width: 600px;
    margin-top: 15px;
}

.campo-comentario {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #bdc3c7;
    background-color: #fff;
    font-size: 17px;
    resize: none;
}

.campo-comentario::placeholder {
    color: #bdc3c7;
}

.contenedor-imagen {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.imagen-partido-asistido {
    color: var(--color-secundario);
    font-size: 20px;
    margin-right: 20px;
}

#imagen {
    display: none;
}

.boton-seleccionar-imagen {
    display: inline-block;
    background-color: var(--color-secundario);
    color: var(--color-primario);
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    text-align: center;
    transition: background-color 0.3s ease;
}

.boton-seleccionar-imagen:hover {
    transform: scale(1.03);
}

.previsualizacion {
  text-align: center;
}

.imagen-preview{
    display: none;
    max-width: 125px;
    margin-left: 20px;
}

.mensaje {
  font-size: 14px;
  color: var(--color-secundario);
  margin-left: 10px;
}

.contenedor-seccion-on-tour {
    display: flex;
    justify-content: center;
    margin-top: 15px;
    margin-bottom: 20px;
}

.contenedor-on-tour {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.contenedor-boton-on-tour{
    display: flex;
    align-items: center;
    gap: 12px;
}

.icono-rail {
    height: 25px;
}

.button-on-tour-partido-asistido {
    color: var(--color-secundario);
    font-size: 24px;
}

.icono-flecha {
    height: 24px;
    cursor: pointer;
}

.seccion-on-tour-partido-asistido {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.titulo-seccion-on-tour {
    color: var(--color-secundario);
    font-size: 42px;
    margin-bottom: 10px;
}

.contenedor-datos-ida,
.contenedor-datos-vuelta {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 40px;
}

.titulo-datos-ida-on-tour,
.titulo-datos-vuelta-on-tour {
    color: var(--color-secundario);
    font-size: 32px;
    margin-bottom: 15px;
}

.contenedor-fecha {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin-top: 10px;
    margin-bottom: 20px;
    width: 100%;
}

.contenedor-fecha label {
    color: var(--color-secundario);
    font-size: 20px;
    margin-right: 15px;
    font-weight: normal;
}

.contenedor-fecha input {
    width: 30%;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid #bdc3c7;
    background-color: #fff;
    font-size: 16px;
    margin-right: 40px;
    max-width: 300px;
}

.contenedor-bloque-origen,
.contenedor-bloque-destino {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 15px;
    width: 100%;
}

.texto-origen-destino {
    color: var(--color-secundario);
    font-size: 20px;
    margin-right: 15px;
}

.contenedor-pais-ciudad-partido {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
}

.select-pais-ciudad {
    flex: 1;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #bdc3c7;
    background-color: #fff;
    font-size: 16px;
    cursor: pointer;
    min-width: 200px;
    margin-right: 20px;
}

.select-estadio {
    -webkit-appearance: none; 
    -moz-appearance: none;
    appearance: none;
    flex: 1;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #bdc3c7;
    background-color: #fff;
    font-size: 16px;
    cursor: default;
    min-width: 200px;
    margin-right: 20px;
    opacity: 0.8;
    pointer-events: none;
}

.icono-origen {
    height: 45px;
    width: 45px;
    cursor: default;
    margin-right: 10px;
}

.icono-estadio {
    height: 45px;
    width: 45px;
    cursor: default;
    margin-right: 10px;
}

.contenedor-bloque-flecha-transporte {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 15px;
    width: 100%;
}

.icono-flecha-abajo {
    height: 60px;
    width: 60px;
    cursor: default;
    margin-right: 20px;
}

.contenedor-bloque-flecha-transporte select {
    flex: 1;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #bdc3c7;
    background-color: #fff;
    font-size: 16px;
    cursor: pointer;
    min-width: 200px;
    max-width: 300px;
}

.anadir-parada {
    background-color: var(--color-secundario);
    color: var(--color-primario);
    font-size: 18px;
    padding: 10px;
    margin-top: 0px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-left: 10px;
}

.anadir-parada:hover {
    transform: scale(1.02);
    background-color: var(--color-fondo);
}

.boton-eliminar-parada {
    background-color: var(--color-secundario);
    color: var(--color-primario);
    font-size: 16px;
    padding: 10px;
    margin-top: 0px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-left: 10px;
}

.boton-eliminar-parada:hover {
    transform: scale(1.02);
    background-color: var(--color-fondo);
}

.contenedor-checkbox-teletrabajo {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 60px;
}

.contenedor-label-check {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    margin-right: 20px;
}

.contenedor-label-check input[type="checkbox"] {
    width: 25px;
    height: 25px;
    margin-right: 10px;
    cursor: pointer;
}

.contenedor-label-check .teletrabajo-texto {
    color: var(--color-secundario);
    font-size: 20px;
}

.botones-on-tour-partido-asistido .boton-no-on-tour-partido-asistido,
.botones-on-tour-partido-asistido .boton-borrar-campos-on-tour {
    background-color: var(--color-secundario);
    color: var(--color-primario);
    font-size: 20px;
    padding: 10px;
    margin-top: 0px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-left: 10px;
}

.botones-on-tour-partido-asistido .boton-no-on-tour-partido-asistido:hover,
.botones-on-tour-partido-asistido .boton-borrar-campos-on-tour:hover {
    transform: scale(1.05);
    background-color: var(--color-fondo);
}

.botones-formulario-anadir-partido-asistido {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-top: 18px;
    margin-bottom: 10px;
}

.boton-submit-formulario-anadir-partido-asistido,
.boton-cancelar-formulario-anadir-partido-asistido {
    background-color: var(--color-secundario);
    color: var(--color-primario);
    font-size: 20px;
    padding: 10px;
    margin-top: 0px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.boton-submit-formulario-anadir-partido-asistido:hover,
.boton-cancelar-formulario-anadir-partido-asistido:hover {
    transform: scale(1.05);
}