/*----------------------------------------------------------COMPETICION----------------------------------------------------------*/
.tarjeta-competicion {
    width: 100%;
    max-width: 1000px;
    flex-direction: column;
    display: flex;
    align-items: center;
    margin: 5px auto;
    padding: 5px;
    border: 1px solid #bdc3c7;
    border-radius: 8px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    margin-top: 0px;
    cursor: default;
    background-color: var(--color-primario);
    color: var(--color-secundario)
}

.tarjeta-competicion .nombre {
    font-size: 45px;
    margin: 5px;
    color: var(--color-secundario) 
}

.tarjeta-competicion .pais-competicion {
    width: 65px;
    height: 42px;
}

.tarjeta-competicion .logo-competicion {
    width: 60px;
    height: 60px;
    margin: 5px;
}

.tarjeta-competicion .titulo-equipos-competicion {
    font-size: 25px;
    margin: 5px;
    color: var(--color-secundario);
    margin-top: 20px;
}

.tarjetas-equipos-competicion {
    max-width: calc(61vw - 100px);
    box-sizing: border-box;
    overflow-x: auto;
    white-space: nowrap;
    padding: 0px;
}

.tarjetas-equipos-competicion::-webkit-scrollbar {
    display: flex;
    height: 10px;
}

.tarjetas-equipos-competicion::-webkit-scrollbar-thumb {
    background-color: var(--color-secundario);
    border-radius: 5px;
}

.tarjetas-equipos-competicion-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.tarjeta-equipo-competicion {
    width: 100%;
    min-width: 180px;
    margin: 5px auto;
    padding: 10px;
    border: 1px solid #bdc3c7;
    border-radius: 8px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    cursor: pointer;
    background-color: var(--color-primario);
    color: var(--color-secundario);
    display: inline-block;
}

.tarjeta-equipo-competicion img {
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 5px;
    width: 50px;
    height: 50px;
}

.tarjeta-equipo-competicion h4 {
    font-size: 20px;
    color: #fff;
    margin: 0px;
    color: var(--color-secundario) 
}

.tarjeta-competicion .titulo-campeones-competicion {
    font-size: 25px;
    margin: 5px;
    margin-top: 20px;
    color: var(--color-secundario)
}

.tarjetas-campeones-competicion {
    max-width: calc(61vw - 100px);
    box-sizing: border-box;
    overflow-x: auto;
    white-space: nowrap;
    padding: 0px;
}

.tarjetas-campeones-competicion::-webkit-scrollbar {
    display: flex;
    height: 10px;
}

.tarjetas-campeones-competicion::-webkit-scrollbar-thumb {
    background-color: var(--color-secundario);
    border-radius: 5px;
}

.tarjetas-campeones-competicion-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.tarjeta-campeon-competicion {
    width: 100%;
    min-width: 180px;
    margin: 5px auto;
    padding: 10px;
    border: 1px solid #bdc3c7;
    border-radius: 8px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    cursor: pointer;
    background-color: var(--color-primario);
    color: var(--color-secundario);
    display: inline-block;
}

.tarjeta-campeon-competicion img {
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 5px;
    width: 50px;
    height: 50px;
}

.tarjeta-campeon-competicion h4 {
    font-size: 18px;
    color: #fff;
    margin: 0px;
    color: var(--color-secundario) 
}

.tarjeta-competicion .titulo-partidos-competicion {
    font-size: 25px;
    margin: 5px;
    margin-top: 20px;
    color: var(--color-secundario)
}

.tarjetas-partidos-competicion {
    max-width: calc(61vw - 100px);
    box-sizing: border-box;
    overflow-x: auto;
    white-space: nowrap;
    padding: 0px;
    margin-bottom: 20px;
}

.tarjetas-partidos-competicion::-webkit-scrollbar {
    display: flex;
    height: 10px;
}

.tarjetas-partidos-competicion::-webkit-scrollbar-thumb {
    background-color: var(--color-secundario);
    border-radius: 5px;
}

.tarjetas-partidos-competicion-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.tarjeta-partido-competicion {
    width: 100%;
    max-width: 800px;
    margin: 5px auto;
    padding: 5px;
    border: 1px solid #bdc3c7;
    border-radius: 8px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    cursor: pointer;
    background-color: var(--color-primario);
    color: var(--color-secundario) 
}

.tarjeta-partido-competicion p {
    font-size: 15px;
    margin: 0px;
    color: var(--color-secundario) 
}

.info-partido-competicion {
    display: flex;
    align-items: center;
    justify-content: center;
}

.info-partido-competicion img {
    margin-right: 5px;
    margin-left: 5px;
    margin-bottom: 5px;
    width: 50px;
    height: 50px;
}

.info-partido-competicion h4 {
    font-size: 20px;
    color: #fff;
    margin: 0px;
    color: var(--color-secundario) 
}