/*----------------------------------------------------------ESTADIOS-------------------------------------------------------*/
.tarjeta-estadios-totales {
    width: 100%;
    max-width: 870px;
    flex-direction: column;
    display: flex;
    align-items: center;
    margin: 5px auto;
    padding: 5px;
    border: 1px solid #bdc3c7;
    border-radius: 8px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    margin-top: 0px;
    cursor: default;
    background-color: var(--color-primario);
    color: var(--color-secundario)
}

.tarjeta-estadios-totales .titulo-pagina-estadios {
    font-size: 45px;
    margin: 5px;
    color: var(--color-secundario);
    margin-bottom: 15px;
}

.tarjetas-estadios-totales {
    max-height: calc(84vh - 100px);
    overflow-y: auto;
    padding: 0px;
    padding-right: 15px;
    margin-bottom: 20px;
}

.tarjetas-estadios-totales::-webkit-scrollbar {
    width: 10px;
}

.tarjetas-estadios-totales::-webkit-scrollbar-thumb {
    background-color: var(--color-secundario);
    border-radius: 5px;
}

.tarjetas-estadios-totales-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tarjeta-estadio-total {
    width: 100%;
    max-width: 800px;
    margin: 5px auto;
    padding: 10px;
    border: 1px solid #bdc3c7;
    border-radius: 8px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    cursor: pointer;
    background-color: var(--color-primario);
    color: var(--color-secundario);
    box-sizing: border-box;
}

.info-estadio-total {
    display: flex;
    align-items: center;
    justify-content: center;
}

.info-estadio-total h4 {
    font-size: 30px;
    color: #fff;
    margin: 0px;
    color: var(--color-secundario) 
}

.info-estadio-total .estadio-estadio-total {
    margin-right: 20px;
    margin-left: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    width: 85,4px;
    height: 60px;
    border: 1px solid black;
}

.info-estadio-total .equipo-estadio-total {
    margin-right: 10px;
    margin-left: 20px;
    margin-bottom: 10px;
    margin-top: 10px;
    width: 70px;
    height: 70px;
}

.info-estadio-total .pais-estadio-total {
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    width: 70px;
    height: 45px;
}

.tarjeta-estadios-top-totales {
    flex-direction: column;
    display: flex;
    align-items: center;
    margin: 10px auto 10px 15px;
    padding: 5px;
    border: 1px solid #bdc3c7;
    border-radius: 8px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    cursor: default;
    background-color: var(--color-primario);
    color: var(--color-secundario);
    width: 320px;
    position: fixed;
    top: 71px;
    bottom: 33px;
    overflow-y: auto;
    padding-top: 10px;
}

.tarjeta-estadios-top-totales .titulo-top-estadios {
    font-size: 23px;
    margin: 5px;
    color: var(--color-secundario);
    margin-bottom: 7px;
}

.tarjetas-estadios-top-totales {
    max-height: calc(805vh - 100px);
    overflow-y: auto;
    padding: 0px;
    padding-right: 0px;
    margin-bottom: 20px;
}

.tarjetas-estadios-top-totales::-webkit-scrollbar {
    width: 0px;
}

.tarjetas-estadios-top-totales-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tarjeta-estadio-top-total {
    width: 100%;
    max-width: 800px;
    margin: 7px auto;
    padding: 8px;
    border: 1px solid #bdc3c7;
    border-radius: 8px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    cursor: pointer;
    background-color: var(--color-primario);
    color: var(--color-secundario);
    box-sizing: border-box;
}

.info-estadio-top-total {
    display: flex;
    align-items: center;
    justify-content: center;
}

.info-estadio-top-total .estadio-estadio-top-total {
    margin-right: 5px;
    margin-left: 3px;
    margin-bottom: 5px;
    margin-top: 5px;
    width: 35px;
    height: 22,5px;
}

.info-estadio-top-total .equipo-estadio-top-total {
    margin-right: 3px;
    margin-left: 5px;
    margin-bottom: 5px;
    margin-top: 5px;
    width: 35px;
    height: 35px;
}

.info-estadio-top-total h4 {
    font-size: 16px;
    margin: 0px;
    color: var(--color-secundario) 
}

.info-estadio-top-total .pais-estadio-top-total {
    margin-right: 3px;
    margin-left: 2px;
    margin-bottom: 5px;
    margin-top: 5px;
    width: 35px;
    height: 22,5px;
}

.tarjeta-estadios-visitados-fecha {
    flex-direction: column;
    display: flex;
    align-items: center;
    margin: 10px auto 30px -55px;
    padding: 5px;
    border: 1px solid #bdc3c7;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    cursor: default;
    background-color: var(--color-primario);
    color: var(--color-secundario);
    width: 330px;
    position: fixed;
    top: 71px;
    bottom: 350px;
    overflow-y: auto;
    padding-top: 10px;
}

.tarjeta-estadios-visitados-fecha .titulo-estadios-visitados-fecha {
    font-size: 23px;
    margin: 5px;
    color: var(--color-secundario);
    margin-bottom: 7px;
}

.tarjetas-estadios-visitados-totales-fecha {
    max-height: calc(805vh - 100px);
    overflow-y: auto;
    padding: 0px;
    padding-right: 0px;
    margin-bottom: 20px;
}

.tarjetas-estadios-visitados-totales-fecha::-webkit-scrollbar {
    width: 0px;
}

.tarjetas-estadios-visitados-totales-fecha-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tarjeta-estadios-visitados-totales-fecha {
    width: 100%;
    max-width: 800px;
    margin: 7px auto;
    padding: 8px;
    border: 1px solid #bdc3c7;
    border-radius: 8px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    cursor: pointer;
    background-color: var(--color-primario);
    color: var(--color-secundario);
    box-sizing: border-box;
}

.info-estadio-visitado-total-fecha {
    display: flex;
    align-items: center;
    justify-content: center;
}

.info-estadio-visitado-total-fecha .estadio-estadio-visitado-total-fecha {
    margin-right: 5px;
    margin-left: 3px;
    margin-bottom: 5px;
    margin-top: 5px;
    width: 35px;
    height: 22,5px;
}

.info-estadio-visitado-total-fecha .equipo-estadio-visitado-total-fecha {
    margin-right: 3px;
    margin-left: 5px;
    margin-bottom: 5px;
    margin-top: 5px;
    width: 32px;
    height: 32px;
}

.info-estadio-visitado-total-fecha h4 {
    font-size: 13px;
    margin: 0px;
    color: var(--color-secundario) 
}

.tarjeta-estadios-visitados-cantidad {
    flex-direction: column;
    display: flex;
    align-items: center;
    margin: 10px auto 30px -55px;
    padding: 5px;
    border: 1px solid #bdc3c7;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    cursor: default;
    background-color: var(--color-primario);
    color: var(--color-secundario);
    width: 330px;
    position: fixed;
    top: 400px;
    bottom: 15px;
    overflow-y: auto;
    padding-top: 10px;
}

.tarjeta-estadios-visitados-cantidad .titulo-estadios-visitados-cantidad {
    font-size: 23px;
    margin: 5px;
    color: var(--color-secundario);
    margin-bottom: 7px;
}

.tarjetas-estadios-visitados-totales-cantidad {
    max-height: calc(805vh - 100px);
    overflow-y: auto;
    padding: 0px;
    padding-right: 0px;
    margin-bottom: 20px;
}

.tarjetas-estadios-visitados-totales-cantidad::-webkit-scrollbar {
    width: 0px;
}

.tarjetas-estadios-visitados-totales-cantidad-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tarjeta-estadios-visitados-totales-cantidad {
    width: 100%;
    max-width: 800px;
    margin: 7px auto;
    padding: 8px;
    border: 1px solid #bdc3c7;
    border-radius: 8px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    cursor: pointer;
    background-color: var(--color-primario);
    color: var(--color-secundario);
    box-sizing: border-box;
}

.info-estadio-visitado-total-cantidad {
    display: flex;
    align-items: center;
    justify-content: center;
}

.info-estadio-visitado-total-cantidad .estadio-estadio-visitado-total-cantidad {
    margin-right: 5px;
    margin-left: 3px;
    margin-bottom: 5px;
    margin-top: 5px;
    width: 35px;
    height: 22,5px;
}

.info-estadio-visitado-total-cantidad .equipo-estadio-visitado-total-cantidad {
    margin-right: 3px;
    margin-left: 5px;
    margin-bottom: 5px;
    margin-top: 5px;
    width: 32px;
    height: 32px;
}

.info-estadio-visitado-total-cantidad h4 {
    font-size: 13px;
    margin: 0px;
    color: var(--color-secundario) 
}