/*----------------------------------------------------------MIS ESTADIOS-------------------------------------------------------*/
.tarjeta-estadios-asistidos {
    width: 100%;
    max-width: 870px;
    flex-direction: column;
    display: flex;
    align-items: center;
    margin: 5px auto;
    padding: 5px;
    border: 1px solid #bdc3c7;
    border-radius: 8px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    margin-top: 0px;
    cursor: default;
    background-color: var(--color-primario);
    color: var(--color-secundario)
}

.tarjeta-estadios-asistidos .titulo-pagina-estadios-asistidos {
    font-size: 45px;
    margin: 5px;
    color: var(--color-secundario);
    margin-bottom: 15px;
}

.tarjetas-estadios-asistidos {
    max-height: calc(84vh - 100px);
    overflow-y: auto;
    padding: 0px;
    padding-right: 15px;
    margin-bottom: 20px;
}

.tarjetas-estadios-asistidos::-webkit-scrollbar {
    width: 10px;
}

.tarjetas-estadios-asistidos::-webkit-scrollbar-thumb {
    background-color: var(--color-secundario);
    border-radius: 5px;
}

.tarjetas-estadios-asistidos-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tarjeta-estadio-asistido {
    width: 100%;
    max-width: 800px;
    margin: 5px auto;
    padding: 10px;
    border: 1px solid #bdc3c7;
    border-radius: 8px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    cursor: pointer;
    background-color: var(--color-primario);
    color: var(--color-secundario);
    box-sizing: border-box;
}

.info-estadio-asistido {
    display: flex;
    align-items: center;
    justify-content: center;
}

.info-estadio-asistido h4 {
    font-size: 30px;
    color: #fff;
    margin: 0px;
    color: var(--color-secundario) 
}

.info-estadio-asistido .estadio-estadio-asistido {
    margin-right: 20px;
    margin-left: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    width: 85,4px;
    height: 60px;
    border: 1px solid black;
}

.info-estadio-asistido .equipo-estadio-asistido {
    margin-right: 10px;
    margin-left: 20px;
    margin-bottom: 10px;
    margin-top: 10px;
    width: 70px;
    height: 70px;
}

.tarjeta-mis-estadios-recientes {
    flex-direction: column;
    display: flex;
    align-items: center;
    margin: 10px auto 30px -55px;
    padding: 5px;
    border: 1px solid #bdc3c7;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    cursor: default;
    background-color: var(--color-primario);
    color: var(--color-secundario);
    width: 330px;
    position: fixed;
    top: 71px;
    bottom: 20px;
    overflow-y: auto;
    padding-top: 10px;
}

.tarjeta-mis-estadios-recientes .titulo-mis-estadios-recientes {
    font-size: 23px;
    margin: 5px;
    color: var(--color-secundario);
    margin-bottom: 7px;
}

.tarjetas-mis-estadios-recientes {
    max-height: calc(805vh - 100px);
    overflow-y: auto;
    padding: 0px;
    padding-right: 0px;
    margin-bottom: 20px;
}

.tarjetas-mis-estadios-recientes::-webkit-scrollbar {
    width: 0px;
}

.tarjetas-mis-estadios-recientes-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tarjeta-estadio-mis-estadios-recientes {
    width: 100%;
    max-width: 800px;
    margin: 6px auto;
    padding: 7.5px;
    border: 1px solid #bdc3c7;
    border-radius: 8px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    cursor: pointer;
    background-color: var(--color-primario);
    color: var(--color-secundario);
    box-sizing: border-box;
}

.info-estadio-mis-estadios-recientes {
    display: flex;
    align-items: center;
    justify-content: center;
}

.info-estadio-mis-estadios-recientes .estadio-estadio-mis-estadios-recientes {
    margin-right: 5px;
    margin-left: 3px;
    margin-bottom: 5px;
    margin-top: 5px;
    width: 35px;
    height: 22,5px;
}

.info-estadio-mis-estadios-recientes .equipo-estadio-mis-estadios-recientes {
    margin-right: 3px;
    margin-left: 5px;
    margin-bottom: 5px;
    margin-top: 5px;
    width: 32px;
    height: 32px;
}

.info-estadio-mis-estadios-recientes h4 {
    font-size: 13px;
    margin: 0px;
    color: var(--color-secundario) 
}