/*----------------------------------------------------------MIS COMPETICIONES-------------------------------------------------*/
.circulo-competiciones-asistidas {
    width: 193px;
    height: 193px;
    border-radius: 50%;
    background-color: var(--color-footer);
    color: var(--color-secundario);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 15px auto 10px 70px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    overflow: hidden;
    cursor: default;
    border: 3px solid #000;
}

.circulo-competiciones-asistidas .titulo-circulo-competiciones-asistidas {
    margin: 2px 0;
    margin-top: 30px;
    padding: 0;
    font-size: 22px;
}

.circulo-competiciones-asistidas .valor-circulo-competiciones-asistidas {
    margin: 4px 0;
    margin-top: 10px;
    padding: 0;
    font-size: 30px;
}

.tarjeta-competiciones-asistidas {
    width: 100%;
    max-width: 870px;
    flex-direction: column;
    display: flex;
    align-items: center;
    margin: 5px auto;
    padding: 5px;
    border: 1px solid #bdc3c7;
    border-radius: 8px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    margin-top: 0px;
    cursor: default;
    background-color: var(--color-primario);
    color: var(--color-secundario);
}

.tarjeta-competiciones-asistidas .titulo-pagina-competiciones-asistidas {
    font-size: 45px;
    margin: 5px;
    color: var(--color-secundario);
    margin-bottom: 15px;
}

.tarjetas-competiciones-asistidas {
    max-height: calc(82vh - 100px);
    overflow-y: auto;
    padding: 0px;
    padding-right: 15px;
    margin-bottom: 20px;
}

.tarjetas-competiciones-asistidas::-webkit-scrollbar {
    width: 10px;
}

.tarjetas-competiciones-asistidas::-webkit-scrollbar-thumb {
    background-color: var(--color-secundario);
    border-radius: 5px;
}

.tarjetas-competiciones-asistidas-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tarjeta-competicion-asistida {
    width: 100%;
    max-width: 800px;
    margin: 5px auto;
    padding: 10px;
    border: 1px solid #bdc3c7;
    border-radius: 8px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    cursor: pointer;
    background-color: var(--color-primario);
    color: var(--color-secundario);
    box-sizing: border-box;
}

.info-competicion-asistida {
    display: flex;
    align-items: center;
    justify-content: center;
}

.info-competicion-asistida h4 {
    font-size: 30px;
    color: #fff;
    margin: 0px;
    color: var(--color-secundario) 
}

.info-competicion-asistida .logo-competicion-asistida {
    margin-right: 20px;
    margin-left: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    width: 70px;
    height: 70px;
}

.info-competicion-asistida .pais-competicion-asistida {
    margin-right: 10px;
    margin-left: 20px;
    margin-bottom: 10px;
    margin-top: 10px;
    width: 70px;
    height: 45px;
}