/*----------------------------------------------------------MIS EQUIPOS-------------------------------------------------*/
.tarjeta-equipos-enfrentados {
    width: 100%;
    max-width: 870px;
    flex-direction: column;
    display: flex;
    align-items: center;
    margin: 5px auto;
    padding: 5px;
    border: 1px solid #bdc3c7;
    border-radius: 8px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    margin-top: 0px;
    cursor: default;
    background-color: var(--color-primario);
    color: var(--color-secundario);
}

.tarjeta-equipos-enfrentados .titulo-pagina-equipos-enfrentados {
    font-size: 45px;
    margin: 5px;
    color: var(--color-secundario);
    margin-bottom: 15px;
}

.tarjetas-equipos-enfrentados {
    max-height: calc(82vh - 100px);
    overflow-y: auto;
    padding: 0px;
    padding-right: 15px;
    margin-bottom: 20px;
}

.tarjetas-equipos-enfrentados::-webkit-scrollbar {
    width: 10px;
}

.tarjetas-equipos-enfrentados::-webkit-scrollbar-thumb {
    background-color: var(--color-secundario);
    border-radius: 5px;
}

.tarjetas-equipos-enfrentados-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tarjeta-equipo-enfrentado {
    width: 100%;
    max-width: 800px;
    margin: 5px auto;
    padding: 10px;
    border: 1px solid #bdc3c7;
    border-radius: 8px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    cursor: pointer;
    background-color: var(--color-primario);
    color: var(--color-secundario);
    box-sizing: border-box;
}

.info-equipo-enfrentado {
    display: flex;
    align-items: center;
    justify-content: center;
}

.info-equipo-enfrentado h4 {
    font-size: 30px;
    color: #fff;
    margin: 0px;
    color: var(--color-secundario) 
}

.info-equipo-enfrentado .escudo-equipo-enfrentado {
    margin-right: 20px;
    margin-left: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    width: 70px;
    height: 70px;
}

.info-equipo-enfrentado .pais-equipo-enfrentado {
    margin-right: 10px;
    margin-left: 20px;
    margin-bottom: 10px;
    margin-top: 10px;
    width: 70px;
    height: 45px;
}