/*----------------------------------------------------------MIS ESTADIOS-------------------------------------------------------*/
.circulo-estadios-asistidos {
    width: 193px;
    height: 193px;
    border-radius: 50%;
    background-color: var(--color-footer);
    color: var(--color-secundario);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 15px auto 10px 70px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    overflow: hidden;
    cursor: default;
    border: 3px solid #000;
}

.circulo-estadios-asistidos .titulo-circulo-estadios-asistidos {
    margin: 2px 0;
    margin-top: 30px;
    padding: 0;
    font-size: 22px;
}

.circulo-estadios-asistidos .valor-circulo-estadios-asistidos {
    margin: 4px 0;
    margin-top: 10px;
    padding: 0;
    font-size: 30px;
}

.circulo-mapa-mis-estadios-asistidos {
    width: 220px;
    height: 195px;
    background-color: var(--color-fondo);
    color: var(--color-fondo);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px auto 5px 60px;
    text-align: center;
    overflow: hidden;
    cursor: default;
    border: 3px solid var(--color-footer);
}

.tarjeta-mapa-mis-estadios-asistidos {
    width: 220px;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
    background-color: var(--color-fondo);
    cursor: pointer;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.contenedor-mapa-mis-estadios-asistidos {
    margin-top: 15px;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    background-color: var(--color-fondo);
}

.contenedor-mapa-mis-estadios-asistidos iframe {
    width: 100%;
    max-width: 1000px;
    height: 450px;
    border: none;
    pointer-events: none;
}

.ventana-emergente {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.contenido-ventana-emergente {
    background-color: var(--color-primario);
    color: var(--color-secundario);
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 1000px;
    text-align: center;
    border-radius: 10px;
}

.contenedor-mapa-mis-estadios-asistidos-detalle {
    margin-top: 15px;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    background-color: var(--color-fondo);
}

.contenedor-mapa-mis-estadios-asistidos-detalle iframe {
    width: 100%;
    max-width: 1000px;
    height: 550px;
    border: none;
}

.cerrar {
    color: #aaa;
    float: right;
    font-size: 25px;
    font-weight: bold;
    margin-left: 10px;
}

.cerrar:hover,
.cerrar:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.botones-mapa-detalle {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-top: 0px;
}

.botones-mapa-detalle button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-secundario);
    color: var(--color-primario);
    font-size: 16px;
    padding: 12px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.botones-mapa-detalle button:hover {
    transform: scale(1.05);
}

.boton-estadios-mapa-text,
.boton-paises-mapa-text {
    font-weight: bold;
    margin-right: 8px;
}

.icono-estadio-mapa,
.icono-pais-mapa {
    height: 24px;
    width: auto;
}

.botones-mapa-detalle button.active {
    background-color: var(--color-fondo);
    color: var(--color-primario);
    font-weight: bold;
    border: 2px solid var(--color-primario);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.contenedor-mapa-mis-estadios-asistidos-detalle iframe {
    transition: opacity 0.3s ease-in-out;
}

.contenedor-mapa-mis-estadios-asistidos-detalle iframe.hidden {
    opacity: 0;
}

.tarjeta-mis-estadios-recientes {
    flex-direction: column;
    display: flex;
    align-items: center;
    margin: 10px auto 30px 5px;
    padding: 3px;
    border: 1px solid #bdc3c7;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    cursor: default;
    background-color: var(--color-primario);
    color: var(--color-secundario);
    width: 330px;
    position: fixed;
    top: 505px;
    bottom: 20px;
    overflow-y: auto;
    padding-top: 10px;
}

.tarjeta-mis-estadios-recientes .titulo-mis-estadios-recientes {
    font-size: 19px;
    margin: 5px;
    color: var(--color-secundario);
    margin-bottom: 7px;
}

.tarjetas-mis-estadios-recientes {
    max-height: calc(805vh - 100px);
    overflow-y: auto;
    padding: 0px;
    padding-right: 0px;
    margin-bottom: 20px;
}

.tarjetas-mis-estadios-recientes::-webkit-scrollbar {
    width: 0px;
}

.tarjetas-mis-estadios-recientes-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tarjeta-estadio-mis-estadios-recientes {
    width: 100%;
    max-width: 800px;
    margin: 4px auto;
    padding: 6px;
    border: 1px solid #bdc3c7;
    border-radius: 8px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    cursor: pointer;
    background-color: var(--color-primario);
    color: var(--color-secundario);
    box-sizing: border-box;
}

.info-estadio-mis-estadios-recientes {
    display: flex;
    align-items: center;
    justify-content: center;
}

.info-estadio-mis-estadios-recientes .estadio-estadio-mis-estadios-recientes {
    margin-right: 5px;
    margin-left: 3px;
    margin-bottom: 3px;
    margin-top: 3px;
    width: 30px;
    height: 19.3px;
}

.info-estadio-mis-estadios-recientes .equipo-estadio-mis-estadios-recientes {
    margin-right: 5px;
    margin-left: 5px;
    margin-bottom: 3px;
    margin-top: 3px;
    width: 20px;
    height: 20px;
}

.info-estadio-mis-estadios-recientes h4 {
    font-size: 13px;
    margin: 0px;
    color: var(--color-secundario) 
}

.tarjeta-estadios-asistidos {
    width: 100%;
    max-width: 870px;
    flex-direction: column;
    display: flex;
    align-items: center;
    margin: 5px auto;
    padding: 5px;
    border: 1px solid #bdc3c7;
    border-radius: 8px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    margin-top: 0px;
    cursor: default;
    background-color: var(--color-primario);
    color: var(--color-secundario);
}

.tarjeta-estadios-asistidos .titulo-pagina-estadios-asistidos {
    font-size: 45px;
    margin: 5px;
    color: var(--color-secundario);
    margin-bottom: 15px;
}

.tarjetas-estadios-asistidos {
    max-height: calc(82vh - 100px);
    overflow-y: auto;
    padding: 0px;
    padding-right: 15px;
    margin-bottom: 20px;
}

.tarjetas-estadios-asistidos::-webkit-scrollbar {
    width: 10px;
}

.tarjetas-estadios-asistidos::-webkit-scrollbar-thumb {
    background-color: var(--color-secundario);
    border-radius: 5px;
}

.tarjetas-estadios-asistidos-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tarjeta-estadio-asistido {
    width: 100%;
    max-width: 800px;
    margin: 5px auto;
    padding: 10px;
    border: 1px solid #bdc3c7;
    border-radius: 8px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    cursor: pointer;
    background-color: var(--color-primario);
    color: var(--color-secundario);
    box-sizing: border-box;
}

.info-estadio-asistido {
    display: flex;
    align-items: center;
    justify-content: center;
}

.info-estadio-asistido h4 {
    font-size: 30px;
    color: #fff;
    margin: 0px;
    color: var(--color-secundario) 
}

.info-estadio-asistido .estadio-estadio-asistido {
    margin-right: 20px;
    margin-left: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    width: 85,4px;
    height: 60px;
    border: 1px solid black;
}

.info-estadio-asistido .equipo-estadio-asistido {
    margin-right: 10px;
    margin-left: 20px;
    margin-bottom: 10px;
    margin-top: 10px;
    width: 70px;
    height: 70px;
}

.tarjeta-mis-estadios-competiciones {
    flex-direction: column;
    display: flex;
    align-items: center;
    margin: 10px auto 30px -55px;
    padding: 5px;
    border: 1px solid #bdc3c7;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    cursor: default;
    background-color: var(--color-primario);
    color: var(--color-secundario);
    width: 330px;
    position: fixed;
    top: 71px;
    bottom: 347px;
    overflow-y: auto;
    padding-top: 10px;
}

.tarjeta-mis-estadios-competiciones .titulo-mis-estadios-competiciones {
    font-size: 20px;
    margin: 5px;
    color: var(--color-secundario);
    margin-bottom: 7px;
}

.tarjetas-mis-estadios-competiciones {
    max-height: calc(805vh - 100px);
    overflow-y: auto;
    padding: 0px;
    padding-right: 0px;
    margin-bottom: 20px;
}

.tarjetas-mis-estadios-competiciones::-webkit-scrollbar {
    width: 0px;
}

.tarjetas-mis-estadios-competiciones-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tarjeta-estadio-mis-estadios-competiciones {
    width: 100%;
    max-width: 800px;
    margin: 4px auto;
    padding: 7px;
    border: 1px solid #bdc3c7;
    border-radius: 8px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    cursor: pointer;
    background-color: var(--color-primario);
    color: var(--color-secundario);
    box-sizing: border-box;
}

.info-estadio-mis-estadios-competiciones {
    display: flex;
    align-items: center;
    justify-content: center;
}

.info-estadio-mis-estadios-competiciones .logo-competicion-estadio-mis-estadios-competiciones {
    margin-right: 5px;
    margin-left: 5px;
    margin-bottom: 4px;
    margin-top: 4px;
    width: 25px;
    height: 25px;
}

.info-estadio-mis-estadios-competiciones .pais-estadio-mis-estadios-competiciones {
    margin-right: 3px;
    margin-left: 5px;
    margin-bottom: 4px;
    margin-top: 4px;
    width: 40px;
    height: 25.7px;
}

.info-estadio-mis-estadios-competiciones h4 {
    font-size: 18px;
    margin: 0px;
    color: var(--color-secundario) 
}

.tarjeta-paises-mis-estadios {
    flex-direction: column;
    display: flex;
    align-items: center;
    margin: 10px auto 30px -55px;
    padding: 5px;
    border: 1px solid #bdc3c7;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    cursor: default;
    background-color: var(--color-primario);
    color: var(--color-secundario);
    width: 330px;
    position: fixed;
    top: 400px;
    bottom: 20px;
    overflow-y: auto;
    padding-top: 10px;
}

.tarjeta-paises-mis-estadios .titulo-paises-mis-estadios {
    font-size: 20px;
    margin: 5px;
    color: var(--color-secundario);
    margin-bottom: 7px;
}

.tarjetas-paises-mis-estadios {
    max-height: calc(805vh - 100px);
    overflow-y: auto;
    padding: 0px;
    padding-right: 0px;
    margin-bottom: 20px;
}

.tarjetas-paises-mis-estadios::-webkit-scrollbar {
    width: 0px;
}

.tarjetas-paises-mis-estadios-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tarjeta-pais-paises-mis-estadios {
    width: 100%;
    max-width: 800px;
    margin: 4px auto;
    padding: 7px;
    border: 1px solid #bdc3c7;
    border-radius: 8px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    cursor: default;
    background-color: var(--color-primario);
    color: var(--color-secundario);
    cursor: pointer;
    box-sizing: border-box;
}

.info-pais-paises-mis-estadios {
    display: flex;
    align-items: center;
    justify-content: center;
}

.info-pais-paises-mis-estadios .pais-paises {
    margin-right: 5px;
    margin-left: 10px;
    margin-bottom: 3px;
    margin-top: 3px;
    width: 40px;
    height: 25.7px;
}

.info-pais-paises-mis-estadios .nombre-pais-paises {
    font-size: 18px;
    margin: 0px;
    margin-right: 5px;
    color: var(--color-secundario) 
}

.info-pais-paises-mis-estadios .veces-pais-paises {
    font-size: 18px;
    margin: 0px;
    margin-left: 5px;
    margin-right: 10px;
    color: var(--color-secundario) 
}