/*----------------------------------------------------------PARTIDO ASISTIDO----------------------------------------------------*/
.tarjeta-partido-asistido-detalle {
    width: 100%;
    max-width: 910px;
    min-width: 900px;
    margin: 5px auto;
    padding: 5px;
    border: 1px solid #bdc3c7;
    border-radius: 8px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    margin-top: 0px;
    cursor: default;
    background-color: var(--color-primario);
    color: var(--color-secundario) 
}

.info-partido-asistido-detalle {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.info-partido-asistido-detalle .escudo {
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 5px;
    width: 115px;
    height: 115px;
    cursor: pointer;
}

.info-partido-asistido-detalle h4 {
    font-size: 45px;
    color: #fff;
    margin: 0px;
    color: var(--color-secundario) 
}

.contenedor-comentario {
    display: flex;
    justify-content: center;
    margin-top: 15px;
    margin-bottom: 20px;
}

.contenedor-comentario .comentario {
    width: 100%;
    max-width: 850px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #bdc3c7;
    background-color: #f9f9f9;
    font-size: 17px;
    color: #333;
    line-height: 1.5;
    white-space: pre-wrap;
    word-wrap: break-word;
    margin: 0;
}

.contenedor-comentario .comentario p {
    margin: 0;
    padding: 0;
}

.contenedor-comentario .contenedor-no-comentario {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.contenedor-comentario .contenedor-no-comentario .no-comentario {
    font-size: 30px;
    margin: 0px;
    color: var(--color-secundario) 
}

.contenedor-comentario .contenedor-no-comentario .button-comentar-partido-asistido {
    background-color: var(--color-secundario);
    color: var(--color-primario);
    font-size: 23px;
    padding: 10px;
    margin-top: 0px;
    margin-bottom: 10px;
    border: 5px;
    border-radius: 5px;
    cursor: pointer;
}

.contenedor-comentario .contenedor-no-comentario .button-comentar-partido-asistido:hover {
    transform: scale(1.05);
}

.contenedor-nuevo-comentario {
    width: 100%;
    max-width: 600px;
    margin-top: 15px;
}

.contenedor-nuevo-comentario .campo-nuevo-comentario {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #bdc3c7;
    background-color: #fff;
    font-size: 17px;
    resize: none;
}

.contenedor-nuevo-comentario .campo-nuevo-comentario::placeholder {
    color: #bdc3c7;
}

.botones-anadir-comentario-partido-asistido {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-top: 18px;
    margin-bottom: 10px;
}

.botones-anadir-comentario-partido-asistido .boton-anadir-comentario-partido-asistido,
.botones-anadir-comentario-partido-asistido .boton-cancelar-comentario-partido-asistido {
    background-color: var(--color-secundario);
    color: var(--color-primario);
    font-size: 20px;
    padding: 10px;
    margin-top: 0px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.botones-anadir-comentario-partido-asistido .boton-anadir-comentario-partido-asistido:hover,
.botones-anadir-comentario-partido-asistido .boton-cancelar-comentario-partido-asistido:hover {
    transform: scale(1.05);
    background-color: var(--color-fondo);
}

.tarjeta-partido-asistido-detalle .contenedor-botones-asistido {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 18px;
    margin-bottom: 10px;
}

.tarjeta-partido-asistido-detalle .button-volver-partido-asistido,
.tarjeta-partido-asistido-detalle .button-partido-anterior-asistido,
.tarjeta-partido-asistido-detalle .button-partido-siguiente-asistido {
    background-color: var(--color-secundario);
    color: var(--color-primario);
    font-size: 20px;
    padding: 10px;
    margin-top: 0px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.tarjeta-partido-asistido-detalle .button-volver-partido-asistido:hover,
.tarjeta-partido-asistido-detalle .button-partido-anterior-asistido:hover,
.tarjeta-partido-asistido-detalle .button-partido-siguiente-asistido:hover {
    transform: scale(1.05);
}