/*----------------------------------------------------------PARTIDO ASISTIDO----------------------------------------------------*/
.tarjeta-partido-asistido-detalle {
    width: 100%;
    max-width: 910px;
    min-width: 900px;
    margin: 5px auto;
    padding: 5px;
    border: 1px solid #bdc3c7;
    border-radius: 8px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    margin-top: 0px;
    cursor: default;
    background-color: var(--color-primario);
    color: var(--color-secundario) 
}

.info-partido-asistido-detalle {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.info-partido-asistido-detalle .escudo {
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 5px;
    width: 115px;
    height: 115px;
    cursor: pointer;
}

.info-partido-asistido-detalle h4 {
    font-size: 45px;
    color: #fff;
    margin: 0px;
    color: var(--color-secundario) 
}

.contenedor-comentario {
    display: flex;
    justify-content: center;
    margin-top: 15px;
    margin-bottom: 20px;
}

.comentario {
    width: 100%;
    max-width: 850px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #bdc3c7;
    background-color: #f9f9f9;
    font-size: 17px;
    color: #333;
    line-height: 1.5;
    white-space: pre-wrap;
    word-wrap: break-word;
    margin: 0;
}

.comentario p {
    margin: 0;
    padding: 0;
}

.no-comentario {
    font-size: 30px;
    color: #fff;
    margin: 0px;
    color: var(--color-secundario) 
}