/*-----------------------------------------------------PARTIDOS CALENDARIO-----------------------------------------*/
.contenedor-lateral {
    width: 260px;
    position: fixed;
    top: 60px;
    bottom: 50px;
    overflow-y: auto;
}

.contenedor-lateral-izq {
    left: 0;
    padding-top: 10px;
    z-index: 1002;
}

.circulo-partidos-calendario-totales,
.circulo-partidos-calendario-asistidos {
    width: 175px;
    height: 175px;
    border-radius: 50%;
    background-color: var(--color-footer);
    color: var(--color-secundario);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 35px auto 10px 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    overflow: hidden;
    cursor: default;
    border: 3px solid #000;
}

.circulo-partidos-calendario-totales .titulo-circulo-partidos-calendario-totales,
.circulo-partidos-calendario-asistidos .titulo-circulo-partidos-calendario-asistidos
 {
    margin: 2px 0;
    margin-top: 30px;
    padding: 0;
    font-size: 19px;
}

.circulo-partidos-calendario-totales .valor-circulo-partidos-calendario-totales,
.circulo-partidos-calendario-asistidos .valor-circulo-partidos-calendario-asistidos {
    margin: 4px 0;
    margin-top: 10px;
    padding: 0;
    font-size: 30px;
}

.circulo-estadisticas-partidos-calendario {
    width: 175px;
    height: 175px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 35px auto 10px 15px;
    text-align: center;
    overflow: hidden;
    cursor: default;
}

.circulo-partido-proximo-calendario {
    width: 180px;
    height: 170px;
    background-color: var(--color-fondo);
    color: var(--color-fondo);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 35px auto 10px 15px;
    text-align: center;
    overflow: hidden;
    cursor: default;
}

.contenido-principal {
    padding-top: 55px;
}

.tarjeta-partido-proximo-calendario {
    width: 170px;
    margin: 5px auto;
    flex-direction: column;
    display: flex;
    align-items: center;
    padding: 5px;
    border: 1px solid #bdc3c7;
    border-radius: 8px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    cursor: pointer;
    background-color: var(--color-primario);
    color: var(--color-secundario) 
}

.tarjeta-partido-proximo-calendario .titulo-circulo-partido-proximo-calendario {
    font-size: 20px;
    margin: 3px;
    color: var(--color-secundario) 
}

.tarjeta-partido-proximo-calendario p {
    font-size: 14px;
    margin: 3px;
    color: var(--color-secundario) 
}

.info-partido-proximo-calendario {
    display: flex;
    align-items: center;
    justify-content: center;
}

.info-partido-proximo-calendario img {
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 5px;
    width: 40px;
    height: 40px;
}

.info-partido-proximo-calendario h4 {
    font-size: 23px;
    color: #fff;
    margin: 2px;
    color: var(--color-secundario) 
}

.tarjeta-calendario {
    width: 100%;
    max-width: 1150px;
    flex-direction: column;
    display: flex;
    align-items: center;
    margin: 5px auto;
    padding: 5px;
    border: 1px solid #bdc3c7;
    border-radius: 8px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    margin-top: 0px;
    cursor: default;
    background-color: var(--color-primario);
    color: var(--color-secundario);
    margin-bottom: 40px;
}

.contenedor-titulo-calendario {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 15px;
}

.titulo-pagina-calendario {
    font-size: 45px;
    margin: 5px;
    color: var(--color-secundario);
    margin-bottom: 1px;
}

.ano-mes-filtrado {
    font-size: 22px;
    margin-left: 10px;
    color: var(--color-primario);
    background-color: var(--color-secundario);
    margin-bottom: 1px;
    border: 1px solid #bdc3c7;
    border-radius: 8px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    padding: 5px;
}

.icono-flecha-fecha{
    height: 20px;
    margin-top: 15px;
}

.desplegable-contenedor {
    position: relative;
}

.boton-desplegable {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.menu-desplegable {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: var(--color-primario);
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    min-width: 300px;
    padding: 8px 0;
    border-radius: 10px;
    transition: all 0.3s ease;
    max-height: 400px;
    overflow-y: auto;
}

.menu-desplegable .opcion-desplegable {
    color: var(--color-secundario);
    padding: 8px 16px;
    text-decoration: none;
    display: block;
    font-size: 22px;
}

.menu-desplegable .opcion-desplegable:hover {
    background-color: var(--color-secundario);
    color: var(--color-primario);
}

.dias-semana {
    display: flex;
    justify-content: center;
    gap: 58px;
    margin-bottom: 1px;
    font-size: 20px;
    font-weight: bold;
    color: var(--color-secundario);
}

.dias-semana p {
    width: 70px;
    text-align: center;
}

.contenedor-calendario {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.calendario {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    margin-bottom: 12px;
}

.fila {
    display: flex;
    gap: 5px;
}

.dia,
.dia-sin-partido,
.dia-proximo,
.dia-asistido {
    width: 120px;
    height: 92px;
    justify-content: center;
    background-color: var(--color-secundario);
    border: 2px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.dia,
.dia-asistido {
    cursor: pointer;
}

.contenido-partido {
    width: 120px;
    height: 34px;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    background-color: var(--color-secundario);
}

.contenido-partido img {
    margin-top: 10px;
    width: 32px;
    height: 32px;
}

.contenido-partido p {
    font-size: 18px;
    font-weight: bold;
    color: #000;
    margin-left: 5px;
    margin-right: 5px;
}

.contenido-no-partido {
    width: 120px;
    height: 34px;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    background-color: var(--color-secundario);
}

.numero-dia-partido,
.numero-dia-no-partido,
.numero-dia-partido-proximo,
.numero-dia-partido-asistido {
    font-size: 17px;
    font-weight: bold;
    color: var(--color-secundario);
}

.numero-dia-no-partido {
    color: #000;
}

.numero-dia-partido {
    background-color: var(--color-primario);
}

.numero-dia-partido-proximo {
    background-color: #555;
}

.numero-dia-partido-asistido {
    background-color: var(--color-toogle);
}

.dia-vacio {
    width: 120px;
    height: 92px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #d1d1d1;
    border: 2px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.button-partidos-calendario-anterior,
.button-partidos-calendario-siguiente {
    background-color: var(--color-secundario);
    color: var(--color-primario);
    font-size: 30px;
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

.button-partidos-calendario-anterior:hover,
.button-partidos-calendario-siguiente:hover {
    transform: scale(1.01);
}