/*----------------------------------------------------------PARTIDOS-------------------------------------------------------------*/
body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: relative;
    overflow-x: hidden;
}

body:before, body:after {
    content: "";
    position: fixed;
    top: 0;
    bottom: 0;
    width: 250px;
    z-index: -1;
    background: repeating-linear-gradient(
        to bottom,
        var(--color-primario),
        var(--color-primario) 30px,
        var(--color-secundario) 30px,
        var(--color-secundario) 60px
    );
}

body:before {
    left: 0;
}

body:after {
    right: 0;
}

.body-equipo-atletico-madrid {
    --color-primario: #E5241F;
    --color-secundario: #FFF;
    --color-footer: #031A77;
    --color-toogle: #031A77;
    --color-fondo: #FFE7E5;
    background-color: var(--color-fondo);
}

.body-equipo-barcelona {
    --color-primario: #004C9C;
    --color-secundario: #C20044;
    --color-footer: #004C9C;
    --color-toogle: #FEBC00;
    --color-fondo: #FCE1EC;
    background-color: var(--color-fondo);
}

.body-equipo-rayo-vallecano {
    --color-primario: #E3361D;
    --color-secundario: #C0AE33;
    --color-footer:  #E3361D;
    --color-toogle: #FFF;
    --color-fondo: #fff;
    background-color: var(--color-fondo);
}

.contenido-principal {
    text-align: center;
    margin: 20px auto;
    max-width: 1200px;
    position: relative;
}

.contenedor-titulo {
    width: 100%;
    max-width: 850px;
    margin: 0px auto;
    margin-bottom: 15px;
    padding: 0px;
    border: 1px solid #bdc3c7;
    border-radius: 5px;
    box-shadow: 0 0px 5px rgba(0, 0, 0, 0.1);
    background-color: var(--color-primario);
    color: var(--color-secundario) 
}

.contenedor-titulo h1 {
    font-size: 40px;
}

#toggle-navbar {
    float: right;
    background-color: #e74c3c;
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    position: fixed;
    top: 10px;
    right: 30px;
    z-index: 2;
    background-color: var(--color-toogle);
    color: var(--color-secundario) 
}

.navbar {
    display: none;
    position: fixed;
    top: 50px;
    right: 30px;
    padding: 10px;
    border-radius: 5px;
    z-index: 1;
    background-color: var(--color-toogle);
}

.navbar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.navbar li {
    margin-bottom: 10px;
}

.navbar a {
    text-decoration: none;
    font-size: 16px;
    transition: color 0.3s ease-in-out;
    color: var(--color-secundario) 
}

.navbar a:hover {
    color: #000;
}

.tarjetas-partidos {
    max-height: calc(61vh - 100px);
    overflow-y: auto;
    padding: 0px;
}

.tarjetas-partidos::-webkit-scrollbar {
    width: 0px;
}

.tarjetas-partidos::-webkit-scrollbar-thumb {
    background-color: var(--color-primario);
    border-radius: 5px;
}

.tarjetas-partidos-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tarjeta-partido {
    width: 100%;
    max-width: 800px;
    margin: 5px auto;
    padding: 5px;
    border: 1px solid #bdc3c7;
    border-radius: 8px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    cursor: pointer;
    background-color: var(--color-primario);
    color: var(--color-secundario) 
}

.tarjeta-partido p {
    font-size: 18px;
    margin: 0px;
    color: var(--color-secundario) 
}

.info-partido {
    display: flex;
    align-items: center;
    justify-content: center;
}

.info-partido img {
    margin-right: 15px;
    margin-left: 15px;
    margin-bottom: 10px;
    width: 70px;
    height: 70px;
}

.info-partido h4 {
    font-size: 26px;
    color: #fff;
    margin: 0px;
    color: var(--color-secundario) 
}

.tarjeta-partido:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2);
}

.contenedor-no-partidos {
    width: 100%;
    max-width: 700px;
    margin: 5px auto;
    padding: 5px;
    border: 1px solid #bdc3c7;
    border-radius: 8px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    background-color: var(--color-primario);
    color: var(--color-secundario) 
}

.mensaje-no-partidos {
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 30px;
    text-align: center;
    color: var(--color-secundario) 
}

.contenedor-tipo-partidos {
    width: 100%;
    max-width: 50px;
    text-align: center;
    margin: 10px auto;
    justify-content: center;
    display: flex;
    gap: 30px;
}

.tipo-partidos {
    display: inline-block;
    padding: 1px 15px;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-size: 20px;
    margin-right: 10px;
}

.tipo-partidos:hover {
    color: #000;
    transform: scale(1.05);
}

.contenedor-desplegable {
    display: flex;
    align-items: center;
}

.contenedor-desplegable select {
    padding: 5px 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
    cursor: pointer;
}

footer {
    margin-top: 10px;
    padding: 5px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    font-size: 10px;
    opacity: 1;
    letter-spacing: 1px;
    z-index: 1;
    background-color: var(--color-footer);
    color: var(--color-secundario);
}

/*----------------------------------------------------------PARTIDO-------------------------------------------------------------*/

.tarjeta-partido-detalle {
    width: 100%;
    max-width: 1000px;
    margin: 5px auto;
    padding: 5px;
    border: 1px solid #bdc3c7;
    border-radius: 8px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    cursor: default;
    background-color: var(--color-primario);
    color: var(--color-secundario) 
}

.tarjeta-partido-detalle .competicion {
    font-size: 30px;
    margin: 10px;
    color: var(--color-secundario) 
}

.info-partido-detalle {
    display: flex;
    align-items: center;
    justify-content: center;
}

.info-partido-detalle .escudo {
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 5px;
    width: 120px;
    height: 120px;
    cursor: pointer;
}

.info-partido-detalle h4 {
    font-size: 45px;
    color: #fff;
    margin: 0px;
    color: var(--color-secundario) 
}

.info-partido-estadio {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 15px;
    background-color: var(--color-fondo);
    border-radius: 10px;
    max-width: 600px;
    margin: 10px auto;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.info-partido-estadio .nombre-estadio {
    font-size: 30px;
    color: var(--color-secundario);
    margin: 0 15px;
    text-align: center;
    padding: 10px;
    background-color: var(--color-primario);
    border-radius: 10px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    flex: 1;
    min-width: 150px;
    cursor: pointer;
}

.info-partido-estadio .estadio {
    margin-top: 10px;
    margin-bottom: 15px;
    width: 412,5px;
    height: 275px;
    border: 2px solid black;
    display: inline-block;
    cursor: pointer;
}

.tarjeta-partido-detalle .contenedor-botones {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.tarjeta-partido-detalle .button-volver-partido,
.tarjeta-partido-detalle .button-partido-anterior,
.tarjeta-partido-detalle .button-partido-siguiente{
    background-color: var(--color-secundario);
    color: var(--color-primario);
    font-size: 20px;
    padding: 10px;
    margin-top: 0px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.tarjeta-partido-detalle .button-volver-partido:hover,
.tarjeta-partido-detalle .button-partido-anterior:hover,
.tarjeta-partido-detalle .button-partido-siguiente:hover {
    transform: scale(1.05);
}

/*----------------------------------------------------------EQUIPO----------------------------------------------------------------*/

.tarjeta-equipo {
    width: 100%;
    max-width: 1000px;
    flex-direction: column;
    display: flex;
    align-items: center;
    margin: 5px auto;
    padding: 5px;
    border: 1px solid #bdc3c7;
    border-radius: 8px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    cursor: default;
    background-color: var(--color-primario);
    color: var(--color-secundario)
}

.tarjeta-equipo .nombre-largo {
    font-size: 45px;
    margin: 5px;
    color: var(--color-secundario) 
}

.tarjeta-equipo .escudo-equipo {
    margin-top: 15px;
    width: 180px;
    height: 180px;
}

.info-equipo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
    background-color: var(--color-fondo);
    border-radius: 10px;
    max-width: 1000px;
    margin: 20px auto;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.info-equipo p {
    font-size: 16px;
    color: var(--color-secundario);
    margin: 0 15px;
    text-align: center;
    padding: 10px;
    background-color: var(--color-primario);
    border-radius: 10px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    flex: 1;
    min-width: 170px;
}

.info-equipo-imagenes {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 15px;
    background-color: var(--color-fondo);
    border-radius: 10px;
    max-width: 1000px;
    margin: 20px auto;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.info-equipo-imagenes p {
    font-size: 15px;
    color: var(--color-secundario);
    margin: 0 15px;
    text-align: center;
    padding: 10px;
    background-color: var(--color-primario);
    border-radius: 10px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    flex: 1;
    min-width: 170px;
}

.info-equipo-imagenes .entrenador-equipo {
    margin-top: 10px;
    width: 130px;
    height: 130px;
    border: 2px solid black;
}

.info-equipo-imagenes .estadio-equipo {
    margin-top: 10px;
    width: 185px;
    height: 130px;
    border: 2px solid black;
    cursor: pointer;
}

.info-equipo-imagenes .presidente-equipo {
    margin-top: 10px;
    width: 130px;
    height: 130px;
    border: 2px solid black;
}

.tarjeta-equipo .button-volver-equipo {
    background-color: var(--color-secundario);
    color: var(--color-primario);
    font-size: 20px;
    padding: 10px;
    margin-top: 0px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.tarjeta-equipo .button-volver-equipo:hover {
    transform: scale(1.05);
}

/*----------------------------------------------------------ESTADIO--------------------------------------------------------------*/

.tarjeta-estadio {
    width: 100%;
    max-width: 1000px;
    flex-direction: column;
    display: flex;
    align-items: center;
    margin: 5px auto;
    padding: 5px;
    border: 1px solid #bdc3c7;
    border-radius: 8px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    cursor: default;
    background-color: var(--color-primario);
    color: var(--color-secundario)
}

.tarjeta-estadio .nombre {
    font-size: 55px;
    margin: 0px;
    color: var(--color-secundario) 
}

.equipo-estadio {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 0px;
    max-width: 1000px;
}

.equipo-estadio .escudo-equipo {
    margin-top: 10px;
    margin-right: 5px;
    margin-left: 5px;
    width: 50px;
    height: 50px;
    cursor: pointer;
}

.tarjeta-estadio .direccion {
    font-size: 22px;
    margin: 5px;
    color: var(--color-secundario) 
}

.tarjeta-estadio .imagen-estadio {
    margin-top: 10px;
    width: 525px;
    height: 350px;
    border: 2px solid black;
}

.info-estadio-detalle {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
    background-color: var(--color-fondo);
    border-radius: 10px;
    max-width: 1000px;
    margin: 10px auto;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.info-estadio-detalle p {
    font-size: 16px;
    color: var(--color-secundario);
    margin: 0 15px;
    text-align: center;
    padding: 10px;
    background-color: var(--color-primario);
    border-radius: 10px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    flex: 1;
    min-width: 170px;
}

.tarjeta-estadio .button-volver-estadio {
    background-color: var(--color-secundario);
    color: var(--color-primario);
    font-size: 20px;
    padding: 10px;
    margin-top: 0px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.tarjeta-estadio .button-volver-estadio:hover {
    transform: scale(1.05);
}