/*----------------------------------------------------------WRAPPED-------------------------------------------------*/
.tarjeta-wrapped {
    width: 100%;
    max-width: 870px;
    flex-direction: column;
    display: flex;
    align-items: center;
    margin: 5px auto;
    padding: 5px;
    border: 1px solid #bdc3c7;
    border-radius: 8px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    margin-top: 0px;
    cursor: default;
    background-color: var(--color-primario);
    color: var(--color-secundario);
}

.titulo-pagina-wrapped {
    font-size: 45px;
    margin: 5px;
    color: var(--color-secundario);
    margin-bottom: 25px;
}

.fila-datos {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 24px;
    padding: 20px;
}

.tarjeta-dato {
    aspect-ratio: 1/1;
    min-width: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 12px;
    border: 1px solid #bdc3c7;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    background-color: var(--color-primario);
    color: var(--color-secundario);
    cursor: pointer;
}

.tarjeta-dato p {
    font-size: 18px;
    margin-bottom: 8px;
    color: var(--color-secundario) 
}

.valor-dato {
    display: flex;
    align-items: center;
    justify-content: center;
}

.tarjeta-dato h4 {
    font-size: 32px;
    margin: 0;
}

.tarjeta-dato img {
    width: 80px;
    height: 80px;
    margin-bottom: 8px;
    margin-right: 10px;
}

.ventana-emergente {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.contenido-ventana-emergente {
    background-color: var(--color-primario);
    color: var(--color-secundario);
    margin: 5% auto;
    padding: 40px;
    border: 1px solid #888;
    width: 80%;
    max-width: 1000px;
    text-align: center;
    border-radius: 10px;
}

.titulo-ventana {
    font-size: 45px;
    margin: 5px;
    color: var(--color-secundario);
    margin-bottom: 25px;
}

.cerrar {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.cerrar:hover,
.cerrar:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.contenedor-tarjetas-partidos-asistidos{
    max-width: 870px;
    text-align: center;
    margin: 20px auto;
    margin-bottom: 5px;
    margin-top: 0px;
}

.tarjetas-partidos-asistidos {
    max-height: calc(71vh - 100px);
    overflow-y: auto;
    padding: 0px;
}

.tarjetas-partidos-asistidos::-webkit-scrollbar {
    width: 10px;
}

.tarjetas-partidos-asistidos::-webkit-scrollbar-thumb {
    background-color: var(--color-primario);
    border-radius: 5px;
}

.tarjetas-partidos-asistidos-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tarjeta-partido-asistidos {
    width: 100%;
    max-width: 800px;
    margin: 5px auto;
    padding: 5px;
    border: 1px solid #bdc3c7;
    border-radius: 8px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    cursor: pointer;
    background-color: var(--color-primario);
    color: var(--color-secundario) 
}

.tarjeta-partido-asistidos p {
    font-size: 18px;
    margin: 0px;
    color: var(--color-secundario) 
}

.info-partido-asistidos {
    display: flex;
    align-items: center;
    justify-content: center;
}

.info-partido-asistidos img {
    margin-right: 15px;
    margin-left: 15px;
    margin-bottom: 10px;
    width: 70px;
    height: 70px;
}

.info-partido-asistidos h4 {
    font-size: 26px;
    color: #fff;
    margin: 0px;
    color: var(--color-secundario) 
}

.tarjeta-partido-asistidos:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2);
}

.tarjetas-estadios-asistidos {
    max-height: calc(71vh - 100px);
    overflow-y: auto;
    padding: 0px;
    padding-right: 15px;
    margin-bottom: 20px;
}

.tarjetas-estadios-asistidos::-webkit-scrollbar {
    width: 0px;
}

.tarjetas-estadios-asistidos::-webkit-scrollbar-thumb {
    background-color: var(--color-secundario);
    border-radius: 5px;
}

.tarjetas-estadios-asistidos-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tarjeta-estadio-asistido {
    width: 100%;
    max-width: 800px;
    margin: 5px auto;
    padding: 10px;
    border: 1px solid #bdc3c7;
    border-radius: 8px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    cursor: pointer;
    background-color: var(--color-primario);
    color: var(--color-secundario);
    box-sizing: border-box;
}

.info-estadio-asistido {
    display: flex;
    align-items: center;
    justify-content: center;
}

.info-estadio-asistido h4 {
    font-size: 32px;
    color: #fff;
    margin: 0px;
    color: var(--color-secundario) 
}

.info-estadio-asistido .estadio-estadio-asistido {
    margin-right: 20px;
    margin-left: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    width: 99,6px;
    height: 70px;
    border: 1px solid black;
}

.info-estadio-asistido .pais-estadio-asistido {
    margin-right: 10px;
    margin-left: 20px;
    margin-bottom: 10px;
    margin-top: 10px;
    width: 70px;
    height: 45px;
}

.tarjetas-equipos-vistos {
    max-height: calc(71vh - 100px);
    overflow-y: auto;
    padding: 0px;
    padding-right: 15px;
    margin-bottom: 20px;
}

.tarjetas-equipos-vistos::-webkit-scrollbar {
    width: 0px;
}

.tarjetas-equipos-vistos::-webkit-scrollbar-thumb {
    background-color: var(--color-secundario);
    border-radius: 5px;
}

.tarjetas-equipos-vistos-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tarjeta-equipo-visto {
    width: 100%;
    max-width: 800px;
    margin: 5px auto;
    padding: 10px;
    border: 1px solid #bdc3c7;
    border-radius: 8px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    cursor: pointer;
    background-color: var(--color-primario);
    color: var(--color-secundario);
    box-sizing: border-box;
}

.info-equipo-visto {
    display: flex;
    align-items: center;
    justify-content: center;
}

.info-equipo-visto h4 {
    font-size: 30px;
    color: #fff;
    margin: 0px;
    color: var(--color-secundario) 
}

.info-equipo-visto .escudo-equipo-visto {
    margin-right: 20px;
    margin-left: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    width: 70px;
    height: 70px;
}

.info-equipo-visto .pais-equipo-visto {
    margin-right: 10px;
    margin-left: 20px;
    margin-bottom: 10px;
    margin-top: 10px;
    width: 70px;
    height: 45px;
}