/*----------------------------------------------------------WRAPPED-------------------------------------------------*/
.circulo-partido-mas-goles {
    width: 210px;
    height: 195px;
    background-color: var(--color-fondo);
    color: var(--color-fondo);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 15px auto 10px 55px;
    text-align: center;
    overflow: hidden;
    cursor: default;
}

.tarjeta-partido-mas-goles {
    width: 195px;
    margin: 5px auto;
    flex-direction: column;
    display: flex;
    align-items: center;
    padding: 5px;
    border: 1px solid #bdc3c7;
    border-radius: 8px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    cursor: pointer;
    background-color: var(--color-primario);
    color: var(--color-secundario) 
}

.tarjeta-partido-mas-goles .titulo-circulo-partido-mas-goles {
    font-size: 20px;
    margin: 3px;
    color: var(--color-secundario) 
}

.tarjeta-partido-mas-goles p {
    font-size: 14px;
    margin: 3px;
    color: var(--color-secundario) 
}

.info-partido-mas-goles {
    display: flex;
    align-items: center;
    justify-content: center;
}

.info-partido-mas-goles img {
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 5px;
    width: 50px;
    height: 50px;
}

.info-partido-mas-goles h4 {
    font-size: 26px;
    color: #fff;
    margin: 2px;
    color: var(--color-secundario) 
}

.circulo-estadisticas-partidos-asistidos {
    width: 190px;
    height: 190px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 15px auto 10px 70px;
    text-align: center;
    overflow: hidden;
    cursor: default;
}

.circulo-mapa-estadios-asistidos-wrapped {
    width: 220px;
    height: 195px;
    background-color: var(--color-fondo);
    color: var(--color-fondo);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 25px auto 5px 55px;
    text-align: center;
    overflow: hidden;
    cursor: default;
    border: 3px solid var(--color-footer);
}

.tarjeta-mapa-estadios-asistidos-wrapped {
    width: 220px;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
    background-color: var(--color-fondo);
    cursor: pointer;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.contenedor-mapa-estadios-asistidos-wrapped {
    margin-top: 15px;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    background-color: var(--color-fondo);
}

.contenedor-mapa-estadios-asistidos-wrapped iframe {
    width: 100%;
    max-width: 1000px;
    height: 450px;
    border: none;
    pointer-events: none;
}

.contenido-ventana-emergente-mapa-wrapped {
    background-color: var(--color-primario);
    color: var(--color-secundario);
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 1000px;
    text-align: center;
    border-radius: 10px;
}

.botones-mapa-detalle {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-top: 0px;
}

.botones-mapa-detalle button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-secundario);
    color: var(--color-primario);
    font-size: 16px;
    padding: 12px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.botones-mapa-detalle button:hover {
    transform: scale(1.05);
}

.boton-estadios-mapa-text,
.boton-paises-mapa-text {
    font-weight: bold;
    margin-right: 8px;
}

.icono-estadio-mapa,
.icono-pais-mapa {
    height: 24px;
    width: auto;
}

.botones-mapa-detalle button.active {
    background-color: var(--color-fondo);
    color: var(--color-primario);
    font-weight: bold;
    border: 2px solid var(--color-primario);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.contenedor-mapa-estadios-asistidos-wrapped-detalle iframe {
    transition: opacity 0.3s ease-in-out;
}

.contenedor-mapa-estadios-asistidos-wrapped-detalle iframe.hidden {
    opacity: 0;
}

.contenedor-mapa-estadios-asistidos-wrapped-detalle {
    margin-top: 15px;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    background-color: var(--color-fondo);
}

.contenedor-mapa-estadios-asistidos-wrapped-detalle iframe {
    width: 100%;
    max-width: 1000px;
    height: 550px;
    border: none;
}

.tarjeta-wrapped {
    width: 100%;
    max-width: 870px;
    flex-direction: column;
    display: flex;
    align-items: center;
    margin: 5px auto;
    padding: 5px;
    border: 1px solid #bdc3c7;
    border-radius: 8px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    margin-top: 0px;
    cursor: default;
    background-color: var(--color-primario);
    color: var(--color-secundario);
}

.titulo-pagina-wrapped {
    font-size: 45px;
    margin: 5px;
    color: var(--color-secundario);
    margin-bottom: 18px;
}

.fila-datos {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 13px;
    padding: 10px;
}

.tarjeta-dato {
    aspect-ratio: 1/1;
    min-width: 140px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 6px;
    border-radius: 12px;
    border: 1px solid #bdc3c7;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    background-color: var(--color-primario);
    color: var(--color-secundario);
    cursor: pointer;
}

.tarjeta-dato p {
    font-size: 17px;
    margin-bottom: 8px;
    color: var(--color-secundario) 
}

.valor-dato {
    display: flex;
    align-items: center;
    justify-content: center;
}

.tarjeta-dato h4 {
    font-size: 30px;
    margin: 0;
}

.tarjeta-dato .escudo-mas-visto {
    width: 60px;
    height: 60px;
    margin-bottom: 8px;
    margin-right: 10px;
}

.tarjeta-dato .estado {
    margin-left: 5px;
    margin-top: 5px;
    width: 20px;
    height: 20px;
}

.ventana-emergente {
    display: none;
    position: fixed;
    z-index: 1002;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.contenido-ventana-emergente {
    background-color: var(--color-primario);
    color: var(--color-secundario);
    margin: 5% auto;
    padding: 40px;
    border: 1px solid #888;
    width: 80%;
    max-width: 1000px;
    text-align: center;
    border-radius: 10px;
}

.titulo-ventana {
    font-size: 45px;
    margin: 5px;
    color: var(--color-secundario);
    margin-bottom: 25px;
}

.cerrar {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.cerrar:hover,
.cerrar:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.contenedor-tarjetas-partidos-asistidos{
    max-width: 870px;
    text-align: center;
    margin: 20px auto;
    margin-bottom: 5px;
    margin-top: 0px;
}

.tarjetas-partidos-asistidos {
    max-height: calc(71vh - 100px);
    overflow-y: auto;
    padding: 0px;
}

.tarjetas-partidos-asistidos::-webkit-scrollbar {
    width: 10px;
}

.tarjetas-partidos-asistidos::-webkit-scrollbar-thumb {
    background-color: var(--color-primario);
    border-radius: 5px;
}

.tarjetas-partidos-asistidos-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tarjeta-partido-asistidos {
    width: 100%;
    max-width: 800px;
    margin: 5px auto;
    padding: 5px;
    border: 1px solid #bdc3c7;
    border-radius: 8px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    cursor: pointer;
    background-color: var(--color-primario);
    color: var(--color-secundario) 
}

.tarjeta-partido-asistidos p {
    font-size: 18px;
    margin: 0px;
    color: var(--color-secundario) 
}

.info-partido-asistidos {
    display: flex;
    align-items: center;
    justify-content: center;
}

.info-partido-asistidos img {
    margin-right: 15px;
    margin-left: 15px;
    margin-bottom: 10px;
    width: 70px;
    height: 70px;
}

.info-partido-asistidos h4 {
    font-size: 26px;
    color: #fff;
    margin: 0px;
    color: var(--color-secundario) 
}

.tarjeta-partido-asistidos:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2);
}

.tarjetas-estadios-asistidos {
    max-height: calc(71vh - 100px);
    overflow-y: auto;
    padding: 0px;
    padding-right: 15px;
    margin-bottom: 20px;
}

.tarjetas-estadios-asistidos::-webkit-scrollbar {
    width: 0px;
}

.tarjetas-estadios-asistidos::-webkit-scrollbar-thumb {
    background-color: var(--color-secundario);
    border-radius: 5px;
}

.tarjetas-estadios-asistidos-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tarjeta-estadio-asistido {
    width: 100%;
    max-width: 800px;
    margin: 5px auto;
    padding: 10px;
    border: 1px solid #bdc3c7;
    border-radius: 8px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    cursor: pointer;
    background-color: var(--color-primario);
    color: var(--color-secundario);
    box-sizing: border-box;
}

.info-estadio-asistido {
    display: flex;
    align-items: center;
    justify-content: center;
}

.info-estadio-asistido h4 {
    font-size: 32px;
    color: #fff;
    margin: 0px;
    color: var(--color-secundario) 
}

.info-estadio-asistido .estadio-estadio-asistido {
    margin-right: 20px;
    margin-left: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    width: 99,6px;
    height: 70px;
    border: 1px solid black;
}

.info-estadio-asistido .pais-estadio-asistido {
    margin-right: 10px;
    margin-left: 20px;
    margin-bottom: 10px;
    margin-top: 10px;
    width: 70px;
    height: 45px;
}

.tarjetas-paises-asistidos {
    max-height: calc(71vh - 100px);
    overflow-y: auto;
    padding: 0px;
    padding-right: 15px;
    margin-bottom: 20px;
}

.tarjetas-paises-asistidos::-webkit-scrollbar {
    width: 0px;
}

.tarjetas-paises-asistidos::-webkit-scrollbar-thumb {
    background-color: var(--color-secundario);
    border-radius: 5px;
}

.tarjetas-paises-asistidos-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tarjeta-pais-asistido {
    width: 100%;
    max-width: 800px;
    margin: 5px auto;
    padding: 10px;
    border: 1px solid #bdc3c7;
    border-radius: 8px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    cursor: default;
    background-color: var(--color-primario);
    color: var(--color-secundario);
    box-sizing: border-box;
}

.info-pais-asistido {
    display: flex;
    align-items: center;
    justify-content: center;
}

.info-pais-asistido h4 {
    font-size: 32px;
    color: #fff;
    margin: 0px;
    color: var(--color-secundario) 
}

.info-pais-asistido .pais-asistido {
    margin-right: 10px;
    margin-left: 20px;
    margin-bottom: 10px;
    margin-top: 10px;
    width: 70px;
    height: 45px;
}

.tarjetas-equipos-vistos {
    max-height: calc(71vh - 100px);
    overflow-y: auto;
    padding: 0px;
    padding-right: 15px;
    margin-bottom: 20px;
}

.tarjetas-equipos-vistos::-webkit-scrollbar {
    width: 0px;
}

.tarjetas-equipos-vistos::-webkit-scrollbar-thumb {
    background-color: var(--color-secundario);
    border-radius: 5px;
}

.tarjetas-equipos-vistos-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tarjeta-equipo-visto {
    width: 100%;
    max-width: 800px;
    margin: 5px auto;
    padding: 10px;
    border: 1px solid #bdc3c7;
    border-radius: 8px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    cursor: pointer;
    background-color: var(--color-primario);
    color: var(--color-secundario);
    box-sizing: border-box;
}

.info-equipo-visto {
    display: flex;
    align-items: center;
    justify-content: center;
}

.info-equipo-visto h4 {
    font-size: 30px;
    color: #fff;
    margin: 0px;
    color: var(--color-secundario) 
}

.info-equipo-visto .escudo-equipo-visto {
    margin-right: 20px;
    margin-left: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    width: 70px;
    height: 70px;
}

.info-equipo-visto .pais-equipo-visto {
    margin-right: 10px;
    margin-left: 20px;
    margin-bottom: 10px;
    margin-top: 10px;
    width: 70px;
    height: 45px;
}

.tarjetas-trayectos-realizados {
    max-height: calc(71vh - 100px);
    overflow-y: auto;
    padding: 0px;
    padding-right: 15px;
    margin-bottom: 20px;
}

.tarjetas-trayectos-realizados::-webkit-scrollbar {
    width: 0px;
}

.tarjetas-trayectos-realizados::-webkit-scrollbar-thumb {
    background-color: var(--color-secundario);
    border-radius: 5px;
}

.tarjetas-trayectos-realizados-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tarjeta-trayecto-realizado {
    width: 100%;
    max-width: 800px;
    margin: 10px auto;
    padding: 10px;
    border: 1px solid #bdc3c7;
    border-radius: 8px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    cursor: pointer;
    background-color: var(--color-primario);
    color: var(--color-secundario);
    box-sizing: border-box;
}

.linea {
    width: 650px;
}

.contenedor-datos-trayecto-realizado {
    display: flex;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.icono-distancia-trayecto-realizado,
.icono-escala-trayecto-realizado {
    height: 30px;
    margin-right: 5px;
    margin-left: 20px;
    cursor: default;
}

.distancia-trayecto-realizado,
.escala-trayecto-realizado {
    color: var(--color-secundario);
    font-size: 20px;
}

.contenedor-origen-destino {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 5px;
    padding-bottom: 5px;
    width: 100%;
    cursor: pointer;
}

.contenedor-pais-ciudad-partido {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    width: 800px;
    text-align: left;
    padding-left: 30px;
    box-sizing: border-box;
}

.icono-tramo-trayecto {
    height: 30px;
    margin-right: 4px;
}

.texto-origen-destino {
    color: var(--color-secundario);
    font-size: 18px;
    margin: 0;
    text-align: left;
    word-wrap: break-word;
    white-space: normal;
}

.icono-flecha-derecha,
.icono-transporte {
    height: 57px;
    width: 57px;
    margin-right: 4px;
    margin-left: 4px;
}

.tarjeta-dato-grafica {
    width:730px;
    height:200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 25px;
    border-radius: 12px;
    border: 1px solid #bdc3c7;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    background-color: var(--color-primario);
    color: var(--color-secundario);
    cursor: default;
}

.tarjeta-dato-grafica p {
    font-size: 22px;
    margin-bottom: 12px;
    color: var(--color-secundario) 
}