{% extends "partidos.html" %}

{% block link_especifico_pagina %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/anadir_partido_asistido.css') }}">
{% endblock link_especifico_pagina %}

{% block contenedor_lateral_izq %}{% endblock contenedor_lateral_izq %}

{% block partidos %}{% endblock partidos %}

{% block principal %}

<div class="tarjeta-anadir-partido-asistido">

    <p class="titulo-pagina-anadir-partido-asistido"><strong>Añadir Partido</strong></p>

    <form class="formulario-anadir-partido-asistido" method="POST" action="/insertar_partido_asistido" autocomplete="off" enctype="multipart/form-data" novalidate>

        <div class="contenedor-select-boton">

            <select class="select-partido" id="partido_anadir" name="partido_anadir" onchange="manejarCambioPartido()" required>

                <option value="sin-seleccion"{% if not partido_id_anadir %} selected{% endif %} disabled hidden>
                    Selecciona un partido
                </option>

                {% for partido in partidos_no_asistidos %}
                    <option value="{{ partido[0] }}"{% if partido_id_anadir==partido[0] %} selected{% endif %}>
                        {{ partido[3] }} - {{ partido[1] }} vs {{ partido[2] }} - {{ partido[4] }}
                    </option>
                {% endfor %}

            </select>

            {% if not todos %}
                <button type="button" class="boton-todos-partidos" onclick="window.location.href='/anadir_partido_asistido?todos=True';">
                    <img src="{{ url_for('static', filename='imagenes/iconos/recientes.png') }}" alt="Recientes" class="imagen-boton-todos">
                </button>
            {% else %}
                <button type="button" class="boton-todos-partidos" onclick="window.location.href='/anadir_partido_asistido';">
                    <img src="{{ url_for('static', filename='imagenes/iconos/todos.png') }}" alt="Todos" class="imagen-boton-todos">
                </button>
            {% endif %}

            <p class="etiqueta"><strong>Total Partidos</strong></p>

        </div>

        {% if not existe_partido_asistido_favorito %}
            <div class="contenedor-checkbox-partido-favorito">
                <input type="checkbox" id="partido-favorito" name="partido-favorito">
                <p class="partido-favorito-texto"><strong>Partido Asistido Favorito</strong></p>
            </div>
        {% endif %}

        <div class="contenedor-comentario">
            <textarea id="comentario" name="comentario" class="campo-comentario" rows="4" placeholder="Añade un comentario sobre el partido"></textarea>
        </div>

        <div class="contenedor-imagen">
            <p class="imagen-partido-asistido"><strong>Subir Imagen Partido</strong></p>
            <label for="imagen" class="boton-seleccionar-imagen" id="botonLabel">Seleccionar Imagen</label>
            <input type="file" name="imagen" id="imagen" accept=".jpg, .jpeg, .png">
            <div class="previsualizacion">
              <p id="mensaje" class="mensaje">No se ha seleccionado archivo</p>
              <img class="imagen-preview" id="preview" src="" alt="Previsualización">
            </div>
        </div>

        <div class="contenedor-seccion-on-tour">

            <div class="contenedor-on-tour">

                <div id="contenedorOnTour"  class="contenedor-boton-on-tour">
                    <img src="{{ url_for('static', filename='imagenes/iconos/british_rail.png') }}" alt="Rail Icon" class="icono-rail">
                    <p  class="button-on-tour-partido-asistido"><strong>Añadir Datos On Tour</strong></p>
                    <img src="{{ url_for('static', filename='imagenes/iconos/flecha.png') }}" alt="Flecha Icon" class="icono-flecha" id="botonOnTourPartidoAsistido">
                </div>

                <div class="seccion-on-tour-partido-asistido" id="contenedorOnTourPartidoAsistido" style="display: none;">

                    <hr style="width: 700px">
                    <p class="titulo-seccion-on-tour"><strong>Seccion On Tour</strong></p>

                    <div class="contenedor-datos-ida">

                        <p class="titulo-datos-ida-on-tour"><strong>- On Tour Ida -</strong></p>

                        <div class="contenedor-origen-destino">

                            <div class="contenedor-pais-ciudad-partido">
                                <p class="texto-origen-destino"><strong>Origen:</strong></p>
                                <select id="pais-ida" name="pais-ida" class="select-pais-ciudad" onchange="actualizarCiudadesEspecificas('pais-ida', 'ciudad-ida')" required>
                                    <option value="{{ pais_usuario }}" selected disabled hidden>{{ pais_usuario }}</option>
                                    {% for pais in paises %}
                                        <option value="{{ pais }}">{{ pais }}</option>
                                    {% endfor %}
                                </select>
                                <select id="ciudad-ida" name="ciudad-ida" class="select-pais-ciudad" required>
                                    <option value="{{ ciudad_usuario }}" selected>{{ ciudad_usuario }}</option>
                                </select>
                            </div>

                            <img src="{{ url_for('static', filename='imagenes/iconos/flecha_horizontal_derecha.png') }}" alt="Flecha Derecha Icon" class="icono-flecha-derecha">

                            <div class="contenedor-pais-ciudad-partido">
                                <p class="texto-origen-destino"><strong>Destino:</strong></p>
                                <select id="ciudad-ida-estadio" name="ciudad-ida-estadio" class="select-estadio" required>
                                    {% if estadio_partido %}
                                        <option value="{{ estadio_partido[0] }}">{{ estadio_partido[1] }}</option>
                                    {% endif %}
                                </select>
                            </div>

                        </div>

                        <div class="contenedor-fecha-transporte">
                            <label for="fecha-ida"><strong>Fecha:</strong></label>
                            <input type="date" id="fecha-ida" name="fecha-ida" {% if fecha_partido %}max='{{ fecha_partido }}'{% endif %} required>

                            <label for="transporte-ida"><strong>Transporte:</strong></label>
                            <select id="transporte-ida" name="transporte-ida" class="select-transporte" required>
                                <option value="" selected disabled hidden>Seleccione un transporte</option>
                                {% for transporte in transportes %}
                                    <option value="{{ transporte }}">{{ transporte }}</option>
                                {% endfor %}
                            </select>

                        </div>

                    </div>

                    <div class="contenedor-datos-vuelta">

                        <p class="titulo-datos-vuelta-on-tour"><strong>- On Tour Vuelta -</strong></p>

                        <div class="contenedor-origen-destino">

                            <div class="contenedor-pais-ciudad-partido">
                                <p class="texto-origen-destino"><strong>Origen:</strong></p>
                                <select id="ciudad-vuelta-estadio" name="ciudad-vuelta-estadio" class="select-estadio" required>
                                    {% if estadio_partido %}
                                        <option value="{{ estadio_partido[0] }}">{{ estadio_partido[1] }}</option>
                                    {% endif %}
                                </select>
                            </div>
                            
                            <img src="{{ url_for('static', filename='imagenes/iconos/flecha_horizontal_derecha.png') }}" alt="Flecha Derecha Icon" class="icono-flecha-derecha">

                            <div class="contenedor-pais-ciudad-partido">
                                <p class="texto-origen-destino"><strong>Destino:</strong></p>
                                <select id="pais-vuelta" name="pais-vuelta" class="select-pais-ciudad" onchange="actualizarCiudadesEspecificas('pais-vuelta', 'ciudad-vuelta')" required>
                                    <option value="{{ pais_usuario }}" selected disabled hidden>{{ pais_usuario }}</option>
                                    {% for pais in paises %}
                                        <option value="{{ pais }}">{{ pais }}</option>
                                    {% endfor %}
                                </select>
                                <select id="ciudad-vuelta" name="ciudad-vuelta" class="select-pais-ciudad" required>
                                    <option value="{{ ciudad_usuario }}" selected>{{ ciudad_usuario }}</option>
                                </select>
                            </div>

                        </div>

                        <div class="contenedor-fecha-transporte">
                            <label for="fecha-vuelta"><strong>Fecha:</strong></label>
                            <input type="date" id="fecha-vuelta" name="fecha-vuelta" {% if fecha_partido %}min='{{ fecha_partido }}'{% endif %} required>

                            <label for="transporte-vuelta"><strong>Transporte:</strong></label>
                            <select id="transporte-vuelta" name="transporte-vuelta" class="select-transporte" required>
                                <option value="" selected disabled hidden>Seleccione un transporte</option>
                                {% for transporte in transportes %}
                                    <option value="{{ transporte }}">{{ transporte }}</option>
                                {% endfor %}
                            </select>

                        </div>

                    </div>

                     <div class="contenedor-checkbox-teletrabajo">
                        <div class="contenedor-label-check">
                            <input type="checkbox" id="teletrabajo" name="teletrabajo">
                            <p class="teletrabajo-texto"><strong>Teletrabajo</strong></p>
                        </div>
                    </div>

                    <div class="botones-on-tour-partido-asistido">
                        <button id="boton-borrar-campos-on-tour" class="boton-borrar-campos-on-tour" type="button">
                            Restablecer
                        </button>
                        <button id="botonNoOnTourPartidoAsistido" class="boton-no-on-tour-partido-asistido" type="button">
                            Cerrar
                        </button>
                    </div>
                    
                </div>

            </div>

        </div>

        <div class="botones-formulario-anadir-partido-asistido">
            <button type="submit" class="boton-submit-formulario-anadir-partido-asistido">
                Añadir Partido Asistido
            </button>
            <button type="button" class="boton-cancelar-formulario-anadir-partido-asistido" onclick="pagina_anterior()">
                Cancelar
            </button>
        </div>

    </form>

</div>

<script src="{{ url_for('static', filename='js/cargar_imagen_preview.js') }}"></script>
<script src="{{ url_for('static', filename='js/abrir_on_tour_partido_asistido.js') }}"></script>
<script src="{{ url_for('static', filename='js/cerrar_on_tour_partido_asistido.js') }}"></script>
<script src="{{ url_for('static', filename='js/formulario_partido_asistido.js') }}"></script>
<script src="{{ url_for('static', filename='js/borrar_campos_on_tour.js') }}"></script>
<script src="{{ url_for('static', filename='js/actualizar_ciudades_pais.js') }}"></script>

{% endblock principal %}

{% block contenedor_lateral_der %}{% endblock contenedor_lateral_der %}