{% extends "partidos.html" %}

{% block link_especifico_pagina %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/anadir_partido_asistido.css') }}">
{% endblock link_especifico_pagina %}

{% block contenedor_lateral_izq %}{% endblock contenedor_lateral_izq %}

{% block partidos %}{% endblock partidos %}

{% block principal %}

<div class="tarjeta-anadir-partido-asistido">

    <p class="titulo-pagina-anadir-partido-asistido"><strong>Añadir Partido</strong></p>

    <form class="formulario-anadir-partido-asistido" method="POST" action="/insertar_partido_asistido" autocomplete="off" enctype="multipart/form-data" novalidate>

        <div class="contenedor-select-boton">

            <select class="select-partido" id="partido_anadir" name="partido_anadir" required>

                <option value="sin-seleccion"{% if not partido_id_anadir %} selected{% endif %} disabled hidden>
                    Selecciona un partido
                </option>

                {% for partido in partidos_no_asistidos %}
                    <option value="{{ partido[0] }}"{% if partido_id_anadir==partido[0] %} selected{% endif %}>
                        {{ partido[3] }} - {{ partido[1] }} vs {{ partido[2] }} - {{ partido[4] }}
                    </option>
                {% endfor %}

            </select>

            {% if not todos %}
                <button type="button" class="boton-todos-partidos" onclick="window.location.href='/anadir_partido_asistido?todos=True';">
                    <img src="{{ url_for('static', filename='imagenes/iconos/recientes.png') }}" alt="Recientes" class="imagen-boton-todos">
                </button>
            {% else %}
                <button type="button" class="boton-todos-partidos" onclick="window.location.href='/anadir_partido_asistido';">
                    <img src="{{ url_for('static', filename='imagenes/iconos/todos.png') }}" alt="Todos" class="imagen-boton-todos">
                </button>
            {% endif %}

            <p class="etiqueta"><strong>Total Partidos</strong></p>

        </div>

        {% if not existe_partido_asistido_favorito %}
            <div class="contenedor-checkbox-partido-favorito">
                <input type="checkbox" id="partido-favorito" name="partido-favorito">
                <p class="partido-favorito-texto"><strong>Partido Asistido Favorito</strong></p>
            </div>
        {% endif %}

        <div class="contenedor-comentario">
            <textarea id="comentario" name="comentario" class="campo-comentario" rows="4" placeholder="Añade un comentario sobre el partido"></textarea>
        </div>

        <div class="contenedor-imagen">
            <p class="imagen-partido-asistido"><strong>Subir Imagen Partido</strong></p>
            <label for="imagen" class="boton-seleccionar-imagen" id="botonLabel">Seleccionar Imagen</label>
            <input type="file" name="imagen" id="imagen" accept=".jpg, .jpeg, .png">
            <div class="previsualizacion">
              <p id="mensaje" class="mensaje">No se ha seleccionado archivo</p>
              <img class="imagen-preview" id="preview" src="" alt="Previsualización">
            </div>
        </div>

        <div class="botones-formulario-anadir-partido-asistido">
            <button type="submit" class="boton-submit-formulario-anadir-partido-asistido">Añadir</button>
            <button type="button" class="boton-cancelar-formulario-anadir-partido-asistido" onclick="pagina_anterior()">
                Cancelar
            </button>
        </div>

    </form>

</div>

<script src="{{ url_for('static', filename='js/cargar_imagen_preview.js') }}"></script>

{% endblock principal %}

{% block contenedor_lateral_der %}{% endblock contenedor_lateral_der %}