{% extends "partidos.html" %}

{% block link_especifico_pagina %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/competicion.css') }}">
{% endblock link_especifico_pagina %}

{% block contenedor_lateral_izq %}{% endblock contenedor_lateral_izq %}

{% block partidos %}{% endblock partidos %}

{% block principal %}

<div class="tarjeta-competicion">

    <p class="nombre">

        {% if datos_competicion[2]=='-1' %}
            <img class="logo-competicion" src="{{ url_for('static', filename='imagenes/iconos/no_competicion.png') }}" alt="Competicion Icon">
        {% else %}
            <img class="logo-competicion" src="{{ url_imagen_competicion }}{{ datos_competicion[2] }}.png" alt="Competicion Icon">
        {% endif %}

        <strong>{{ datos_competicion[1] }}</strong>

        {% if datos_competicion[3]=='-1' %}
            <img class="pais-competicion" src="{{ url_for('static', filename='imagenes/iconos/no_pais.png') }}" alt="Pais Icon">
        {% else %}
            <img class="pais-competicion" src="{{ url_imagen_pais }}{{ datos_competicion[3] }}.png" alt="Pais Icon">
        {% endif %}

    </p>

    {% if equipos_competicion %}

        <p class="titulo-equipos-competicion"><strong>Equipos de {{ datos_competicion[1] }}</strong></p>

        <div class="tarjetas-equipos-competicion">
            <div class="tarjetas-equipos-competicion-wrapper">

            {% for equipo in equipos_competicion %}

                <div class="tarjeta-equipo-competicion" onclick="window.location.href='/equipo/{{ equipo[0] }}'">

                    {% if equipo[2]==-1 %}
                        <img src="{{ url_for('static', filename='imagenes/iconos/no_escudo.png') }}" alt="Local Icon">
                    {% else %}
                        <img src="{{ url_imagen_escudo }}{{ equipo[2] }}.png" alt="Local Icon">
                    {% endif %}

                    <h4><strong>{{ equipo[1] }}</strong></h4>

                </div>

            {% endfor %}

             </div>
        </div>

    {% endif %}

    {% if equipos_campeones %}

        <p class="titulo-campeones-competicion"><strong>Ultimos campeones de {{ datos_competicion[1] }}</strong></p>

        <div class="tarjetas-campeones-competicion">
            <div class="tarjetas-campeones-competicion-wrapper">

            {% for equipo in equipos_campeones %}

                <div class="tarjeta-campeon-competicion" onclick="window.location.href='/equipo/{{ equipo[2] }}'">

                    {% if equipo[4]==-1 %}
                        <img src="{{ url_for('static', filename='imagenes/iconos/no_escudo.png') }}" alt="Local Icon">
                    {% else %}
                        <img src="{{ url_imagen_escudo }}{{ equipo[4] }}.png" alt="Local Icon">
                    {% endif %}

                    <h4><strong>{{ equipo[3] }}</strong></h4>
                    <h4><strong>{{ equipo[1] }}</strong></h4>

                </div>

            {% endfor %}

             </div>
        </div>

    {% endif %}

    {% if partidos_competicion %}

        <p class="titulo-partidos-competicion"><strong>Ultimos partidos de {{ datos_competicion[1] }}</strong></p>

        <div class="tarjetas-partidos-competicion">
            <div class="tarjetas-partidos-competicion-wrapper">

            {% for partido in partidos_competicion %}

                <div class="tarjeta-partido-competicion" onclick="window.location.href='/partido/{{ partido[1] }}'">
                    <p><strong>{{ partido[3] }}</strong></p>
                    <div class="info-partido-competicion">

                        {% if partido[6]==-1 %}
                            <img src="{{ url_for('static', filename='imagenes/iconos/no_escudo.png') }}" alt="Local Icon">
                        {% else %}
                            <img src="{{ url_imagen_escudo }}{{ partido[6] }}.png" alt="Local Icon">
                        {% endif %}

                        <h4>{{ partido[5] }} {{ partido[2] }} {{ partido[8] }}</h4>

                        {% if partido[9]==-1 %}
                            <img src="{{ url_for('static', filename='imagenes/iconos/no_escudo.png') }}" alt="Visitante Icon">
                        {% else %}
                            <img src="{{ url_imagen_escudo }}{{ partido[9] }}.png" alt="Visitante Icon">
                        {% endif %}

                    </div>
                </div>

            {% endfor %}

             </div>
        </div>

    {% endif %}

</div>

{% endblock principal %}