{% extends "partidos.html" %}

{% block link_especifico_pagina %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/equipo.css') }}">
{% endblock link_especifico_pagina %}

{% block contenedor_lateral_izq %}

<div class="contenedor-lateral contenedor-lateral-izq">
    <div class="tarjeta-jugadores-equipo">

        <p class="titulo-equipo-jugadores"><strong>Jugadores</strong></p>

        {% if jugadores_equipo %}

            <div class="tarjetas-jugadores-equipo">
                <div class="tarjetas-jugadores-equipo-wrapper">

                {% for jugador_equipo in jugadores_equipo %}

                    <div class="tarjeta-jugador-equipo" onclick="window.location.href='/jugador/{{ jugador_equipo[0] }}'">
                        <p><strong>{{ jugador_equipo[1] }}</strong></p>

                        {% if jugador_equipo[2]=='-1' %}
                            <img class="imagen-jugador-equipo" src="{{ url_for('static', filename='imagenes/iconos/no_jugador.png') }}" alt="Jugador Icon">
                        {% else %}
                            <img class="imagen-jugador-equipo" src="{{ url_imagen_jugador }}{{ jugador_equipo[2] }}.png" alt="Jugador Icon">
                        {% endif %}

                    </div>
                    
                {% endfor %}

                 </div>
            </div>

        {% endif %}

    </div>
</div>

{% endblock contenedor_lateral_izq %}

{% block partidos %}{% endblock partidos %}

{% block principal %}

<div class="tarjeta-equipo">

    <p class="nombre-largo">
        <strong>{{ datos_equipo[1] }}</strong>
        {% if favorito %}
            <img class="favorito" src="{{ url_for('static', filename='imagenes/iconos/estrella.png') }}" alt="Favorito Icon" height="50">
        {% endif %}
    </p>

    {% if datos_equipo[4]==-1 %}
        <img class="escudo-equipo" src="{{ url_for('static', filename='imagenes/iconos/no_escudo.png') }}" alt="Equipo Icon">
    {% else %}
        <img class="escudo-equipo" src="{{ url_imagen_escudo }}{{ datos_equipo[4] }}.png" alt="Equipo Icon">
    {% endif %}

    <div class="info-equipo">

        {% if datos_equipo[10] %}<p class="fundacion"><strong>Desde {{ datos_equipo[10] }}</strong></p>{% endif %}

        {% if datos_equipo[8] %}

            {% if datos_equipo[22] %}
                <p class="competicion" onclick="window.location.href='/competicion/{{ datos_equipo[21] }}'" style="cursor: pointer">
                    <strong>{{ datos_equipo[8] }}</strong>
                </p>
            {% else %}
                <p class="competicion"><strong>{{ datos_equipo[8] }}</strong></p>
            {% endif %}

        {% endif %}

        {% if datos_equipo[7] and datos_equipo[6] %}

            <p class="ubicacion"><strong>

                {{ datos_equipo[7] }}, {{ datos_equipo[6] }}

                {% if datos_equipo[23]=='-1' %}
                    <img class="pais-equipo" src="{{ url_for('static', filename='imagenes/iconos/no_pais.png') }}" alt="Pais Icon">
                {% else %}
                    <img class="pais-equipo" src="{{ url_imagen_pais }}{{ datos_equipo[23] }}.png" alt="Pais Icon">
                {% endif %}

            </strong></p>

        {% endif %}

        {% if datos_equipo[9] %}<p class="temporadas"><strong>{{ datos_equipo[9] }} temporadas</strong></p>{% endif %}

    </div>

    <div class="info-equipo-imagenes">

        {% if jugador %}
        <div class="info-jugador" onclick="window.location.href='/jugador/{{ jugador[0] }}'">
            <p><strong>{{ jugador[1] }}</strong></p>

            {% if jugador[2]=='-1' %}
                <img class="jugador-equipo" src="{{ url_for('static', filename='imagenes/iconos/no_jugador.png') }}" alt="Jugador Icon">
            {% else %}
                <img class="jugador-equipo" src="{{ url_imagen_jugador }}{{ jugador[2] }}.png" alt="Jugador Icon">
            {% endif %}

        </div>
        {% endif %}

        {% if datos_equipo[19] %}
        <div class="info-estadio" onclick="window.location.href='/estadio/{{ datos_equipo[17] }}'">
            <p><strong>{{ datos_equipo[18] }}</strong></p>

            {% if datos_equipo[20]==-1 %}
                <img class="estadio-equipo" src="{{ url_for('static', filename='imagenes/iconos/no_estadio.png') }}" alt="Estadio Icon">
            {% else %}
                <img class="estadio-equipo" src="{{ url_imagen_estadio }}{{ datos_equipo[20] }}.png" alt="Estadio Icon">
            {% endif %}

        </div>
        {% endif %}

        {% if ultimo_partido %}
        <div class="info-ultimo-partido" onclick="window.location.href='/partido/{{ ultimo_partido[0] }}'">
            <p><strong>Ultimo Partido</strong></p>

            <div class="ultimo-partido">

                {% if ultimo_partido[2]==-1 %}
                    <img src="{{ url_for('static', filename='imagenes/iconos/no_escudo.png') }}" alt="Equipo Icon">
                {% else %}
                    <img src="{{ url_imagen_escudo }}{{ ultimo_partido[2] }}.png" alt="Equipo Icon">
                {% endif %}

                {% if ultimo_partido[6]=='-1' %}
                    <img src="{{ url_for('static', filename='imagenes/iconos/no_competicion.png') }}" alt="Competicion Icon">
                {% else %}
                    <img src="{{ url_imagen_competicion }}{{ ultimo_partido[6] }}.png" alt="Competicion Icon">
                {% endif %}

            </div>

            {% if ultimo_partido[5]==0 %}
                <h4 style="color: #fe0000;"><strong>{{ ultimo_partido[3] }}</strong></h4>
            {% elif ultimo_partido[5]==1 %}
                <h4 style="color: #1fd62d;"><strong>{{ ultimo_partido[3] }}</strong></h4>
            {% else %}
                <h4 style="color: #FFC300;"><strong>{{ ultimo_partido[3] }}</strong></h4>
            {% endif %}

            <h5>{{ ultimo_partido[4] }}</h5>

        </div>
        {% endif %}

        {% if datos_equipo[13] %}
        <div class="info-entrenador">
            <p><strong>{{ datos_equipo[11] }}</strong></p>

            {% if datos_equipo[12]==-1 %}
                <img class="entrenador-equipo" src="{{ url_for('static', filename='imagenes/iconos/no_entrenador.png') }}" alt="Entrenador Icon">
            {% else %}
                <img class="entrenador-equipo" src="{{ url_imagen_entrenador }}{{ datos_equipo[12] }}.png" alt="Entrenador Icon">
            {% endif %}

        </div>
        {% endif %}

        {% if datos_equipo[16] %}
        <div class="info-presidente">
            <p><strong>{{ datos_equipo[14] }}</strong></p>

            {% if datos_equipo[15]==-1 %}
                <img class="presidente-equipo" src="{{ url_for('static', filename='imagenes/iconos/no_presidente.png') }}" alt="Presidente Icon">
            {% else %}
                <img class="presidente-equipo" src="{{ url_imagen_presidente }}{{ datos_equipo[15] }}.png" alt="Presidente Icon">
            {% endif %}

        </div>
        {% endif %}

    </div>

</div>

{% endblock principal %}