{% extends "partidos.html" %}

{% block link_especifico_pagina %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/estadio.css') }}">
{% endblock link_especifico_pagina %}

{% block contenedor_lateral_izq %}

<div class="contenedor-lateral contenedor-lateral-izq">

    <div class="circulo-numero-veces-asistido">
        <p class="titulo-circulo-numero-veces-asistido">Veces Asistido</p>
        <p class="valor-circulo-numero-veces-asistido"><strong>{{ numero_veces_asistido }}</strong></p>
    </div>

    <div class="circulo-mapa-estadio">
        {% if mapa_correcto %}
            <div class="tarjeta-mapa-estadio">
                <div class="contenedor-mapa-estadio">
                    <iframe src="/estadio/mapa/{{ nombre_mapa_small_estadio }}"></iframe>
                </div>
            </div>
        {% else %}
            <img class="no-mapa" src="{{ url_for('static', filename='imagenes/iconos/no_mapa.png') }}" alt="No Mapa Icon" height="120px">
        {% endif %}
    </div>

</div>

{% endblock contenedor_lateral_izq %}

{% block partidos %}{% endblock partidos %}

{% block principal %}

<div class="tarjeta-estadio">

    <p class="nombre">
        <strong>{{ estadio[0] }}</strong>
        {% if estadio_asistido %}
            <img class="estadio-asistido" src="{{ url_for('static', filename='imagenes/iconos/estadio_asistido.png') }}" alt="Asistido Icon">
        {% endif %}
    </p>

    {% if equipos_estadio %}
        <div class="equipo-estadio">

            {% for equipo in equipos_estadio %}

                {% if equipo[2]==-1 %}
                    <img class="escudo-equipo" src="{{ url_for('static', filename='imagenes/iconos/no_escudo.png') }}" alt="Equipo Icon" onclick="window.location.href='/equipo/{{ equipo[0] }}'">
                {% else %}
                    <img class="escudo-equipo" src="{{ url_imagen_escudo }}{{ equipo[2] }}.png" alt="Equipo Icon" onclick="window.location.href='/equipo/{{ equipo[0] }}'">
                {% endif %}

            {% endfor %}

        </div>
    {% endif %}

    {% if estadio[1]==-1 %}
        <img class="imagen-estadio" src="{{ url_for('static', filename='imagenes/iconos/no_estadio.png') }}" alt="Estadio Icon">
    {% else %}
        <img class="imagen-estadio" src="{{ url_imagen_estadio }}{{ estadio[1] }}.png" alt="Estadio Icon">
    {% endif %}

    {% if estadio[2] %}
        <p class="direccion">

            <a href="https://www.google.com/maps/search/?api=1&query={{ estadio[0] | replace(' ', '+') }}" target="_blank" class="link-imagen-maps">
                <img class="imagen-maps" src="{{ url_for('static', filename='imagenes/iconos/google_maps.png') }}" alt="Maps Icon">
            </a>

            <strong>
                {% if estadio[5] %}
                    {{ estadio[5] }}, {{ estadio[10] }}
                {% else %}
                    {{ estadio[2] }}
                {% endif %}
            </strong>

            {% if estadio[11]=='-1' %}
                <img class="imagen-pais-estadio" src="{{ url_for('static', filename='imagenes/iconos/no_pais.png') }}" alt="Pais Icon">
            {% else %}
                <img class="imagen-pais-estadio" src="{{ url_imagen_pais }}{{ estadio[11] }}.png" alt="Pais Icon">
            {% endif %}

        </p>
    {% endif %}

    <div class="info-estadio-detalle">
        {% if estadio[7] %}<p class="fecha-fundacion"><strong>Desde {{ estadio[7] }}</strong></p>{% endif %}
        {% if estadio[6] %}<p class="espectadores"><strong>{{ anadirPuntos(estadio[6]) }} espectadores</strong></p>{% endif %}
        {% if estadio[8] and estadio[9] %}<p class="dimensiones"><strong>{{ estadio[8] }} x {{ estadio[9] }} m</strong></p>{% endif %}
    </div>

</div>

{% endblock principal %}

{% block contenedor_lateral_der %}{% endblock contenedor_lateral_der %}