{% extends "partidos.html" %}

{% block link_especifico_pagina %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/estadios.css') }}">
{% endblock link_especifico_pagina %}

{% block contenedor_lateral_izq %}

<div class="contenedor-lateral contenedor-lateral-izq">
    <div class="tarjeta-estadios-top-totales">

        <div class="titulo-top-estadios">
            <strong>Top 
                <div class="desplegable-cantidad-estadios">
                    <div class="custom-select-wrapper">
                        <div class="custom-select">
                            <select id="cantidad-estadios-select" class="select-estadios" onchange="estadiosTopFiltro()">
                                {% for top in tops %}
                                    <option value="{{ top }}" {% if numero_top==top %} selected {% endif %}>
                                        {{ top }}
                                    </option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div> 
                Estadios
            </strong>
        </div>

        {% if datos_estadios_top %}

            <div class="tarjetas-estadios-top-totales">
                <div class="tarjetas-estadios-totales-top-wrapper">

                {% for estadio_top in datos_estadios_top %}

                    <div class="tarjeta-estadio-top-total" onclick="window.location.href='/estadio/{{ estadio_top[0] }}'">

                        <div class="info-estadio-top-total">

                            {% if estadio_top[3]==-1 %}
                                <img class="estadio-estadio-top-total" src="{{ url_for('static', filename='imagenes/iconos/no_estadio.png') }}" alt="Estadio Icon">
                            {% else %}
                                <img class="estadio-estadio-top-total" src="{{ url_imagen_estadio }}{{ estadio_top[3] }}.png" alt="Estadio Icon">
                            {% endif %}

                            <h4>{{ estadio_top[1] }}</h4>

                            {% if estadio_top[4]==-1 %}
                                <img class="equipo-estadio-top-total" src="{{ url_for('static', filename='imagenes/iconos/no_escudo.png') }}" alt="Equipo Icon">
                            {% else %}
                                <img class="equipo-estadio-top-total" src="{{ url_imagen_escudo }}{{ estadio_top[4] }}.png" alt="Equipo Icon">
                            {% endif %}

                            {% if estadio_top[5]=='-1' %}
                                <img class="pais-estadio-top-total" src="{{ url_for('static', filename='imagenes/iconos/no_pais.png') }}" alt="Pais Icon">
                            {% else %}
                                <img class="pais-estadio-top-total" src="{{ url_imagen_pais }}{{ estadio_top[5] }}.png" alt="Pais Icon">
                            {% endif %}

                        </div>

                    </div>

                {% endfor %}

                 </div>
            </div>

        {% endif %}

    </div>
</div>

<script src="{{ url_for('static', filename='js/estadios_top.js') }}"></script>

{% endblock contenedor_lateral_izq %}

{% block partidos %}{% endblock partidos %}

{% block principal %}

<div class="tarjeta-estadios-totales">

    <p class="titulo-pagina-estadios"><strong>Estadios</strong></p>

    {% if datos_estadios %}

        <div class="tarjetas-estadios-totales">
            <div class="tarjetas-estadios-totales-wrapper">

            {% for estadio in datos_estadios %}

            <div class="tarjeta-estadio-total" onclick="window.location.href='/estadio/{{ estadio[0] }}'">

                <div class="info-estadio-total">

                    {% if estadio[2]==-1 %}
                        <img class="estadio-estadio-total" src="{{ url_for('static', filename='imagenes/iconos/no_estadio.png') }}" alt="Estadio Icon">
                    {% else %}
                        <img class="estadio-estadio-total" src="{{ url_imagen_estadio }}{{ estadio[2] }}.png" alt="Estadio Icon">
                    {% endif %}

                    <h4>{{ estadio[1] }}</h4>

                    {% if estadio[3]==-1 %}
                        <img class="equipo-estadio-total" src="{{ url_for('static', filename='imagenes/iconos/no_escudo.png') }}" alt="Equipo Icon">
                    {% else %}
                        <img class="equipo-estadio-total" src="{{ url_imagen_escudo }}{{ estadio[3] }}.png" alt="Equipo Icon">
                    {% endif %}

                    {% if estadio[4]=='-1' %}
                        <img class="pais-estadio-total" src="{{ url_for('static', filename='imagenes/iconos/no_pais.png') }}" alt="Pais Icon">
                    {% else %}
                        <img class="pais-estadio-total" src="{{ url_imagen_pais }}{{ estadio[4] }}.png" alt="Pais Icon">
                    {% endif %}

                </div>
            </div>

            {% endfor %}

            </div>
        </div>

    {% endif %}

</div>

{% endblock principal %}

{% block contenedor_lateral_der %}{% endblock contenedor_lateral_der %}