{% extends "partidos.html" %}

{% block link_especifico_pagina %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/jugador.css') }}">
{% endblock link_especifico_pagina %}

{% block contenedor_lateral_izq %}

<div class="tarjeta-equipos-jugador">

    <p class="titulo-equipos-jugador"><strong>Equipos</strong></p>

    <div class="tarjetas-equipos-jugador">
        <div class="tarjetas-equipos-jugador-wrapper">

        {% for equipo in equipos_jugador %}

            <div class="tarjeta-equipo-jugador" onclick="window.location.href='/equipo/{{ equipo[0] }}'">

                {% if equipo[2]==-1 %}
                    <img src="{{ url_for('static', filename='imagenes/iconos/no_escudo.png') }}" alt="Escudo Icon">
                {% else %}
                    <img src="{{ url_imagen_escudo }}{{ equipo[2] }}.png" alt="Escudo Icon">
                {% endif %}

                <h4><strong>{{ equipo[1] }}</strong></h4>

                <div class="info-equipo-jugador">
                    <img src="{{ url_for('static', filename='imagenes/iconos/partidos.png') }}" alt="Partidos Icon">
                    <p>{{ equipo[5] }}</p>
                    <img src="{{ url_for('static', filename='imagenes/iconos/balon.png') }}" alt="Balon Icon">
                    <p>{{ equipo[4] }}</p>
                    <img src="{{ url_for('static', filename='imagenes/iconos/temporadas.png') }}" alt="Temporada Icon">
                    <p>{{ equipo[3] }}</p>
                </div>

            </div>

        {% endfor %}

         </div>
    </div>

</div>

{% if seleccion_jugador %}

    <div class="tarjeta-selecciones-jugador">

        <p class="titulo-seleccion-jugador"><strong>Seleccion</strong></p>

        <div class="tarjeta-seleccion-jugador">

            {% if seleccion_jugador[0]==-1 %}
                <img src="{{ url_for('static', filename='imagenes/iconos/no_escudo.png') }}" alt="Seleccion Icon">
            {% else %}
                <img src="{{ url_imagen_seleccion }}{{ seleccion_jugador[0] }}.png" alt="Seleccion Icon">
            {% endif %}

            <div class="info-seleccion-jugador">
                <img src="{{ url_for('static', filename='imagenes/iconos/partidos.png') }}" alt="Partidos Icon">
                <p>{{ seleccion_jugador[1] }}</p>
                <img src="{{ url_for('static', filename='imagenes/iconos/balon.png') }}" alt="Balon Icon">
                <p>{{ seleccion_jugador[2] }}</p>
            </div>

        </div>

        </div>

    </div>

{% endif %}

{% endblock contenedor_lateral_izq %}

{% block partidos %}{% endblock partidos %}

{% block principal %}

<div class="tarjeta-jugador">

	<p class="nombre">

		<strong>{{ datos_jugador[1] }}</strong>

		{% if datos_jugador[2]=='-1' %}
            <img class="pais-jugador" src="{{ url_for('static', filename='imagenes/iconos/no_pais.png') }}" alt="Pais Icon">
        {% else %}
            <img class="pais-jugador" src="{{ url_imagen_pais }}{{ datos_jugador[2] }}.png" alt="Pais Icon">
        {% endif %}

	</p>

	{% if datos_jugador[3]=='-1' %}
        <img class="jugador" src="{{ url_for('static', filename='imagenes/iconos/no_jugador.png') }}" alt="Jugador Icon">
    {% else %}
        <img class="jugador" src="{{ url_imagen_jugador }}{{ datos_jugador[3] }}.png" alt="Jugador Icon">
    {% endif %}


    <div class="info-jugador-imagenes">

        {% if datos_jugador[11] %}
        <div class="info-jugador-equipo" onclick="window.location.href='/equipo/{{ datos_jugador[8] }}'">
            <p><strong>{{ datos_jugador[9] }}</strong></p>

            {% if datos_jugador[10]==-1 %}
		        <img class="equipo-jugador" src="{{ url_for('static', filename='imagenes/iconos/no_escudo.png') }}" alt="Equipo Icon">
		    {% else %}
		        <img class="equipo-jugador" src="{{ url_imagen_escudo }}{{ datos_jugador[10] }}.png" alt="Equipo Icon">
		    {% endif %}

        </div>
        {% endif %}

        {% if datos_jugador[4] %}
        <div class="info-jugador-puntuacion">
            <p><strong>Valoracion</strong></p>
            <h4>{{ datos_jugador[4] }}</h4>
        </div>
        {% endif %}

        {% if datos_jugador[5] %}
        <div class="info-jugador-dorsal">
            <p><strong>Dorsal</strong></p>
            <h4>{{ datos_jugador[5] }}</h4>
        </div>
        {% endif %}

        {% if datos_jugador[7] %}
        <div class="info-jugador-posicion">
            <p><strong>Posicion</strong></p>
            <h4>{{ datos_jugador[7] }}</h4>
        </div>
        {% endif %}

    </div>

</div>

{% endblock principal %}

{% block contenedor_lateral_der %}{% endblock contenedor_lateral_der %}