{% extends "partidos.html" %}

{% block link_especifico_pagina %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/mis_estadios.css') }}">
{% endblock link_especifico_pagina %}

{% block contenedor_lateral_izq %}

<div class="contenedor-lateral contenedor-lateral-izq">

    <div class="circulo-estadios-asistidos">
        <p class="titulo-circulo-estadios-asistidos">Estadios Visitados</p>
        <p class="valor-circulo-estadios-asistidos"><strong>{{ numero_estadios }}</strong></p>
    </div>

    <div class="circulo-mapa-mis-estadios-asistidos">
        {% if mapas_correcto %}
            <div class="tarjeta-mapa-mis-estadios-asistidos" onclick="abrirVentanaEmergente()">
                <div class="contenedor-mapa-mis-estadios-asistidos">
                    <iframe src="/estadios/mis_estadios/mapa/{{ nombre_mapa_small }}"></iframe>
                </div>
            </div>
        {% else %}
            <img class="no-mapa" src="{{ url_for('static', filename='imagenes/iconos/no_mapa.png') }}" alt="No Mapa Icon" height="120px">
        {% endif %}
    </div>

    <div class="tarjeta-mis-estadios-recientes">

        <p class="titulo-mis-estadios-recientes"><strong>Ultimos Estadios Visitados</strong></p>

            <div class="tarjetas-mis-estadios-recientes">
                <div class="tarjetas-mis-estadios-recientes-wrapper">

                {% for estadio_visitado_fecha in estadios_asistidos_fecha %}

                    <div class="tarjeta-estadio-mis-estadios-recientes" onclick='window.location.href="/estadio/"+encodeURIComponent("{{ estadio_visitado_fecha[0] | replace("\"", "\\\"") }}")'>

                        <div class="info-estadio-mis-estadios-recientes">

                            {% if estadio_visitado_fecha[2]==-1 %}
                                <img class="estadio-estadio-mis-estadios-recientes" src="{{ url_for('static', filename='imagenes/iconos/no_estadio.png') }}" alt="Estadio Icon">
                            {% else %}
                                <img class="estadio-estadio-mis-estadios-recientes" src="{{ url_imagen_estadio }}{{ estadio_visitado_fecha[2] }}.png" alt="Estadio Icon">
                            {% endif %}

                            <h4>{{ estadio_visitado_fecha[1] }}</h4>

                            {% if estadio_visitado_fecha[3]==-1 %}
                                <img class="equipo-estadio-mis-estadios-recientes" src="{{ url_for('static', filename='imagenes/iconos/no_escudo.png') }}" alt="Equipo Icon">
                            {% else %}
                                <img class="equipo-estadio-mis-estadios-recientes" src="{{ url_imagen_escudo }}{{ estadio_visitado_fecha[3] }}.png" alt="Equipo Icon">
                            {% endif %}

                            <h4>{{ estadio_visitado_fecha[5] }}</h4>

                        </div>

                    </div>
                    
                {% endfor %}

                </div>

            </div>
    </div>

 </div>

<script src="{{ url_for('static', filename='js/ventana_emergente.js') }}"></script>

{% endblock contenedor_lateral_izq %}

{% block partidos %}{% endblock partidos %}

{% block principal %}

<div class="tarjeta-estadios-asistidos">

    <p class="titulo-pagina-estadios-asistidos"><strong>Mis Estadios</strong></p>

    <div class="tarjetas-estadios-asistidos">
        <div class="tarjetas-estadios-asistidos-wrapper">

        {% for estadio in estadios_asistidos %}

        <div class="tarjeta-estadio-asistido" onclick='window.location.href="/estadios/mis_estadios/partidos_estadio/"+encodeURIComponent("{{ estadio[0] | replace("\"", "\\\"") }}")'>

            <div class="info-estadio-asistido">

                {% if estadio[2]==-1 %}
                    <img class="estadio-estadio-asistido" src="{{ url_for('static', filename='imagenes/iconos/no_estadio.png') }}" alt="Estadio Icon">
                {% else %}
                    <img class="estadio-estadio-asistido" src="{{ url_imagen_estadio }}{{ estadio[2] }}.png" alt="Estadio Icon">
                {% endif %}

                <h4>{{ estadio[1] }}</h4>

                {% if estadio[3]==-1 %}
                    <img class="equipo-estadio-asistido" src="{{ url_for('static', filename='imagenes/iconos/no_escudo.png') }}" alt="Equipo Icon">
                {% else %}
                    <img class="equipo-estadio-asistido" src="{{ url_imagen_escudo }}{{ estadio[3] }}.png" alt="Equipo Icon">
                {% endif %}

                <h4>{{ estadio[5] }} veces</h4>

            </div>
        </div>

        {% endfor %}

        </div>
    </div>

</div>

{% endblock principal %}

{% block contenedor_lateral_der %}

<div class="contenedor-lateral contenedor-lateral-der">

    <div class="tarjeta-mis-estadios-competiciones">

        <p class="titulo-mis-estadios-competiciones"><strong>Estadios Por Liga</strong></p>

        {% if estadios_competiciones_asistidos %}

            <div class="tarjetas-mis-estadios-competiciones">
                <div class="tarjetas-mis-estadios-competiciones-wrapper">

                {% for estadio_competicion_asistido in estadios_competiciones_asistidos %}

                    <div class="tarjeta-estadio-mis-estadios-competiciones" onclick="window.location.href='/estadios/mis_estadios/division/{{ estadio_competicion_asistido[1] }}'">

                        <div class="info-estadio-mis-estadios-competiciones">

                            {% if estadio_competicion_asistido[3]=='-1' %}
                                <img class="logo-competicion-estadio-mis-estadios-competiciones" src="{{ url_for('static', filename='imagenes/iconos/no_competicion.png') }}" alt="Competicion Icon">
                            {% else %}
                                <img class="logo-competicion-estadio-mis-estadios-competiciones" src="{{ url_imagen_competicion }}{{ estadio_competicion_asistido[3] }}.png" alt="Competicion Icon">
                            {% endif %}

                            <h4>{{ estadio_competicion_asistido[0] }}</h4>

                            {% if estadio_competicion_asistido[4]=='-1' %}
                                <img class="pais-estadio-mis-estadios-competiciones" src="{{ url_for('static', filename='imagenes/iconos/no_pais.png') }}" alt="Pais Competicion Icon">
                            {% else %}
                                <img class="pais-estadio-mis-estadios-competiciones" src="{{ url_imagen_pais }}{{ estadio_competicion_asistido[4] }}.png" alt="Pais Competicion Icon">
                            {% endif %}

                            <h4>{{ estadio_competicion_asistido[5] }} / {{ estadio_competicion_asistido[6] }}</h4>

                        </div>

                    </div>
                    
                {% endfor %}

                </div>

            </div>

        {% endif %}
        
    </div>

    <div class="tarjeta-paises-mis-estadios">

        <p class="titulo-paises-mis-estadios"><strong>Mis Paises Visitados</strong></p>

        {% if paises_asistidos %}

            <div class="tarjetas-paises-mis-estadios">
                <div class="tarjetas-paises-mis-estadios-wrapper">

                {% for pais in paises_asistidos %}

                    <div class="tarjeta-pais-paises-mis-estadios" onclick="window.location.href='/estadios/mis_estadios/{{ pais[0] }}'">

                        <div class="info-pais-paises-mis-estadios">

                            {% if pais[0]=='-1' %}
                                <img class="pais-paises" src="{{ url_for('static', filename='imagenes/iconos/no_pais.png') }}" alt="Pais Icon">
                            {% else %}
                                <img class="pais-paises" src="{{ url_imagen_pais }}{{ pais[0] }}.png" alt="Pais Icon">
                            {% endif %}

                            <h4 class="nombre-pais-paises">{{ pais[1] }}</h4>

                            <h4 class="veces-pais-paises">{{ pais[2] }} veces</h4>

                        </div>

                    </div>
                    
                {% endfor %}

                </div>

            </div>

        {% endif %}

    </div>

    {% if mapas_correcto %}
        <!-- Sale de aqui la ventana emergente (es curioso porque deberia estar junto con el boton que la hace desplegarse) para evitar solamamiento con los contenedores laterales -->
        <div id="ventana-emergente" class="ventana-emergente">
            <div class="contenido-ventana-emergente">
                <span class="cerrar" onclick="cerrarVentanaEmergente()">&times;</span>
                <div class="botones-mapa-detalle">
                    <button onclick="cambiarMapa('/estadios/mis_estadios/mapa/{{ nombre_mapa_detalle }}', this)" class="boton-estadios-mapa active">
                        <span class="boton-estadios-mapa-text">Estadios</span>
                        <img src="{{ url_for('static', filename='imagenes/iconos/estadio_mapa.png') }}" alt="Estadio Mapa Icon" class="icono-estadio-mapa">
                    </button>
                    <button onclick="cambiarMapa('/estadios/mis_estadios/mapa/{{ nombre_mapa_detalle_paises }}', this)" class="boton-paises-mapa">
                        <span class="boton-paises-mapa-text">Paises</span>
                        <img src="{{ url_for('static', filename='imagenes/iconos/pais_mapa.png') }}" alt="Pais Mapa Icon" class="icono-pais-mapa">
                    </button>
                </div>
                <div class="contenedor-mapa-mis-estadios-asistidos-detalle">
                    <iframe src="/estadios/mis_estadios/mapa/{{ nombre_mapa_detalle }}" id="iframe-mapa"></iframe>
                </div>
            </div>
        </div>
    {% endif %}

 </div>

<script src="{{ url_for('static', filename='js/cambio_mapa_estadios_paises.js') }}"></script>

{% endblock contenedor_lateral_der %}