{% extends "partidos.html" %}

{% block link_especifico_pagina %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/partidos_calendario.css') }}">
{% endblock link_especifico_pagina %}

{% block contenedor_lateral_izq %}{% endblock contenedor_lateral_izq %}

{% block partidos %}

<div class="contenedor-lateral contenedor-lateral-izq">
    <div class="circulo-partidos-calendario-totales">
        <p class="titulo-circulo-partidos-calendario-totales">
            {% if not proximos_partidos %}
                Partidos {{ ano_mes_calendario }}
            {% else %}
                Proximos Partidos {{ ano_mes_calendario }}
            {% endif %}
        </p>
        <p class="valor-circulo-partidos-calendario-totales"><strong>{{ numero_partidos_calendario }}</strong></p>
    </div>

    {% if not proximos_partidos %}
        <div class="circulo-estadisticas-partidos-calendario">
            <canvas id="grafico_tarta"></canvas>
            <script>var datos_grafica_tarta={{ resultados_partidos_calendario | tojson | safe }};</script>
            <script src="{{ url_for('static', filename='js/grafico_tarta.js') }}"></script>
        </div>
        <div class="circulo-partidos-calendario-asistidos">
            <p class="titulo-circulo-partidos-calendario-asistidos">Partidos Asistidos</p>
            <p class="valor-circulo-partidos-calendario-asistidos"><strong>{{ numero_partidos_asistidos_calendario }}</strong></p>
        </div>
    {% else %}
        {% if datos_partido_proximo_calendario %}
            <div class="circulo-partido-proximo-calendario">
                <div class="tarjeta-partido-proximo-calendario">

                    <p class="titulo-circulo-partido-proximo-calendario"><strong>Proximo Partido</strong></p>

                    <p><strong>{{ datos_partido_proximo_calendario[9] }}</strong></p>

                    <div class="info-partido-proximo-calendario">

                        {% if datos_partido_proximo_calendario[5]==-1 %}
                            <img src="{{ url_for('static', filename='imagenes/iconos/no_escudo.png') }}" alt="Local Icon">
                        {% else %}
                            <img src="{{ url_imagen_escudo }}{{ datos_partido_proximo_calendario[5] }}.png" alt="Local Icon">
                        {% endif %}

                        <h4>{{ datos_partido_proximo_calendario[2] }}</h4>

                        {% if datos_partido_proximo_calendario[8]==-1 %}
                            <img src="{{ url_for('static', filename='imagenes/iconos/no_escudo.png') }}" alt="Visitante Icon">
                        {% else %}
                            <img src="{{ url_imagen_escudo }}{{ datos_partido_proximo_calendario[8] }}.png" alt="Visitante Icon">
                        {% endif %}

                    </div>

                     <p><strong>{{ datos_partido_proximo_calendario[1] }}</strong></p>

                </div>
            </div>
        {% endif %}
    {% endif %}

</div>

{% endblock partidos %}

{% block principal %}

<div class="tarjeta-calendario">

    <div class="contenedor-titulo-calendario">

        <p class="titulo-pagina-calendario">
            <strong>Calendario del {{ nombre_equipo }}</strong>
            {% if not proximos_partidos %}
                <img src="{{ url_for('static', filename='imagenes/iconos/calendario.png') }}" alt="Calendario" height="35">
            {% else %}
                <img src="{{ url_for('static', filename='imagenes/iconos/proximo_partido.png') }}" alt="Proximo" height="35">
            {% endif %}
        </p>

        <div class="desplegable-contenedor">
            <strong class="ano-mes-filtrado">{{ ano_mes_calendario }}</strong>
            <button class="boton-desplegable" onclick="desplegableMenu()">
                <img src="{{ url_for('static', filename='imagenes/iconos/flecha.png') }}" alt="Flecha Icon" class="icono-flecha-fecha"> 
            </button>
            <div id="menuDesplegable" class="menu-desplegable">
                {% for ano_mes in anos_meses %}
                    {% if not proximos_partidos %}
                        <a href="/partidos/calendario/{{ ano_mes[0] }}" class="opcion-desplegable">
                            <strong>{{ ano_mes[1] }}</strong>
                        </a>
                    {% else %}
                        <a href="/partidos/calendario/{{ ano_mes[0] }}?proximos_partidos=True" class="opcion-desplegable">
                            <strong>{{ ano_mes[1] }}</strong>
                        </a>
                    {% endif %}
                {% endfor %}
            </div>
        </div>

    </div>

    <div class="dias-semana">
        <p>L</p>
        <p>M</p>
        <p>X</p>
        <p>J</p>
        <p>V</p>
        <p>S</p>
        <p>D</p>
    </div>

    <div class="contenedor-calendario">

        {% if ano_mes_anterior_boton %}
            {% if not proximos_partidos %}
                <button class="button-partidos-calendario-anterior" onclick="window.location.href='/partidos/calendario/{{ ano_mes_anterior_boton }}'"><</button>
            {% else %}
                <button class="button-partidos-calendario-anterior" onclick="window.location.href='/partidos/calendario/{{ ano_mes_anterior_boton }}?proximos_partidos=True'"><</button>
            {% endif %}
        {% endif %}

        <div class="calendario">

            {% for semana in semanas %}

                <div class="fila">

                    {% for dia in semana %}

                        {% if dia %}

                            {% if dia[2] %}

                                {% if dia[2][-1]==1 %}
                                    <div class="dia" onclick="window.location.href='/partido/{{ dia[2][0] }}'">
                                {% elif dia[2][-1]==2 %}
                                    <div class="dia-asistido" onclick="window.location.href='/partido/{{ dia[2][0] }}/asistido'">
                                {% else %}
                                    <div class="dia-proximo">
                                {% endif %}

                                        <div class="contenido-partido">

                                            {% if dia[2][6]==-1 %}
                                                <img src="{{ url_for('static', filename='imagenes/iconos/no_escudo.png') }}" alt="Local Icon">
                                            {% else %}
                                                <img src="{{ url_imagen_escudo }}{{ dia[2][6] }}.png" alt="Local Icon">
                                            {% endif %}

                                            <p>{{ dia[2][1] }}</p>

                                            {% if dia[2][9]==-1 %}
                                                <img src="{{ url_for('static', filename='imagenes/iconos/no_escudo.png') }}" alt="Visitante Icon">
                                            {% else %}
                                                <img src="{{ url_imagen_escudo }}{{ dia[2][9] }}.png" alt="Visitante Icon">
                                            {% endif %}

                                        </div>

                                        {% if dia[2][-1]==1 %}
                                            <p class="numero-dia-partido">{{ dia[1] }}</p>
                                        {% elif dia[2][-1]==2 %}
                                            <p class="numero-dia-partido-asistido">{{ dia[1] }}</p>
                                        {% else %}
                                            <p class="numero-dia-partido-proximo">{{ dia[1] }}</p>
                                        {% endif %}

                                    </div>
                            {% else %}
                                <div class="dia-sin-partido">
                                    <div class="contenido-no-partido"></div>
                                    <p class="numero-dia-no-partido">{{ dia[1] }}</p>
                                </div>
                            {% endif %}

                        {% else %}
                            <div class="dia-vacio"></div>
                        {% endif %}

                    {% endfor %}

                </div>

            {% endfor %}

        </div>

        {% if ano_mes_siguiente_boton %}
            {% if not proximos_partidos %}
                <button class="button-partidos-calendario-siguiente" onclick="window.location.href='/partidos/calendario/{{ ano_mes_siguiente_boton }}'">></button>
            {% else %}
                <button class="button-partidos-calendario-siguiente" onclick="window.location.href='/partidos/calendario/{{ ano_mes_siguiente_boton }}?proximos_partidos=True'">></button>
            {% endif %}
        {% endif %}

    </div>

 </div>

{% endblock principal %}

{% block contenedor_lateral_der %}{% endblock contenedor_lateral_der %}