{% extends "partidos.html" %}

{% block link_especifico_pagina %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/partidos_calendario.css') }}">
{% endblock link_especifico_pagina %}

{% block contenedor_lateral_izq %}{% endblock contenedor_lateral_izq %}

{% block partidos %}{% endblock partidos %}

{% block principal %}

<div class="tarjeta-calendario">

    <div class="contenedor-titulo-calendario">

        <p class="titulo-pagina-calendario"><strong>Calendario del {{ nombre_equipo }}</strong></p>

        <div class="desplegable-contenedor">
            <strong class="ano-mes-filtrado">{{ ano_mes_calendario }}</strong>
            <button class="boton-desplegable" onclick="desplegablePaises()">
                <img src="{{ url_for('static', filename='imagenes/iconos/flecha.png') }}" alt="Flecha Icon" class="icono-flecha-fecha"> 
            </button>
            <div id="menuDesplegable" class="menu-desplegable">
                {% for ano_mes in anos_meses %}
                    <a href="/partidos/calendario/{{ ano_mes[0] }}" class="opcion-desplegable">
                        <strong>{{ ano_mes[1] }}</strong>
                    </a>
                {% endfor %}
            </div>
        </div>

    </div>

    <div class="dias-semana">
        <p>L</p>
        <p>M</p>
        <p>X</p>
        <p>J</p>
        <p>V</p>
        <p>S</p>
        <p>D</p>
    </div>

    <div class="contenedor-calendario">

        {% if ano_mes_anterior_boton %}
            <button class="button-partidos-calendario-anterior" onclick="window.location.href='/partidos/calendario/{{ ano_mes_anterior_boton }}'"><</button>
        {% endif %}

        <div class="calendario">

            {% for semana in semanas %}

                <div class="fila">

                    {% for dia in semana %}

                        {% if dia %}

                            {% if dia[2] %}

                                {% if dia[2][-1]==1 %}
                                    <div class="dia" onclick="window.location.href='/partido/{{ dia[2][0] }}'">
                                {% else %}
                                    <div class="dia-proximo">
                                {% endif %}

                                        <div class="contenido-partido">

                                            {% if dia[2][6]==-1 %}
                                                <img src="{{ url_for('static', filename='imagenes/iconos/no_escudo.png') }}" alt="Local Icon">
                                            {% else %}
                                                <img src="{{ url_imagen_escudo }}{{ dia[2][6] }}.png" alt="Local Icon">
                                            {% endif %}

                                            <p>{{ dia[2][1] }}</p>

                                            {% if dia[2][9]==-1 %}
                                                <img src="{{ url_for('static', filename='imagenes/iconos/no_escudo.png') }}" alt="Visitante Icon">
                                            {% else %}
                                                <img src="{{ url_imagen_escudo }}{{ dia[2][9] }}.png" alt="Visitante Icon">
                                            {% endif %}

                                        </div>

                                        {% if dia[2][-1]==1 %}
                                            <p class="numero-dia-partido">{{ dia[1] }}</p>
                                        {% else %}
                                            <p class="numero-dia-partido-proximo">{{ dia[1] }}</p>
                                        {% endif %}

                                    </div>
                            {% else %}
                                <div class="dia-sin-partido">
                                    <div class="contenido-no-partido"></div>
                                    <p class="numero-dia-no-partido">{{ dia[1] }}</p>
                                </div>
                            {% endif %}

                        {% else %}
                            <div class="dia-vacio"></div>
                        {% endif %}

                    {% endfor %}

                </div>

            {% endfor %}

        </div>

        {% if ano_mes_siguiente_boton %}
        <button class="button-partidos-calendario-siguiente" onclick="window.location.href='/partidos/calendario/{{ ano_mes_siguiente_boton }}'">></button>
        {% endif %}

    </div>

 </div>

{% endblock principal %}

{% block contenedor_lateral_der %}{% endblock contenedor_lateral_der %}