{% extends "partidos.html" %}

{% block link_especifico_pagina %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/partido_asistido.css') }}">
{% endblock link_especifico_pagina %}

{% block contenedor_lateral_izq %}{% endblock contenedor_lateral_izq %}

{% block partidos %}{% endblock partidos %}

{% block principal %}

<div class="tarjeta-partido-asistido-detalle" {% if partido_asistido_favorito %} style="background-color: #ffbf00;"{% endif %} {% if partido_asistido[11] %} style="margin-bottom: 50px" {% endif %}>

    {% if partido_asistido_favorito %}

        <img class="favorito-asistido" src="{{ url_for('static', filename='imagenes/iconos/favorito_asistido.png') }}" alt="Favorito Icon" onclick="window.location.href='/partido/{{ partido_asistido[1] }}/asistido/quitar_partido_favorito'">
        <h3 class="titulo-partido-asistido-favorito">¡El mejor partido asistido!</h3>

    {% else %}

        <img class="favorito-asistido" src="{{ url_for('static', filename='imagenes/iconos/no_favorito_asistido.png') }}" alt="Favorito Icon" onclick="window.location.href='/partido/{{ partido_asistido[1] }}/asistido/anadir_partido_favorito'">

    {% endif %}

    <div class="info-partido-asistido-detalle">

        {% if partido_asistido[5]==-1 %}
            <img class="escudo" src="{{ url_for('static', filename='imagenes/iconos/no_escudo.png') }}" alt="Local Asistido Icon" onclick="window.location.href='/equipo/{{ partido_asistido[3] }}'">
        {% else %}
            <img class="escudo" src="{{ url_imagen_escudo }}{{ partido_asistido[5] }}.png" alt="Local Asistido Icon" onclick="window.location.href='/equipo/{{ partido_asistido[3] }}'">
        {% endif %}

        <h4>{{ partido_asistido[4] }} {{ partido_asistido[2] }} {{ partido_asistido[7] }}</h4>

        {% if partido_asistido[8]==-1 %}
            <img class="escudo" src="{{ url_for('static', filename='imagenes/iconos/no_escudo.png') }}" alt="Visitante Asistido Icon" onclick="window.location.href='/equipo/{{ partido_asistido[6] }}'">
        {% else %}
            <img class="escudo" src="{{ url_imagen_escudo }}{{ partido_asistido[8] }}.png" alt="Visitante Asistido Icon" onclick="window.location.href='/equipo/{{ partido_asistido[6] }}'">
        {% endif %}

    </div>

    {% if partido_asistido[11] %}

        <div class="seccion-on-tour-partido-asistido">

            <hr style="width: 700px">

            <div class="contenedor-titulo-on-tour-partido-asistido">
                <p class="titulo-seccion-on-tour">
                    <img src="{{ url_for('static', filename='imagenes/iconos/british_rail.png') }}" alt="Rail Icon" class="icono-rail">
                    <strong>DATOS ON TOUR</strong>
                    <img src="{{ url_for('static', filename='imagenes/iconos/british_rail.png') }}" alt="Rail Icon" class="icono-rail">
                </p>
            </div>

            <div class="contenedor-fechas-on-tour-partido-asistido">
                <div class="contenedor-fecha-on-tour">
                    <p class="fecha-on-tour"><strong>Fecha Ida: {{ partido_asistido[12] }}</strong></p>
                </div>
                <div class="contenedor-fecha-on-tour">
                    <p class="fecha-on-tour"><strong>Fecha Vuelta: {{ partido_asistido[13] }}</strong></p>
                </div>
            </div>

            <p class="teletrabajo-on-tour">
                {% if partido_asistido[14] %}
                    <strong>Teletrabajo Si</strong>
                {% else %}
                    <strong>Teletrabajo No</strong>
                {% endif %}
            </p>

             {% if mapas_correcto %}
                <div class="tarjetas-mapas-trayectos">
                    <div class="tarjeta-mapa-trayecto-ida">
                        <div class="contenedor-mapa-trayecto-ida">
                            <iframe src="/partido/{{ partido_asistido[1] }}/asistido/trayecto/mapa/{{ nombre_mapa_ida }}"></iframe>
                        </div>
                    </div>

                     <div class="tarjeta-mapa-trayecto-vuelta">
                        <div class="contenedor-mapa-trayecto-vuelta">
                            <iframe src="/partido/{{ partido_asistido[1] }}/asistido/trayecto/mapa/{{ nombre_mapa_vuelta }}"></iframe>
                        </div>
                    </div>
                </div>
            {% else %}
                <img class="no-mapa" src="{{ url_for('static', filename='imagenes/iconos/no_mapa.png') }}" alt="No Mapa Icon" height="120px">
            {% endif %}

        </div>

    {% endif %}

    <div class="contenedor-imagen">

        {% if partido_asistido[10]=='-1' %}

            <form action="/actualizar_imagen_partido_asistido/{{ partido_asistido[1] }}" method="POST" enctype="multipart/form-data" novalidate>

                <div class="contenedor-subir-imagen">
                    <p class="imagen-partido-asistido"><strong>Subir Imagen Partido</strong></p>
                    <label for="imagen" class="boton-seleccionar-imagen" id="botonLabel" {% if partido_asistido_favorito %} style="color: #ffbf00;"{% endif %}>Seleccionar Imagen</label>
                    <input type="file" name="imagen" id="imagen" accept=".jpg, .jpeg, .png">
                    <div class="previsualizacion">
                      <p id="mensaje" class="mensaje">No se ha seleccionado archivo</p>
                      <img class="imagen-preview" id="preview" src="" alt="Previsualización">
                    </div>
                </div>

                <div class="botones-anadir-imagen-partido-asistido">
                    <button type="submit" class="boton-anadir-imagen-partido-asistido" {% if partido_asistido_favorito %} style="color: #ffbf00;"{% endif %}>
                        Confirmar Imagen
                    </button>
                </div>

            </form>

        {% else %}
            <div class="imagen">
                <img class="imagen-partido" src="{{ url_imagen_usuario_imagenes }}{{ partido_asistido[10] }}" alt="Imagen Icon">
            </div>
        {% endif %}

    </div>

    <div class="contenedor-comentario">

        {% if partido_asistido[9] %}

            <div class="comentario">
                <p>{{ partido_asistido[9] }}</p>
            </div>

        {% else %}

            <div class="contenedor-no-comentario">

                <h2 class="no-comentario">No hay comentario para este partido...</h2>

                <div id="contenedorBoton" style="display: block;">
                    <button id="botonComentarPartidoAsistido" class="button-comentar-partido-asistido" {% if partido_asistido_favorito %} style="color: #ffbf00;"{% endif %}>
                        Realizar un comentario
                    </button>
                </div>

                <div class="seccion-comentar-partido-asistido" id="contenedorComentarPartidoAsistido" style="display: none;">
                    <form action="/actualizar_comentario_partido_asistido/{{ partido_asistido[1] }}" method="POST">

                        <div class="contenedor-nuevo-comentario">
                            <textarea id="nuevo-comentario" name="nuevo-comentario" class="campo-nuevo-comentario" rows="4" placeholder="Añade un comentario sobre el partido"></textarea>
                        </div>

                        <div class="botones-anadir-comentario-partido-asistido">
                            <button type="submit" class="boton-anadir-comentario-partido-asistido" {% if partido_asistido_favorito %} style="color: #ffbf00;"{% endif %}>
                                Añadir Comentario
                            </button>
                            <button id="botonNoComentarPartidoAsistido" class="boton-cancelar-comentario-partido-asistido" type="button" {% if partido_asistido_favorito %} style="color: #ffbf00;"{% endif %}>
                                Cerrar
                            </button>
                        </div>

                    </form>
                </div>

            </div>

        {% endif %}

    </div>

    <div class="contenedor-botones-asistido">

        {% if partido_id_asistido_anterior %}
            <button class="button-partido-anterior-asistido" onclick="window.location.href='/partido/{{ partido_id_asistido_anterior }}/asistido'" {% if partido_asistido_favorito %} style="color: #ffbf00;"{% endif %}>
                <
            </button>
        {% endif %}

        <button class="button-volver-partido-asistido" onclick="window.location.href='/partido/{{ partido_asistido[1] }}'" {% if partido_asistido_favorito %} style="color: #ffbf00;"{% endif %}>
            Ver Detalle Del Partido
        </button>

        {% if partido_id_asistido_siguiente %}
            <button class="button-partido-siguiente-asistido" onclick="window.location.href='/partido/{{ partido_id_asistido_siguiente }}/asistido'" {% if partido_asistido_favorito %} style="color: #ffbf00;"{% endif %}>
                >
            </button>
        {% endif %}

    </div>

    <img class="papelera-partido-asistido" src="{{ url_for('static', filename='imagenes/iconos/papelera.png') }}" alt="Papelera Icon" onclick="abrirVentanaEmergente()">

    <div id="ventana-emergente" class="ventana-emergente">
        <div class="contenido-ventana-emergente" {% if partido_asistido_favorito %} style="background-color: #ffbf00;"{% endif %}>
            <span class="cerrar" onclick="cerrarVentanaEmergente()">&times;</span>
            <h2>¿Estas seguro de eliminar este partido asistido?</h2>
            <button class="boton-confirmar-eliminar-favorito" onclick="window.location.href='/partido/{{ partido_asistido[1] }}/asistido/eliminar'" {% if partido_asistido_favorito %} style="color: #ffbf00;"{% endif %}>Si, eliminar el partido</button>
        </div>
    </div>

</div>

<script src="{{ url_for('static', filename='js/abrir_comentar_partido_asistido.js') }}"></script>
<script src="{{ url_for('static', filename='js/cerrar_comentar_partido_asistido.js') }}"></script>
<script src="{{ url_for('static', filename='js/ventana_emergente.js') }}"></script>
<script src="{{ url_for('static', filename='js/cargar_imagen_preview.js') }}"></script>

{% endblock principal %}

{% block contenedor_lateral_der %}{% endblock contenedor_lateral_der %}