<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/partidos.css') }}">
    
    {% block link_especifico_pagina %}{% endblock link_especifico_pagina %}

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels"></script>

    <title>Partidos</title>
</head>
<body class="body-equipo-{{ equipo }}">


    <nav class="navbar-principal">
        <div class="navbar-principal-izq">

            <img class="navbar-escudo" src="{{ url_for('static', filename='imagenes/favoritos/'+equipo+'.png') }}" alt="Imagen" onclick="window.location.href='/partidos'" style="cursor: pointer;">

            <ul class="navbar-principal-menu">

                <button id="toggle-navbar-club" class="toggle-button-club">
                    <strong>Club</strong>
                    <img src="{{ url_for('static', filename='imagenes/iconos/flecha.png') }}" alt="Flecha Icon" class="icono-flecha-navbar"> 
                </button>
                <div class="navbar-club" id="navbar-club">
                    <ul>
                        <li><a href="/equipo/{{ equipo }}"><strong>Datos del club</strong></a></li>
                        <li><a href="/estadio/{{ estadio_equipo }}"><strong>Estadio</strong></a></li>
                        <li><a href="#"><strong>Plantilla</strong></a></li>
                    </ul>
                </div>

                <button id="toggle-navbar-mis-partidos" class="toggle-button-mis-partidos" onclick="window.location.href='/partidos/asistidos'">
                    <strong>Mis Partidos</strong>
                </button>

                <button id="toggle-navbar-equipos" class="toggle-button-equipos" onclick="window.location.href='/equipos'">
                    <strong>Equipos</strong>
                </button>

                <button id="toggle-navbar-estadios" class="toggle-button-estadios">
                    <strong>Estadios</strong>
                    <img src="{{ url_for('static', filename='imagenes/iconos/flecha.png') }}" alt="Flecha Icon" class="icono-flecha-navbar"> 
                </button>
                <div class="navbar-estadios" id="navbar-estadios">
                    <ul>
                        <li><a href="/estadios"><strong>Todos los estadios</strong></a></li>
                        <li><a href="#"><strong>Mis estadios</strong></a></li>
                    </ul>
                </div>

                <button id="toggle-navbar-competiciones" class="toggle-button-competiciones">
                    <strong>Competiciones</strong>
                    <img src="{{ url_for('static', filename='imagenes/iconos/flecha.png') }}" alt="Flecha Icon" class="icono-flecha-navbar">                </button>
                <div class="navbar-competiciones" id="navbar-competiciones">
                    <ul>
                        <li><a href="/competiciones"><strong>Todas las competiciones</strong></a></li>
                        <li><a href="#"><strong>Mis competiciones</strong></a></li>
                    </ul>
                </div>

            </ul>

        </div>
        <div class="navbar-principal-der">
            <button id="toggle-navbar" class="toggle-button">
                <img src="{{ url_for('static', filename='imagenes/iconos/usuario.png') }}" alt="Hamburguesa Icon" height="20" class="icono-usuario">
            </button>
            <div class="navbar" id="navbar">
                <ul>
                    <li><a href="#">{{ usuario }}</a></li>
                    <li><a href="/anadir_partido_asistido">Añadir Partido</a></li>
                    <li><a href="/logout">Salir</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="contenedor-pagina">

        {% block contenedor_lateral_izq %}

        <div class="contenedor-lateral contenedor-lateral-izq">
            <div class="circulo-partidos-totales">
                <p class="titulo-circulo-partidos-totales">Partidos Jugados</p>
                <p class="valor-circulo-partidos-totales"><strong>{{ numero_partidos }}</strong></p>
            </div>
            <div class="circulo-estadisticas-partidos-disputados">
                <canvas id="grafico_tarta"></canvas>
                <script>var datos_grafica_tarta={{ resultados_partidos_disputados | tojson | safe }};</script>
                <script src="{{ url_for('static', filename='js/grafico_tarta.js') }}"></script>
            </div>
            <div class="circulo-partidos-asistidos">
                <p class="titulo-circulo-partidos-asistidos">Partidos Asistidos</p>
                <p class="valor-circulo-partidos-asistidos"><strong>{{ numero_partidos_asistidos }}</strong></p>
            </div>
        </div>

        {% endblock contenedor_lateral_izq %}

        <div class="contenido-central">

            <div class="contenido-principal">

                {% block partidos %}

                <div class="contenedor-titulo">
                    <h1>

                        {% if temporada_filtrada is none %}
                            Partidos del {{ nombre_equipo }}
                        {% else %}
                            Partidos del {{ nombre_equipo }} {{ temporada_filtrada-1 }}/{{ temporada_filtrada }}
                        {% endif %}

                        {% if local==1 %}
                            <img src="{{ url_for('static', filename='imagenes/iconos/local.png') }}" alt="Local Filtrado" height="30">
                        {% elif local==2 %}
                            <img src="{{ url_for('static', filename='imagenes/iconos/visitante.png') }}" alt="Visitante Filtrado" height="30">
                        {% else %}
                            <img src="{{ url_for('static', filename='imagenes/iconos/calendario.png') }}" alt="Total Filtrado" height="30">
                        {% endif %}

                    </h1>
                </div>

                {% endblock partidos %}

                {% block principal %}

                <div class="contenedor-tarjetas-partidos">

                    <div class="tarjetas-partidos">
                        <div class="tarjetas-partidos-wrapper">

                        {% for partido in partidos %}

                            <div class="tarjeta-partido" onclick="window.location.href='/partido/{{ partido[0] }}'">
                                <p><strong>{{ partido[2] }} - {{ partido[9] }}</strong></p>
                                <div class="info-partido">

                                    {% if partido[5]==-1 %}
                                        <img src="{{ url_for('static', filename='imagenes/iconos/no_escudo.png') }}" alt="Local Icon">
                                    {% else %}
                                        <img src="{{ url_imagen_escudo }}{{ partido[5] }}.png" alt="Local Icon">
                                    {% endif %}

                                    <h4>{{ partido[4] }} {{ partido[1] }} {{ partido[7] }}</h4>

                                    {% if partido[8]==-1 %}
                                        <img src="{{ url_for('static', filename='imagenes/iconos/no_escudo.png') }}" alt="Visitante Icon">
                                    {% else %}
                                        <img src="{{ url_imagen_escudo }}{{ partido[8] }}.png" alt="Visitante Icon">
                                    {% endif %}

                                </div>
                            </div>

                        {% endfor %}

                         </div>
                    </div>

                </div>

                <div class="contenedor-tipo-partidos">
                    <a href="/partidos" class="tipo-partidos tipo-partidos-todo">
                        <img src="{{ url_for('static', filename='imagenes/iconos/calendario.png') }}" alt="Todo" height="40">
                    </a>
                    <a href="/partidos?local=1" class="tipo-partidos tipo-partidos-local">
                        <img src="{{ url_for('static', filename='imagenes/iconos/local.png') }}" alt="Local" height="40">
                    </a>
                    <a href="/partidos?local=2" class="tipo-partidos tipo-partidos-visitante">
                        <img src="{{ url_for('static', filename='imagenes/iconos/visitante.png') }}" alt="Visitante" height="40">
                    </a>
                    <div class="contenedor-desplegable">
                        <select id="temporada" name="temporada">
                            <option value="" selected disabled hidden>
                                Temporada {{ temporada_filtrada-1 }} - {{ temporada_filtrada }}
                            </option>
                            {% for temporada in temporadas %}
                                <option value="{{ temporada }}">{{ temporada-1 }} - {{ temporada }}</option>
                            {% endfor %}

                        </select>
                    </div>
                </div>


                {% endblock principal %}

            </div>

        </div>

        {% block contenedor_lateral_der %}
        
        <div class="contenedor-lateral contenedor-lateral-der">

            {% if partidos_asistidos %}
                <div class="tarjeta-partidos-asistidos">

                <p class="titulo-partidos-asistidos">
                    <strong>
                    {% if temporada_filtrada is none %}
                        Asistidos
                    {% else %}
                        Asistidos {{ temporada_filtrada-1 }}/{{ temporada_filtrada }}
                    {% endif %}
                    </strong>

                    {% if local==1 %}
                        <img src="{{ url_for('static', filename='imagenes/iconos/local.png') }}" alt="Local Asistido Filtrado" height="20">
                    {% elif local==2 %}
                        <img src="{{ url_for('static', filename='imagenes/iconos/visitante.png') }}" alt="Visitante Asistido Filtrado" height="20">
                    {% else %}
                        <img src="{{ url_for('static', filename='imagenes/iconos/calendario.png') }}" alt="Total Asistido Filtrado" height="20">
                    {% endif %}

                </p>

                    <div class="tarjetas-partidos-asistidos">
                        <div class="tarjetas-partidos-asistidos-wrapper">

                        {% for asistido in partidos_asistidos %}

                            <div class="tarjeta-partido-asistido" onclick="window.location.href='/partido/{{ asistido[0] }}'">

                                <p><strong>{{ asistido[3] }}</strong></p>

                                <div class="info-partido-asistido">

                                    {% if asistido[4]==-1 %}
                                        <img src="{{ url_for('static', filename='imagenes/iconos/no_escudo.png') }}" alt="Local Icon">
                                    {% else %}
                                        <img src="{{ url_imagen_escudo }}{{ asistido[4] }}.png" alt="Local Icon">
                                    {% endif %}

                                    <h4>{{ asistido[1] }}</h4>

                                    {% if asistido[5]==-1 %}
                                        <img src="{{ url_for('static', filename='imagenes/iconos/no_escudo.png') }}" alt="Visitante Icon">
                                    {% else %}
                                        <img src="{{ url_imagen_escudo }}{{ asistido[5] }}.png" alt="Visitante Icon">
                                    {% endif %}

                                </div>

                                 <p><strong>{{ asistido[2] }}</strong></p>

                            </div>

                        {% endfor %}

                         </div>
                    </div>
                </div>
            {% endif %}

        </div>

        {% endblock contenedor_lateral_der %}
        
    </div>

    <script src="{{ url_for('static', filename='js/navbar.js') }}"></script>
    <script src="{{ url_for('static', filename='js/temporadas.js') }}"></script>
    <script src="{{ url_for('static', filename='js/pagina_anterior.js') }}"></script>

    <footer>
         <p>&copy; 2024 Futbol App. Todos los derechos reservados.</p>
    </footer>

</body>
</html>