{% extends "partidos.html" %}

{% block link_especifico_pagina %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/partidos_asistidos_estadio.css') }}">
{% endblock link_especifico_pagina %}

{% block contenedor_lateral_izq %}{% endblock contenedor_lateral_izq %}

{% block partidos %}

<div class="contenedor-titulo-partidos-asistidos-estadio">
    
    <h1>Partidos Asistidos en {{ estadio[0] }}

        {% if estadio[11] == '-1' %}
            <img class="pais-icono" src="{{ url_for('static', filename='imagenes/iconos/no_pais.png') }}" alt="Pais Icon">
        {% else %}
            <img class="pais-icono" src="{{ url_imagen_pais }}{{ estadio[11] }}.png" alt="Pais Icon">
        {% endif %}

    </h1>

</div>

{% endblock partidos %}

{% block principal %}

<div class="contenedor-tarjetas-partidos-asistidos-estadio">

    <div class="tarjetas-partidos-asistidos-estadio">
        <div class="tarjetas-partidos-asistidos-estadio-wrapper">

        {% for partido in partidos_asistidos_estadio %}

            <div class="tarjeta-partido-asistidos-estadio" onclick="window.location.href='/partido/{{ partido[0] }}/asistido'">
                <p><strong>{{ partido[2] }} - {{ partido[9] }}</strong></p>
                <div class="info-partido-asistidos-estadio">

                    {% if partido[5]==-1 %}
                        <img src="{{ url_for('static', filename='imagenes/iconos/no_escudo.png') }}" alt="Local Icon">
                    {% else %}
                        <img src="{{ url_imagen_escudo }}{{ partido[5] }}.png" alt="Local Icon">
                    {% endif %}

                    <h4>{{ partido[4] }} {{ partido[1] }} {{ partido[7] }}</h4>

                    {% if partido[8]==-1 %}
                        <img src="{{ url_for('static', filename='imagenes/iconos/no_escudo.png') }}" alt="Visitante Icon">
                    {% else %}
                        <img src="{{ url_imagen_escudo }}{{ partido[8] }}.png" alt="Visitante Icon">
                    {% endif %}

                </div>
            </div>

        {% endfor %}

         </div>
    </div>

</div>

{% endblock principal %}

{% block contenedor_lateral_der %}{% endblock contenedor_lateral_der %}