<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% block link %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/partidos.css') }}">
    {% endblock link %}

    <title>Partidos</title>
</head>
<body class="body-equipo-{{ equipo }}">

    <div class="contenido-principal">

        {% block partidos %}
        <div class="contenedor-titulo">
            <h1>Partidos del {{ nombre_equipo }}</h1>
        </div>
        <div class="escudo">
            <img src="{{ url_for('static', filename='imagenes/favoritos/'+equipo+'.png') }}" alt="Imagen" height="130"></p>
        </div>
        {% endblock partidos %}

        <button id="toggle-navbar" class="toggle-button">
            <img src="{{ url_for('static', filename='imagenes/iconos/hamburguesa.png') }}" alt="Hamburguesa Icon" width="18" height="18">
        </button>

        <div class="navbar" id="navbar">
            <ul>
                <li><a href="/partidos">Partidos</a></li>
                <li><a href="#">{{ usuario }}</a></li>
                <li><a href="/logout">Salir</a></li>
            </ul>
        </div>

        {% block principal %}

        <div class="tarjetas-partidos">
            <div class="tarjetas-partidos-wrapper">

            {% for partido in partidos %}

                <div class="tarjeta-partido" onclick="window.location.href='/partido/{{ partido[0] }}'">
                    <p><strong>{{ partido[2] }} - {{ partido[9] }}</strong></p>
                    <div class="info-partido">

                        {% if partido[5]==-1 %}
                            <img src="{{ url_for('static', filename='imagenes/iconos/no_escudo.png') }}" alt="Local Icon">
                        {% else %}
                            <img src="{{ url_imagen }}{{ partido[5] }}.png" alt="Local Icon">
                        {% endif %}

                        <h4>{{ partido[4] }} {{ partido[1] }} {{ partido[7] }}</h4>

                        {% if partido[8]==-1 %}
                            <img src="{{ url_for('static', filename='imagenes/iconos/no_escudo.png') }}" alt="Visitante Icon">
                        {% else %}
                            <img src="{{ url_imagen }}{{ partido[8] }}.png" alt="Visitante Icon">
                        {% endif %}

                    </div>
                </div>

            {% endfor %}

             </div>
        </div>

        <div class="contenedor-tipo-partidos">
            <a href="/partidos" class="tipo-partidos tipo-partidos-todo">
                <img src="{{ url_for('static', filename='imagenes/iconos/calendario.png') }}" alt="Todo" width="50" height="50">
            </a>
            <a href="/partidos?local=1" class="tipo-partidos tipo-partidos-local">
                <img src="{{ url_for('static', filename='imagenes/iconos/local.png') }}" alt="Local" width="50" height="50">
            </a>
            <a href="/partidos?local=2" class="tipo-partidos tipo-partidos-visitante">
                <img src="{{ url_for('static', filename='imagenes/iconos/visitante.png') }}" alt="Visitante" width="50" height="50">
            </a>
            <div class="contenedor-desplegable">
                <select id="temporada" name="temporada">
                    <option value="" selected disabled hidden>
                        Temporada {{ temporada_filtrada-1 }} - {{ temporada_filtrada }}
                    </option>
                    {% for temporada in temporadas %}
                        <option value="{{ temporada }}">{{ temporada-1 }} - {{ temporada }}</option>
                    {% endfor %}

                </select>
            </div>
        </div>

        {% endblock principal %}

    </div>

    <script src="{{ url_for('static', filename='js/navbar.js') }}"></script>
    <script src="{{ url_for('static', filename='js/temporadas.js') }}"></script>

    <footer>
         <p>&copy; 2024 Futbol App. Todos los derechos reservados.</p>
    </footer>

</body>
</html>