{% extends "partidos.html" %}

{% block link_especifico_pagina %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/porra_proximo_partido.css') }}">
{% endblock link_especifico_pagina %}

{% block contenedor_lateral_izq %}

{% if porras_usuarios %}

    <div class="contenedor-lateral contenedor-lateral-izq">
        <div class="tarjeta-mas-porras">

            <p class="titulo-mas-porras"><strong>Más Porras</strong></p>

                <div class="tarjetas-mas-porras">
                    <div class="tarjetas-mas-porras-wrapper">

                    {% for porra_usuario in porras_usuarios %}

                        <div class="tarjeta-porra-usuario">

                            <div class="usuario-porra">

                                {% if porra_usuario[2]=='-1' %}
                                    <img src="{{ url_for('static', filename='imagenes/iconos/usuario.png') }}" 
                                         alt="Usuario Icon" class="icono-usuario-porra">
                                {% else %}
                                    <img src="{{ url_imagen_usuario_perfil_general }}/{{ porra_usuario[0] }}/perfil/{{ porra_usuario[2] }}" 
                                         alt="Usuario Icon" class="icono-usuario-imagen-porra">
                                {% endif %}
                                
                                <strong>{{ porra_usuario[1] }}</strong>
                            </div>

                            <div class="info-porra-usuario">

                                {% if proximo_partido[5]==-1 %}
                                    <img src="{{ url_for('static', filename='imagenes/iconos/no_escudo.png') }}" alt="Local Icon">
                                {% else %}
                                    <img src="{{ url_imagen_escudo }}{{ proximo_partido[5] }}.png" alt="Local Icon">
                                {% endif %}

                                <h4>{{ porra_usuario[3] }} - {{ porra_usuario[4] }}</h4>

                                {% if proximo_partido[8]==-1 %}
                                    <img src="{{ url_for('static', filename='imagenes/iconos/no_escudo.png') }}" alt="Visitante Icon">
                                {% else %}
                                    <img src="{{ url_imagen_escudo }}{{ proximo_partido[8] }}.png" alt="Visitante Icon">
                                {% endif %}

                            </div>

                        </div>

                    {% endfor %}

                     </div>
                </div>
        </div>
    </div>

{% endif %}

{% endblock contenedor_lateral_izq %}

{% block partidos %}{% endblock partidos %}

{% block principal %}

<div class="tarjeta-proximo-partido-detalle">

    <div class="porra-proximo-partido">

        <form class="form-porra" method="POST" {% if porra_realizada %}action="#"{% else %}action="/insertar_porra_partido"{% endif %}>

            <p class="competicion">
                <strong class="strong-competicion">{{ proximo_partido[2] }} - {{ proximo_partido[0] }} - {{ proximo_partido[1] }}</strong>
            </p>

            <h4 class="titulo-porra">LA PORRA</h4>

            <div id="porra-data"
                data-local="{{ proximo_partido[4] }}"
                data-visitante="{{ proximo_partido[7] }}">
            </div>

            {% if porra_realizada %}

                <div class="resultado-container-porra-hecha">

                    <div class="equipo">
                        {% if proximo_partido[5]==-1 %}
                            <img class="escudo" src="{{ url_for('static', filename='imagenes/iconos/no_escudo.png') }}" alt="Local Icon" onclick="window.location.href='/equipo/{{ proximo_partido[3] }}'">
                        {% else %}
                            <img class="escudo" src="{{ url_imagen_escudo }}{{ proximo_partido[5] }}.png" alt="Local Icon" onclick="window.location.href='/equipo/{{ proximo_partido[3] }}'">
                        {% endif %}

                        <label>{{ proximo_partido[4] }}</label>
                        <input type="number" id="goles_local" name="goles_local" value="{{ datos_porra[0] }}" readonly>
                    </div>

                    <span class="vs">VS</span>

                    <div class="equipo">
                        <input type="number" id="goles_visitante" name="goles_visitante" value="{{ datos_porra[1] }}" readonly>
                        <label>{{ proximo_partido[7] }}</label>

                        {% if proximo_partido[8]==-1 %}
                            <img class="escudo" src="{{ url_for('static', filename='imagenes/iconos/no_escudo.png') }}" alt="Visitante Icon" onclick="window.location.href='/equipo/{{ proximo_partido[6] }}'">
                        {% else %}
                            <img class="escudo" src="{{ url_imagen_escudo }}{{ proximo_partido[8] }}.png" alt="Visitante Icon" onclick="window.location.href='/equipo/{{ proximo_partido[6] }}'">
                        {% endif %}
                    </div>
                </div>


                <div id="goleadores-container-porra-hecha" class="goleadores-container-porra-hecha">
                    <div class="goleadores-grupo-porra-hecha">
                        <div id="goleadores-local-porra-hecha" class="equipo-goleadores-porra-hecha">
                            <div class="titulo-goleadores-porra-hecha">
                                {% if proximo_partido[5]==-1 %}
                                    <img class="escudo-porra-hecha" src="{{ url_for('static', filename='imagenes/iconos/no_escudo.png') }}" alt="Escudo local">
                                {% else %}
                                    <img class="escudo-porra-hecha" src="{{ url_imagen_escudo }}{{ proximo_partido[5] }}.png" alt="Escudo local">
                                {% endif %}
                                <p>Goleadores del {{ proximo_partido[4] }}</p>
                            </div>
                            <div class="lista-goleadores-porra-hecha">

                            {% for goleador in goleadores_porra %}

                                {% if goleador[4]==True %}

                                    <div class="goleador-item-porra-hecha">
                                        {% if goleador[2]=='-1' %}
                                            <img class="goleador-imagen-local" src="{{ url_for('static', filename='imagenes/iconos/no_jugador.png') }}" alt="Jugador Icon">
                                        {% else %}
                                            <img class="goleador-imagen-local" src="{{ url_imagen_jugador }}{{ goleador[2] }}.png" alt="Jugador Icon">
                                        {% endif %}
                                        
                                        {% if goleador[3]>1 %}
                                            <span>{{ goleador[1] }} X{{ goleador[3] }}</span>
                                        {% else %}
                                            <span>{{ goleador[1] }}</span>
                                        {% endif %}
                                    </div>

                                {% endif %}

                            {% endfor %}
         
                            </div>
                        </div>

                        <div id="goleadores-visitante-porra-hecha" class="equipo-goleadores-porra-hecha">
                            <div class="titulo-goleadores-porra-hecha">
                                {% if proximo_partido[8]==-1 %}
                                    <img class="escudo-porra-hecha" src="{{ url_for('static', filename='imagenes/iconos/no_escudo.png') }}" alt="Escudo visitante">
                                {% else %}
                                    <img class="escudo-porra-hecha" src="{{ url_imagen_escudo }}{{ proximo_partido[8] }}.png" alt="Escudo visitante">
                                {% endif %}
                                <p>Goleadores del {{ proximo_partido[7] }}</p>
                            </div>
                            <div class="lista-goleadores-porra-hecha">
              
                            {% for goleador in goleadores_porra %}

                                {% if goleador[4]!=True %}

                                    <div class="goleador-item-porra-hecha">
                                        {% if goleador[2]=='-1' %}
                                            <img class="goleador-imagen-local" src="{{ url_for('static', filename='imagenes/iconos/no_jugador.png') }}" alt="Jugador Icon">
                                        {% else %}
                                            <img class="goleador-imagen-local" src="{{ url_imagen_jugador }}{{ goleador[2] }}.png" alt="Jugador Icon">
                                        {% endif %}

                                        {% if goleador[3]>1 %}
                                            <span>{{ goleador[1] }} X{{ goleador[3] }}</span>
                                        {% else %}
                                            <span>{{ goleador[1] }}</span>
                                        {% endif %}
                                    </div>

                                {% endif %}

                            {% endfor %}

                            </div>
                        </div>
                    </div>
                </div>

                <div class="botones-porra">
                    <button type="button" class="btn-modificar-porra" onclick="window.location.href='/partido/{{ partido_id }}/porra/eliminar'">Modificar Porra</button>
                </div>

            {% else %}

                <div class="resultado-container">

                    <div class="equipo">
                        {% if proximo_partido[5]==-1 %}
                            <img class="escudo" src="{{ url_for('static', filename='imagenes/iconos/no_escudo.png') }}" alt="Local Icon" onclick="window.location.href='/equipo/{{ proximo_partido[3] }}'">
                        {% else %}
                            <img class="escudo" src="{{ url_imagen_escudo }}{{ proximo_partido[5] }}.png" alt="Local Icon" onclick="window.location.href='/equipo/{{ proximo_partido[3] }}'">
                        {% endif %}

                        <label>{{ proximo_partido[4] }}</label>
                        <input type="number" id="goles_local" name="goles_local" min="0" max="9" step="1" required onkeydown="return false">
                    </div>

                    <span class="vs">VS</span>

                    <div class="equipo">
                        <input type="number" id="goles_visitante" name="goles_visitante" min="0" max="9" step="1" required onkeydown="return false">
                        <label>{{ proximo_partido[7] }}</label>

                        {% if proximo_partido[8]==-1 %}
                            <img class="escudo" src="{{ url_for('static', filename='imagenes/iconos/no_escudo.png') }}" alt="Visitante Icon" onclick="window.location.href='/equipo/{{ proximo_partido[6] }}'">
                        {% else %}
                            <img class="escudo" src="{{ url_imagen_escudo }}{{ proximo_partido[8] }}.png" alt="Visitante Icon" onclick="window.location.href='/equipo/{{ proximo_partido[6] }}'">
                        {% endif %}
                    </div>
                </div>

                <div id="goleadores-container" class="goleadores-container oculto">
                    <div class="goleadores-grupo">
                        <div id="goleadores-local" class="equipo-goleadores">
                            <div class="titulo-goleadores">
                                {% if proximo_partido[5]==-1 %}
                                    <img class="escudo-porra" src="{{ url_for('static', filename='imagenes/iconos/no_escudo.png') }}" alt="Escudo local">
                                {% else %}
                                    <img class="escudo-porra" src="{{ url_imagen_escudo }}{{ proximo_partido[5] }}.png" alt="Escudo local">
                                {% endif %}
                                <p>Goleadores del {{ proximo_partido[4] }}</p>
                            </div>
                            <div class="lista-goleadores"></div>
                        </div>

                        <div id="goleadores-visitante" class="equipo-goleadores">
                            <div class="titulo-goleadores">
                                {% if proximo_partido[8]==-1 %}
                                    <img class="escudo-porra" src="{{ url_for('static', filename='imagenes/iconos/no_escudo.png') }}" alt="Escudo visitante">
                                {% else %}
                                    <img class="escudo-porra" src="{{ url_imagen_escudo }}{{ proximo_partido[8] }}.png" alt="Escudo visitante">
                                {% endif %}
                                <p>Goleadores del {{ proximo_partido[7] }}</p>
                            </div>
                            <div class="lista-goleadores"></div>
                        </div>
                    </div>
                </div>

                <div class="botones-porra">
                    <input type="hidden" name="partido_id" value="{{ partido_id }}">
                    <button type="submit" class="btn-enviar-porra">Enviar Porra</button>
                    <button type="button" class="btn-restablecer-porra" onclick="window.location.href='/partido/{{ partido_id }}/porra'">Restablecer</button>
                </div>

            {% endif %}

        </form>

    </div>

</div>

<script>
window.jugadoresLocal = {{ jugadores_local | safe }};
window.jugadoresVisitante = {{ jugadores_visitante | safe }};
window.urlImagenJugador = "{{ url_imagen_jugador }}";
</script>

<script src="{{ url_for('static', filename='js/goleadores_porra.js') }}"></script>

{% endblock principal %}

{% block contenedor_lateral_der %}

{% if clasificacion_porras %}

    <div class="contenedor-lateral contenedor-lateral-der">

        <div class="tarjeta-clasificacion-porras">

            <p class="titulo-clasificacion-porras">
                <strong>Clasificación</strong>
            </p>

            <div class="tarjetas-clasificacion-porras">
                <div class="tarjetas-clasificacion-porras-wrapper">

                {% for clasificacion in clasificacion_porras %}

                    <div class="tarjeta-clasificacion-porras-usuario">

                        <div class="usuario-clasificacion-porras">

                            <p class="ranking-clasificacion-porras"><strong>{{ loop.index }}º</strong></p>

                            {% if clasificacion[2]=='-1' %}
                                <img src="{{ url_for('static', filename='imagenes/iconos/usuario.png') }}" 
                                     alt="Usuario Icon" class="icono-usuario-clasificacion-porras">
                            {% else %}
                                <img src="{{ url_imagen_usuario_perfil_general }}/{{ clasificacion[0] }}/perfil/{{ clasificacion[2] }}" 
                                     alt="Usuario Icon" class="icono-usuario-imagen-clasificacion-porras">
                            {% endif %}
                            
                            <p class="datos-clasificacion-porras"><strong>{{ clasificacion[1] }} - {{ clasificacion[5] }} pts</strong></p>

                        </div>

                    </div>

                {% endfor %}

                 </div>
            </div>

        </div>

    </div>

{% endif %}

{% endblock contenedor_lateral_der %}