{% extends "partidos.html" %}

{% block link_especifico_pagina %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/porra_proximo_partido.css') }}">
{% endblock link_especifico_pagina %}

{% block contenedor_lateral_izq %}{% endblock contenedor_lateral_izq %}

{% block partidos %}{% endblock partidos %}

{% block principal %}

<div class="tarjeta-proximo-partido-detalle">

    <p class="competicion">
        <strong class="strong-competicion">{{ proximo_partido[2] }} - {{ proximo_partido[0] }}</strong>
    </p>

    <div class="info-proximo-partido-detalle">

        {% if proximo_partido[5]==-1 %}
            <img class="escudo" src="{{ url_for('static', filename='imagenes/iconos/no_escudo.png') }}" alt="Local Icon" onclick="window.location.href='/equipo/{{ proximo_partido[3] }}'">
        {% else %}
            <img class="escudo" src="{{ url_imagen_escudo }}{{ proximo_partido[5] }}.png" alt="Local Icon" onclick="window.location.href='/equipo/{{ proximo_partido[3] }}'">
        {% endif %}

        <h4>{{ proximo_partido[4] }} - {{ proximo_partido[1] }} - {{ proximo_partido[7] }}</h4>

        {% if proximo_partido[8]==-1 %}
            <img class="escudo" src="{{ url_for('static', filename='imagenes/iconos/no_escudo.png') }}" alt="Visitante Icon" onclick="window.location.href='/equipo/{{ proximo_partido[6] }}'">
        {% else %}
            <img class="escudo" src="{{ url_imagen_escudo }}{{ proximo_partido[8] }}.png" alt="Visitante Icon" onclick="window.location.href='/equipo/{{ proximo_partido[6] }}'">
        {% endif %}

    </div>

    <div class="porra-proximo-partido">

        {% if porra_disponible %}
            <p class="competicion">Porra</p>
        {% else %}
            <p class="competicion">Porra Aun No Disponible</p>
        {% endif %}

    </div>

</div>

{% endblock principal %}

{% block contenedor_lateral_der %}{% endblock contenedor_lateral_der %}