{% extends "partidos.html" %}

{% block link_especifico_pagina %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/porra_proximo_partido.css') }}">
{% endblock link_especifico_pagina %}

{% block contenedor_lateral_izq %}{% endblock contenedor_lateral_izq %}
{% block partidos %}{% endblock partidos %}

{% block principal %}

<div class="tarjeta-proximo-partido-detalle">

    <div class="porra-proximo-partido">

        <form class="form-porra" method="POST" action="#">

            <p class="competicion">
                <strong class="strong-competicion">{{ proximo_partido[2] }} - {{ proximo_partido[0] }} - {{ proximo_partido[1] }}</strong>
            </p>

            <h4 class="titulo-porra">LA PORRA</h4>

            <div id="porra-data"
                data-local="{{ proximo_partido[4] }}"
                data-visitante="{{ proximo_partido[7] }}">
            </div>

            <div class="resultado-container">

                <div class="equipo">
                    {% if proximo_partido[5]==-1 %}
                        <img class="escudo" src="{{ url_for('static', filename='imagenes/iconos/no_escudo.png') }}" alt="Local Icon" onclick="window.location.href='/equipo/{{ proximo_partido[3] }}'">
                    {% else %}
                        <img class="escudo" src="{{ url_imagen_escudo }}{{ proximo_partido[5] }}.png" alt="Local Icon" onclick="window.location.href='/equipo/{{ proximo_partido[3] }}'">
                    {% endif %}

                    <label>{{ proximo_partido[4] }}</label>
                    <input type="number" id="goles_local" name="goles_local" min="0" max="9" step="1" required onkeydown="return false">
                </div>

                <span class="vs">vs</span>

                <div class="equipo">
                    <input type="number" id="goles_visitante" name="goles_visitante" min="0" max="9" step="1" required onkeydown="return false">
                    <label>{{ proximo_partido[7] }}</label>

                    {% if proximo_partido[8]==-1 %}
                        <img class="escudo" src="{{ url_for('static', filename='imagenes/iconos/no_escudo.png') }}" alt="Visitante Icon" onclick="window.location.href='/equipo/{{ proximo_partido[6] }}'">
                    {% else %}
                        <img class="escudo" src="{{ url_imagen_escudo }}{{ proximo_partido[8] }}.png" alt="Visitante Icon" onclick="window.location.href='/equipo/{{ proximo_partido[6] }}'">
                    {% endif %}
                </div>
            </div>

            <div id="goleadores-container" class="goleadores-container oculto">
                <div class="goleadores-grupo">
                    <!-- LOCAL -->
                    <div id="goleadores-local" class="equipo-goleadores">
                        <div class="titulo-goleadores">
                            {% if proximo_partido[5]==-1 %}
                                <img class="escudo-porra" src="{{ url_for('static', filename='imagenes/iconos/no_escudo.png') }}" alt="Escudo local">
                            {% else %}
                                <img class="escudo-porra" src="{{ url_imagen_escudo }}{{ proximo_partido[5] }}.png" alt="Escudo local">
                            {% endif %}
                            <p>Goleadores del {{ proximo_partido[4] }}</p>
                        </div>
                        <div class="lista-goleadores"></div>
                    </div>

                    <!-- VISITANTE -->
                    <div id="goleadores-visitante" class="equipo-goleadores">
                        <div class="titulo-goleadores">
                            {% if proximo_partido[8]==-1 %}
                                <img class="escudo-porra" src="{{ url_for('static', filename='imagenes/iconos/no_escudo.png') }}" alt="Escudo visitante">
                            {% else %}
                                <img class="escudo-porra" src="{{ url_imagen_escudo }}{{ proximo_partido[8] }}.png" alt="Escudo visitante">
                            {% endif %}
                            <p>Goleadores del {{ proximo_partido[7] }}</p>
                        </div>
                        <div class="lista-goleadores"></div>
                    </div>
                </div>
            </div>

            <div class="botones-porra">
                <button type="submit" class="btn-enviar-porra">Enviar Porra</button>
                <button type="button" class="btn-restablecer-porra" onclick="window.location.href='/partido/{{ partido_id }}/porra'">
                    Restablecer
                </button>
            </div>

        </form>

    </div>

</div>

<script>
window.jugadoresLocal = {{ jugadores_local | safe }};
window.jugadoresVisitante = {{ jugadores_visitante | safe }};
window.urlImagenJugador = "{{ url_imagen_jugador }}";
</script>

<script src="{{ url_for('static', filename='js/goleadores_porra.js') }}"></script>

{% endblock principal %}

{% block contenedor_lateral_der %}{% endblock contenedor_lateral_der %}