{% extends "partidos.html" %}

{% block link_especifico_pagina %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/proximos_partidos.css') }}">
{% endblock link_especifico_pagina %}

{% block contenedor_lateral_izq %}{% endblock contenedor_lateral_izq %}

{% block partidos %}

<div class="contenedor-titulo-proximos-partidos">
    <h1>Proximos Partidos del {{ nombre_equipo }}</h1>
</div>

{% endblock partidos %}

{% block principal %}

<div class="contenedor-tarjetas-proximos-partidos">

    <div class="tarjetas-proximos-partidos">
        <div class="tarjetas-proximos-partidos-wrapper">

        {% for partido in proximos_partidos %}

            <div class="tarjeta-proximo-partido">
                <p><strong>{{ partido[1] }} - {{ partido[9] }}</strong></p>
                <div class="info-proximo-partido">

                    {% if partido[5]==-1 %}
                        <img src="{{ url_for('static', filename='imagenes/iconos/no_escudo.png') }}" alt="Local Icon">
                    {% else %}
                        <img src="{{ url_imagen_escudo }}{{ partido[5] }}.png" alt="Local Icon">
                    {% endif %}

                    <h4>{{ partido[4] }} - {{ partido[2] }} - {{ partido[7] }}</h4>

                    {% if partido[8]==-1 %}
                        <img src="{{ url_for('static', filename='imagenes/iconos/no_escudo.png') }}" alt="Visitante Icon">
                    {% else %}
                        <img src="{{ url_imagen_escudo }}{{ partido[8] }}.png" alt="Visitante Icon">
                    {% endif %}

                </div>
            </div>

        {% endfor %}

         </div>
    </div>

</div>

{% endblock principal %}

{% block contenedor_lateral_der %}{% endblock contenedor_lateral_der %}