{% extends "partidos.html" %}

{% block link_especifico_pagina %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/wrapped_annio.css') }}">
{% endblock link_especifico_pagina %}

{% block contenedor_lateral_izq %}

<div class="contenedor-lateral contenedor-lateral-izq">
    <div class="circulo-partido-mas-goles">
        <div class="tarjeta-partido-mas-goles" onclick="window.location.href='/partido/{{ partido_mas_goles[0] }}'">

            <p class="titulo-circulo-partido-mas-goles"><strong>Partido Mas Goles</strong></p>

            <p><strong>{{ partido_mas_goles[3] }}</strong></p>

            <div class="info-partido-mas-goles">

                {% if partido_mas_goles[4]==-1 %}
                    <img src="{{ url_for('static', filename='imagenes/iconos/no_escudo.png') }}" alt="Local Icon">
                {% else %}
                    <img src="{{ url_imagen_escudo }}{{ partido_mas_goles[4] }}.png" alt="Local Icon">
                {% endif %}

                <h4>{{ partido_mas_goles[1] }}</h4>

                {% if partido_mas_goles[5]==-1 %}
                    <img src="{{ url_for('static', filename='imagenes/iconos/no_escudo.png') }}" alt="Visitante Icon">
                {% else %}
                    <img src="{{ url_imagen_escudo }}{{ partido_mas_goles[5] }}.png" alt="Visitante Icon">
                {% endif %}

            </div>

             <p><strong>{{ partido_mas_goles[2] }}</strong></p>

        </div>
    </div>

    <div class="circulo-estadisticas-partidos-asistidos">
        <canvas id="grafico_tarta"></canvas>
        <script>var datos_grafica_tarta={{ resultados_partidos_asistidos_annio | tojson | safe }};</script>
        <script src="{{ url_for('static', filename='js/grafico_tarta.js') }}"></script>
    </div>

    <div class="circulo-mapa-estadios-asistidos-wrapped">
        {% if mapas_correcto %}
            <div class="tarjeta-mapa-estadios-asistidos-wrapped" onclick="abrirVentanaEmergente()">
                <div class="contenedor-mapa-estadios-asistidos-wrapped">
                    <iframe src="/wrapped/mapa/{{ nombre_mapa_small }}"></iframe>
                </div>
            </div>
        {% else %}
            <img class="no-mapa" src="{{ url_for('static', filename='imagenes/iconos/no_mapa.png') }}" alt="No Mapa Icon" height="120px">
        {% endif %}
    </div>

</div>

<script src="{{ url_for('static', filename='js/ventana_emergente.js') }}"></script>

{% endblock contenedor_lateral_izq %}

{% block partidos %}{% endblock partidos %}

{% block principal %}

<div class="tarjeta-wrapped">

    <p class="titulo-pagina-wrapped"><strong>Wrapped {{ annio }}</strong></p>

    <div class="fila-datos">

        <div class="tarjeta-dato" onclick="abrirVentana('ventana-emergente-partidos')">

            <p><strong>Partidos</strong></p>

            <div class="valor-dato">
                <h4>{{ numero_partidos_asistidos_annio }}</h4>

                {% if numero_partidos_asistidos_annio>numero_partidos_asistidos_annio_anterior %}
                    <img class="estado" src="{{ url_for('static', filename='imagenes/iconos/subida.png') }}" alt="Estado Icon">
                {% elif  numero_partidos_asistidos_annio==numero_partidos_asistidos_annio_anterior %}
                    <img class="estado" src="{{ url_for('static', filename='imagenes/iconos/igual.png') }}" alt="Estado Icon">
                {% else %}
                    <img class="estado" src="{{ url_for('static', filename='imagenes/iconos/bajada.png') }}" alt="Estado Icon">
                {% endif %}

            </div>

        </div>

        <div class="tarjeta-dato" onclick="abrirVentana('ventana-emergente-estadios')">

            <p><strong>Estadios</strong></p>

            <div class="valor-dato">
                <h4>{{ numero_estadios_asistidos_annio }}</h4>

                {% if numero_estadios_asistidos_annio>numero_estadios_asistidos_annio_anterior %}
                    <img class="estado" src="{{ url_for('static', filename='imagenes/iconos/subida.png') }}" alt="Estado Icon">
                {% elif  numero_estadios_asistidos_annio==numero_estadios_asistidos_annio_anterior %}
                    <img class="estado" src="{{ url_for('static', filename='imagenes/iconos/igual.png') }}" alt="Estado Icon">
                {% else %}
                    <img class="estado" src="{{ url_for('static', filename='imagenes/iconos/bajada.png') }}" alt="Estado Icon">
                {% endif %}
                
            </div>

        </div>
        
        <div class="tarjeta-dato" onclick="abrirVentana('ventana-emergente-estadios-nuevos')">

            <p><strong>Estadios Nuevos</strong></p>

            <div class="valor-dato">
                <h4>{{ numero_estadios_nuevos_annio }}</h4>
                
                {% if numero_estadios_nuevos_annio>numero_estadios_nuevos_annio_anterior %}
                    <img class="estado" src="{{ url_for('static', filename='imagenes/iconos/subida.png') }}" alt="Estado Icon">
                {% elif  numero_estadios_nuevos_annio==numero_estadios_nuevos_annio_anterior %}
                    <img class="estado" src="{{ url_for('static', filename='imagenes/iconos/igual.png') }}" alt="Estado Icon">
                {% else %}
                    <img class="estado" src="{{ url_for('static', filename='imagenes/iconos/bajada.png') }}" alt="Estado Icon">
                {% endif %}

            </div>

        </div>

        <div class="tarjeta-dato" onclick="abrirVentana('ventana-emergente-paises')">

            <p><strong>Paises</strong></p>

            <div class="valor-dato">
                <h4>{{ numero_paises_asistidos_annio }}</h4>
                
                {% if numero_paises_asistidos_annio>numero_paises_asistidos_annio_anterior %}
                    <img class="estado" src="{{ url_for('static', filename='imagenes/iconos/subida.png') }}" alt="Estado Icon">
                {% elif  numero_paises_asistidos_annio==numero_paises_asistidos_annio_anterior %}
                    <img class="estado" src="{{ url_for('static', filename='imagenes/iconos/igual.png') }}" alt="Estado Icon">
                {% else %}
                    <img class="estado" src="{{ url_for('static', filename='imagenes/iconos/bajada.png') }}" alt="Estado Icon">
                {% endif %}

            </div>

        </div>

        <div class="tarjeta-dato" onclick="abrirVentana('ventana-emergente-equipos')">

            <p><strong>Equipo Mas Visto</strong></p>

            <div class="valor-dato">

                {% if equipo_mas_visto_annio %}

                    {% if equipo_mas_visto_annio[1]==-1 %}
                        <img class="escudo-mas-visto" src="{{ url_for('static', filename='imagenes/iconos/no_escudo.png') }}" alt="Escudo Icon">
                    {% else %}
                        <img class="escudo-mas-visto" src="{{ url_imagen_escudo }}{{ equipo_mas_visto_annio[1] }}.png" alt="Escudo Icon">
                    {% endif %}

                    <h4>{{ equipo_mas_visto_annio[4] }}</h4>

                {% endif %}

            </div>

        </div>

    </div>

    <div class="fila-datos">

        <div class="tarjeta-dato" onclick="abrirVentana('ventana-emergente-trayectos')">

            <p><strong>Distancia Recorrida</strong></p>

            <div class="valor-dato">
                <h4 class="dato-estilo">{{ anadirPuntos(distancia_total_trayectos_annio | string) }} kms</h4>

                {% if distancia_total_trayectos_annio>distancia_total_trayectos_annio_anterior %}
                    <img class="estado" src="{{ url_for('static', filename='imagenes/iconos/subida.png') }}" alt="Estado Icon">
                {% elif  distancia_total_trayectos_annio==distancia_total_trayectos_annio_anterior %}
                    <img class="estado" src="{{ url_for('static', filename='imagenes/iconos/igual.png') }}" alt="Estado Icon">
                {% else %}
                    <img class="estado" src="{{ url_for('static', filename='imagenes/iconos/bajada.png') }}" alt="Estado Icon">
                {% endif %}

            </div>

        </div>

        <div class="tarjeta-dato" onclick="abrirVentana('ventana-emergente-trayecto-lejano')">

            <p><strong>Mas Lejano</strong></p>

            <div class="valor-dato">
                <h4 class="dato-estilo">{{ anadirPuntos(partido_asistido_trayecto_mas_lejano_annio[1]["Distancia_Total"] | string) }} kms</h4>

                {% if partido_asistido_trayecto_mas_lejano_annio[1]["Distancia_Total"]>partido_asistido_trayecto_mas_lejano_annio_anterior[1]["Distancia_Total"] %}
                    <img class="estado" src="{{ url_for('static', filename='imagenes/iconos/subida.png') }}" alt="Estado Icon">
                {% elif  partido_asistido_trayecto_mas_lejano_annio[1]["Distancia_Total"]==partido_asistido_trayecto_mas_lejano_annio_anterior[1]["Distancia_Total"] %}
                    <img class="estado" src="{{ url_for('static', filename='imagenes/iconos/igual.png') }}" alt="Estado Icon">
                {% else %}
                    <img class="estado" src="{{ url_for('static', filename='imagenes/iconos/bajada.png') }}" alt="Estado Icon">
                {% endif %}

            </div>

        </div>

        <div class="tarjeta-dato" onclick="abrirVentana('ventana-emergente-trayecto-locura')">

            <p><strong>Mas Locura</strong></p>

            <div class="valor-dato">

                {% if partido_asistido_trayecto_mas_locura_annio %}

                    {% if partido_asistido_trayecto_mas_locura_annio[1]["Datos_Partido"][1]==-1 %}
                        <img class="escudo-mas-locura-local" src="{{ url_for('static', filename='imagenes/iconos/no_escudo.png') }}" alt="Escudo Icon">
                    {% else %}
                        <img class="escudo-mas-locura-local" src="{{ url_imagen_escudo }}{{ partido_asistido_trayecto_mas_locura_annio[1]['Datos_Partido'][1] }}.png" alt="Escudo Icon">
                    {% endif %}

                    <h4>vs</h4>

                    {% if partido_asistido_trayecto_mas_locura_annio[1]["Datos_Partido"][2]==-1 %}
                        <img class="escudo-mas-locura-visitante" src="{{ url_for('static', filename='imagenes/iconos/no_escudo.png') }}" alt="Escudo Icon">
                    {% else %}
                        <img class="escudo-mas-locura-visitante" src="{{ url_imagen_escudo }}{{ partido_asistido_trayecto_mas_locura_annio[1]['Datos_Partido'][2] }}.png" alt="Escudo Icon">
                    {% endif %}

                {% else %}

                    <h4>-</h4>

                {% endif %}

            </div>

        </div>

    </div>

    <div class="fila-datos">
        <div class="tarjeta-dato-grafica">
            <p><strong>Partidos Por Mes</strong></p>
            <canvas id="grafico_barras"></canvas>
            <script>var datos_grafica_barras={{ datos_grafica_barras | tojson | safe }};</script>
            <script src="{{ url_for('static', filename='js/grafico_barras_wrapped.js') }}"></script>
            <script>var url_imagen_escudo = "{{ url_imagen_escudo }}";</script>
        </div>
    </div>
    
</div>

<script src="{{ url_for('static', filename='js/ventana_emergente_wrapped.js') }}"></script>

{% endblock principal %}

{% block contenedor_lateral_der %}

<!-- Sale de aqui la ventana emergente (es curioso porque deberia estar junto con el boton que la hace desplegarse) para evitar solapamiento con los contenedores laterales -->
<div id="ventana-emergente-partidos" class="ventana-emergente">
    <div class="contenido-ventana-emergente">
        <span class="cerrar" onclick="cerrarVentana('ventana-emergente-partidos')">&times;</span>

        <p class="titulo-ventana"><strong>Partidos Asistidos {{ annio }}</strong></p>

        <div class="contenedor-tarjetas-partidos-asistidos">

            <div class="tarjetas-partidos-asistidos">
                <div class="tarjetas-partidos-asistidos-wrapper">

                {% for partido in partidos_asistidos_annio %}

                    <div class="tarjeta-partido-asistidos" onclick="window.location.href='/partido/{{ partido[0] }}/asistido'">
                        <p><strong>{{ partido[2] }} - {{ partido[3] }}</strong></p>
                        <div class="info-partido-asistidos">

                            {% if partido[4]==-1 %}
                                <img src="{{ url_for('static', filename='imagenes/iconos/no_escudo.png') }}" alt="Local Icon">
                            {% else %}
                                <img src="{{ url_imagen_escudo }}{{ partido[4] }}.png" alt="Local Icon">
                            {% endif %}

                            <h4>{{ partido[6] }} {{ partido[1] }} {{ partido[7] }}</h4>

                            {% if partido[5]==-1 %}
                                <img src="{{ url_for('static', filename='imagenes/iconos/no_escudo.png') }}" alt="Visitante Icon">
                            {% else %}
                                <img src="{{ url_imagen_escudo }}{{ partido[5] }}.png" alt="Visitante Icon">
                            {% endif %}

                        </div>
                    </div>

                {% endfor %}

                 </div>
            </div>

        </div>
        
    </div>
</div>

<!-- Sale de aqui la ventana emergente (es curioso porque deberia estar junto con el boton que la hace desplegarse) para evitar solapamiento con los contenedores laterales -->
<div id="ventana-emergente-estadios" class="ventana-emergente">
    <div class="contenido-ventana-emergente">
        <span class="cerrar" onclick="cerrarVentana('ventana-emergente-estadios')">&times;</span>

        <p class="titulo-ventana"><strong>Estadios Visitados {{ annio }}</strong></p>

        <div class="tarjetas-estadios-asistidos">
            <div class="tarjetas-estadios-asistidos-wrapper">

            {% for estadio in estadios_asistidos_annio %}

            <div class="tarjeta-estadio-asistido" onclick='window.location.href="/estadio/"+encodeURIComponent("{{ estadio[0] | replace("\"", "\\\"") }}")'>

                <div class="info-estadio-asistido">

                    {% if estadio[4]==-1 %}
                        <img class="estadio-estadio-asistido" src="{{ url_for('static', filename='imagenes/iconos/no_estadio.png') }}" alt="Estadio Icon">
                    {% else %}
                        <img class="estadio-estadio-asistido" src="{{ url_imagen_estadio }}{{ estadio[4] }}.png" alt="Estadio Icon">
                    {% endif %}

                    <h4>{{ estadio[1] }}</h4>

                    {% if estadio[2]=='-1' %}
                        <img class="pais-estadio-asistido" src="{{ url_for('static', filename='imagenes/iconos/no_pais.png') }}" alt="Pais Icon">
                    {% else %}
                        <img class="pais-estadio-asistido" src="{{ url_imagen_pais }}{{ estadio[2] }}.png" alt="Pais Icon">
                    {% endif %}

                </div>
            </div>

            {% endfor %}

            </div>
        </div>

    </div>
</div>

<!-- Sale de aqui la ventana emergente (es curioso porque deberia estar junto con el boton que la hace desplegarse) para evitar solapamiento con los contenedores laterales -->
<div id="ventana-emergente-estadios-nuevos" class="ventana-emergente">
    <div class="contenido-ventana-emergente">
        <span class="cerrar" onclick="cerrarVentana('ventana-emergente-estadios-nuevos')">&times;</span>

        <p class="titulo-ventana"><strong>Estadios Nuevos {{ annio }}</strong></p>

        <div class="tarjetas-estadios-asistidos">
            <div class="tarjetas-estadios-asistidos-wrapper">

            {% for estadio in estadios_nuevos_annio %}

            <div class="tarjeta-estadio-asistido" onclick='window.location.href="/estadio/"+encodeURIComponent("{{ estadio[0] | replace("\"", "\\\"") }}")'>

                <div class="info-estadio-asistido">

                    {% if estadio[4]==-1 %}
                        <img class="estadio-estadio-asistido" src="{{ url_for('static', filename='imagenes/iconos/no_estadio.png') }}" alt="Estadio Icon">
                    {% else %}
                        <img class="estadio-estadio-asistido" src="{{ url_imagen_estadio }}{{ estadio[4] }}.png" alt="Estadio Icon">
                    {% endif %}

                    <h4>{{ estadio[1] }}</h4>

                    {% if estadio[2]=='-1' %}
                        <img class="pais-estadio-asistido" src="{{ url_for('static', filename='imagenes/iconos/no_pais.png') }}" alt="Pais Icon">
                    {% else %}
                        <img class="pais-estadio-asistido" src="{{ url_imagen_pais }}{{ estadio[2] }}.png" alt="Pais Icon">
                    {% endif %}

                </div>
            </div>

            {% endfor %}

            </div>
        </div>

    </div>
</div>

<!-- Sale de aqui la ventana emergente (es curioso porque deberia estar junto con el boton que la hace desplegarse) para evitar solapamiento con los contenedores laterales -->
<div id="ventana-emergente-paises" class="ventana-emergente">
    <div class="contenido-ventana-emergente">
        <span class="cerrar" onclick="cerrarVentana('ventana-emergente-paises')">&times;</span>

        <p class="titulo-ventana"><strong>Paises Visitados {{ annio }}</strong></p>

        <div class="tarjetas-paises-asistidos">
            <div class="tarjetas-paises-asistidos-wrapper">

            {% for pais in paises_asistidos_annio %}

            <div class="tarjeta-pais-asistido">

                <div class="info-pais-asistido">

                    <h4>{{ pais[1] }}</h4>

                    {% if pais[0]=='-1' %}
                        <img class="pais-asistido" src="{{ url_for('static', filename='imagenes/iconos/no_pais.png') }}" alt="Pais Icon">
                    {% else %}
                        <img class="pais-asistido" src="{{ url_imagen_pais }}{{ pais[0] }}.png" alt="Pais Icon">
                    {% endif %}

                    <h4>{{ pais[2] }} veces</h4>

                </div>
            </div>

            {% endfor %}

            </div>
        </div>

    </div>
</div>

<!-- Sale de aqui la ventana emergente (es curioso porque deberia estar junto con el boton que la hace desplegarse) para evitar solapamiento con los contenedores laterales -->
<div id="ventana-emergente-equipos" class="ventana-emergente">
    <div class="contenido-ventana-emergente">
        <span class="cerrar" onclick="cerrarVentana('ventana-emergente-equipos')">&times;</span>

        <p class="titulo-ventana"><strong>Equipos Vistos {{ annio }}</strong></p>

        <div class="tarjetas-equipos-vistos">
            <div class="tarjetas-equipos-vistos-wrapper">

            {% for equipo in equipos_vistos_annio %}

            <div class="tarjeta-equipo-visto" onclick="window.location.href='/equipo/{{ equipo[0] }}'">

                <div class="info-equipo-visto">

                    {% if equipo[1]==-1 %}
                        <img class="escudo-equipo-visto" src="{{ url_for('static', filename='imagenes/iconos/no_escudo.png') }}" alt="Escudo Icon">
                    {% else %}
                        <img class="escudo-equipo-visto" src="{{ url_imagen_escudo }}{{ equipo[1] }}.png" alt="Escudo Icon">
                    {% endif %}

                    <h4>{{ equipo[2] }}</h4>

                    {% if equipo[3]=='-1' %}
                        <img class="pais-equipo-visto" src="{{ url_for('static', filename='imagenes/iconos/no_pais.png') }}" alt="Pais Icon">
                    {% else %}
                        <img class="pais-equipo-visto" src="{{ url_imagen_pais }}{{ equipo[3] }}.png" alt="Pais Icon">
                    {% endif %}

                    <h4>{{ equipo[4] }} veces</h4>

                </div>
            </div>

            {% endfor %}

            </div>
        </div>

    </div>
</div>

<!-- Sale de aqui la ventana emergente (es curioso porque deberia estar junto con el boton que la hace desplegarse) para evitar solapamiento con los contenedores laterales -->
<div id="ventana-emergente-mes" class="ventana-emergente">
    <div class="contenido-ventana-emergente">
        <span class="cerrar" onclick="cerrarVentana('ventana-emergente-mes')">&times;</span>

        <p class="titulo-ventana" id="titulo-ventana-mes"><strong>Partidos del mes</strong></p>

        <div class="contenedor-tarjetas-partidos-asistidos">
            <div class="tarjetas-partidos-asistidos">
                <div class="tarjetas-partidos-asistidos-wrapper" id="lista-partidos-por-mes">
                </div>
            </div>
        </div>

    </div>
</div>

{% if mapas_correcto %}
    <!-- Sale de aqui la ventana emergente (es curioso porque deberia estar junto con el boton que la hace desplegarse) para evitar solamamiento con los contenedores laterales -->
    <div id="ventana-emergente" class="ventana-emergente">
        <div class="contenido-ventana-emergente-mapa-wrapped">
            <span class="cerrar" onclick="cerrarVentanaEmergente()">&times;</span>
            <div class="botones-mapa-detalle">
                <button onclick="cambiarMapa('/wrapped/mapa/{{ nombre_mapa_detalle }}', this)" class="boton-estadios-mapa active">
                    <span class="boton-estadios-mapa-text">Estadios</span>
                    <img src="{{ url_for('static', filename='imagenes/iconos/estadio_mapa.png') }}" alt="Estadio Mapa Icon" class="icono-estadio-mapa">
                </button>
                <button onclick="cambiarMapa('/wrapped/mapa/{{ nombre_mapa_detalle_paises }}', this)" class="boton-paises-mapa">
                    <span class="boton-paises-mapa-text">Paises</span>
                    <img src="{{ url_for('static', filename='imagenes/iconos/pais_mapa.png') }}" alt="Pais Mapa Icon" class="icono-pais-mapa">
                </button>
            </div>
            <div class="contenedor-mapa-estadios-asistidos-wrapped-detalle">
                <iframe src="/wrapped/mapa/{{ nombre_mapa_detalle }}" id="iframe-mapa"></iframe>
            </div>
        </div>
    </div>
{% endif %}

<!-- Sale de aqui la ventana emergente (es curioso porque deberia estar junto con el boton que la hace desplegarse) para evitar solapamiento con los contenedores laterales -->
<div id="ventana-emergente-trayectos" class="ventana-emergente">
    <div class="contenido-ventana-emergente">
        <span class="cerrar" onclick="cerrarVentana('ventana-emergente-trayectos')">&times;</span>

        <p class="titulo-ventana"><strong>Trayectos Realizados {{ annio }}</strong></p>

        <div class="tarjetas-trayectos-realizados">
            <div class="tarjetas-trayectos-realizados-wrapper">

            {% for partido_id, datos_trayectos in partidos_asistidos_trayectos_annio.items() %}

                <div class="tarjeta-trayecto-realizado" onclick="window.location.href='/partido/{{ partido_id }}/asistido'">

                    <div class="contenedor-datos-trayecto-realizado">

                        <img class="icono-partido-trayecto-realizado" src="{{ url_for('static', filename='imagenes/iconos/partido.png') }}" alt="Partido Icon">
                        <p class="partido-trayecto-realizado"><strong>Partido Asistido:</strong></p>

                        {% if datos_trayectos["Datos_Partido"][1]==-1 %}
                            <img class="icono-local-trayecto-realizado" src="{{ url_for('static', filename='imagenes/iconos/no_escudo.png') }}" alt="Local Icon">
                        {% else %}
                            <img class="icono-local-trayecto-realizado" src="{{ url_imagen_escudo }}{{ datos_trayectos['Datos_Partido'][1] }}.png" alt="Local Icon">
                        {% endif %}

                        <h4>{{ datos_trayectos["Datos_Partido"][0] }}</h4>

                        {% if datos_trayectos["Datos_Partido"][2]==-1 %}
                            <img class="icono-visitante-trayecto-realizado" src="{{ url_for('static', filename='imagenes/iconos/no_escudo.png') }}" alt="Visitante Icon">
                        {% else %}
                            <img class="icono-visitante-trayecto-realizado" src="{{ url_imagen_escudo }}{{ datos_trayectos['Datos_Partido'][2] }}.png" alt="Visitante Icon">
                        {% endif %}

                        <img class="icono-distancia-trayecto-realizado" src="{{ url_for('static', filename='imagenes/iconos/cuentakilometros.png') }}" alt="Distancia Icon">
                        <p class="distancia-trayecto-realizado"><strong>Distancia Total: {{ datos_trayectos["Distancia_Total"] }} kilometros</strong></p>
                    </div>

                    {% for tipo, nombre in [("I", "Ida"), ("V", "Vuelta")] %}

                        <hr class="linea">

                        <div class="contenedor-datos-trayecto-realizado">
                            <img class="icono-distancia-trayecto-realizado" src="{{ url_for('static', filename='imagenes/iconos/cuentakilometros.png') }}" alt="Distancia Icon">
                            <p class="distancia-trayecto-realizado"><strong>Distancia {{ nombre }}: {{ datos_trayectos["Distancia_" ~ tipo] }} kilometros</strong></p>
                            <img class="icono-escala-trayecto-realizado" src="{{ url_for('static', filename='imagenes/iconos/destino.png') }}" alt="Escala Icon">
                            <p class="escala-trayecto-realizado"><strong>Escalas: {{ (datos_trayectos[tipo]|length)-1 }}</strong></p>
                        </div>

                        {% for trayecto in datos_trayectos[tipo] %}

                            <div class="contenedor-origen-destino" onclick="abrirDesdeAtributo(this)" data-trayecto='{{ trayecto | tojson | safe }}'>

                                <div class="contenedor-pais-ciudad-partido">

                                    <img src="{{ url_for('static', filename='imagenes/iconos/'+trayecto[13]+'.png') }}" alt="Tramo Icon" class="icono-tramo-trayecto">

                                    <p class="texto-origen-destino"><strong>{{ trayecto[3] }}</strong></p>
                                
                                    <img src="{{ url_for('static', filename='imagenes/iconos/linea_horizontal.png') }}" alt="Linea Icon" class="icono-flecha-derecha">

                                    {% if (trayecto[12] | es_numero) %}
                                        <img src="{{ url_for('static', filename='imagenes/iconos/'+trayecto[11]+'.png') }}" alt="Transporte Icon" class="icono-transporte">
                                    {% else %}
                                        <img src="{{ url_for('static', filename='imagenes/iconos/'+trayecto[12]+'.png') }}" alt="Transporte Icon" class="icono-transporte">
                                    {% endif %}

                                    <img src="{{ url_for('static', filename='imagenes/iconos/flecha_horizontal_derecha.png') }}" alt="Flecha Derecha Icon" class="icono-flecha-derecha">

                                    <img src="{{ url_for('static', filename='imagenes/iconos/'+trayecto[14]+'.png') }}" alt="Tramo Icon" class="icono-tramo-trayecto">

                                    <p class="texto-origen-destino"><strong>{{ trayecto[7] }}</strong></p>

                                </div>

                            </div>
                            
                        {% endfor %}

                    {% endfor %}

                </div>

            {% endfor %}

            </div>
        </div>

    </div>
</div>

<!-- Sale de aqui la ventana emergente (es curioso porque deberia estar junto con el boton que la hace desplegarse) para evitar solapamiento con los contenedores laterales -->
<div id="ventana-emergente-trayecto-lejano" class="ventana-emergente">
    <div class="contenido-ventana-emergente">
        <span class="cerrar" onclick="cerrarVentana('ventana-emergente-trayecto-lejano')">&times;</span>

        <p class="titulo-ventana"><strong>Trayectos Mas Lejano {{ annio }}</strong></p>

        {% if partido_asistido_trayecto_mas_lejano_annio[0] %}

            <div class="tarjetas-trayectos-realizados">
                <div class="tarjetas-trayectos-realizados-wrapper">

                <div class="tarjeta-trayecto-realizado" onclick="window.location.href='/partido/{{ partido_asistido_trayecto_mas_lejano_annio[0] }}/asistido'">

                    <div class="contenedor-datos-trayecto-realizado">

                        <img class="icono-partido-trayecto-realizado" src="{{ url_for('static', filename='imagenes/iconos/partido.png') }}" alt="Partido Icon">
                        <p class="partido-trayecto-realizado"><strong>Partido Asistido:</strong></p>

                        {% if partido_asistido_trayecto_mas_lejano_annio[1]["Datos_Partido"][1]==-1 %}
                            <img class="icono-local-trayecto-realizado" src="{{ url_for('static', filename='imagenes/iconos/no_escudo.png') }}" alt="Local Icon">
                        {% else %}
                            <img class="icono-local-trayecto-realizado" src="{{ url_imagen_escudo }}{{ partido_asistido_trayecto_mas_lejano_annio[1]['Datos_Partido'][1] }}.png" alt="Local Icon">
                        {% endif %}

                        <h4>{{ partido_asistido_trayecto_mas_lejano_annio[1]["Datos_Partido"][0] }}</h4>

                        {% if partido_asistido_trayecto_mas_lejano_annio[1]["Datos_Partido"][2]==-1 %}
                            <img class="icono-visitante-trayecto-realizado" src="{{ url_for('static', filename='imagenes/iconos/no_escudo.png') }}" alt="Visitante Icon">
                        {% else %}
                            <img class="icono-visitante-trayecto-realizado" src="{{ url_imagen_escudo }}{{ partido_asistido_trayecto_mas_lejano_annio[1]['Datos_Partido'][2] }}.png" alt="Visitante Icon">
                        {% endif %}

                        <img class="icono-distancia-trayecto-realizado" src="{{ url_for('static', filename='imagenes/iconos/cuentakilometros.png') }}" alt="Distancia Icon">
                        <p class="distancia-trayecto-realizado"><strong>Distancia Total: {{ partido_asistido_trayecto_mas_lejano_annio[1]["Distancia_Total"] }} kilometros</strong></p>
                    </div>

                    {% for tipo, nombre in [("I", "Ida"), ("V", "Vuelta")] %}

                        <hr class="linea">

                        <div class="contenedor-datos-trayecto-realizado">
                            <img class="icono-distancia-trayecto-realizado" src="{{ url_for('static', filename='imagenes/iconos/cuentakilometros.png') }}" alt="Distancia Icon">
                            <p class="distancia-trayecto-realizado"><strong>Distancia {{ nombre }}: {{ partido_asistido_trayecto_mas_lejano_annio[1]["Distancia_" ~ tipo] }} kilometros</strong></p>
                            <img class="icono-escala-trayecto-realizado" src="{{ url_for('static', filename='imagenes/iconos/destino.png') }}" alt="Escala Icon">
                            <p class="escala-trayecto-realizado"><strong>Escalas: {{ (partido_asistido_trayecto_mas_lejano_annio[1][tipo]|length)-1 }}</strong></p>
                        </div>

                        {% for trayecto in partido_asistido_trayecto_mas_lejano_annio[1][tipo] %}

                            <div class="contenedor-origen-destino" onclick="abrirDesdeAtributo(this)" data-trayecto='{{ trayecto | tojson | safe }}'>

                                <div class="contenedor-pais-ciudad-partido">

                                    <img src="{{ url_for('static', filename='imagenes/iconos/'+trayecto[13]+'.png') }}" alt="Tramo Icon" class="icono-tramo-trayecto">

                                    <p class="texto-origen-destino"><strong>{{ trayecto[3] }}</strong></p>
                                
                                    <img src="{{ url_for('static', filename='imagenes/iconos/linea_horizontal.png') }}" alt="Linea Icon" class="icono-flecha-derecha">

                                    {% if (trayecto[12] | es_numero) %}
                                        <img src="{{ url_for('static', filename='imagenes/iconos/'+trayecto[11]+'.png') }}" alt="Transporte Icon" class="icono-transporte">
                                    {% else %}
                                        <img src="{{ url_for('static', filename='imagenes/iconos/'+trayecto[12]+'.png') }}" alt="Transporte Icon" class="icono-transporte">
                                    {% endif %}

                                    <img src="{{ url_for('static', filename='imagenes/iconos/flecha_horizontal_derecha.png') }}" alt="Flecha Derecha Icon" class="icono-flecha-derecha">

                                    <img src="{{ url_for('static', filename='imagenes/iconos/'+trayecto[14]+'.png') }}" alt="Tramo Icon" class="icono-tramo-trayecto">

                                    <p class="texto-origen-destino"><strong>{{ trayecto[7] }}</strong></p>

                                </div>

                            </div>
                            
                        {% endfor %}

                    {% endfor %}

                </div>
                </div>

            </div>

        {% endif %}

    </div>
</div>

<!-- Sale de aqui la ventana emergente (es curioso porque deberia estar junto con el boton que la hace desplegarse) para evitar solapamiento con los contenedores laterales -->
<div id="ventana-emergente-trayecto-locura" class="ventana-emergente">
    <div class="contenido-ventana-emergente">
        <span class="cerrar" onclick="cerrarVentana('ventana-emergente-trayecto-locura')">&times;</span>

        <p class="titulo-ventana"><strong>Trayectos Mas Locura {{ annio }}</strong></p>

        {% if partido_asistido_trayecto_mas_locura_annio[0] %}

            <div class="tarjetas-trayectos-realizados">
                <div class="tarjetas-trayectos-realizados-wrapper">

                <div class="tarjeta-trayecto-realizado" onclick="window.location.href='/partido/{{ partido_asistido_trayecto_mas_locura_annio[0] }}/asistido'">

                    <div class="contenedor-datos-trayecto-realizado">

                        <img class="icono-partido-trayecto-realizado" src="{{ url_for('static', filename='imagenes/iconos/partido.png') }}" alt="Partido Icon">
                        <p class="partido-trayecto-realizado"><strong>Partido Asistido:</strong></p>

                        {% if partido_asistido_trayecto_mas_locura_annio[1]["Datos_Partido"][1]==-1 %}
                            <img class="icono-local-trayecto-realizado" src="{{ url_for('static', filename='imagenes/iconos/no_escudo.png') }}" alt="Local Icon">
                        {% else %}
                            <img class="icono-local-trayecto-realizado" src="{{ url_imagen_escudo }}{{ partido_asistido_trayecto_mas_locura_annio[1]['Datos_Partido'][1] }}.png" alt="Local Icon">
                        {% endif %}

                        <h4>{{ partido_asistido_trayecto_mas_locura_annio[1]["Datos_Partido"][0] }}</h4>

                        {% if partido_asistido_trayecto_mas_locura_annio[1]["Datos_Partido"][2]==-1 %}
                            <img class="icono-visitante-trayecto-realizado" src="{{ url_for('static', filename='imagenes/iconos/no_escudo.png') }}" alt="Visitante Icon">
                        {% else %}
                            <img class="icono-visitante-trayecto-realizado" src="{{ url_imagen_escudo }}{{ partido_asistido_trayecto_mas_locura_annio[1]['Datos_Partido'][2] }}.png" alt="Visitante Icon">
                        {% endif %}

                        <img class="icono-distancia-trayecto-realizado" src="{{ url_for('static', filename='imagenes/iconos/cuentakilometros.png') }}" alt="Distancia Icon">
                        <p class="distancia-trayecto-realizado"><strong>Distancia Total: {{ partido_asistido_trayecto_mas_locura_annio[1]["Distancia_Total"] }} kilometros</strong></p>
                    </div>

                    {% for tipo, nombre in [("I", "Ida"), ("V", "Vuelta")] %}

                        <hr class="linea">

                        <div class="contenedor-datos-trayecto-realizado">
                            <img class="icono-distancia-trayecto-realizado" src="{{ url_for('static', filename='imagenes/iconos/cuentakilometros.png') }}" alt="Distancia Icon">
                            <p class="distancia-trayecto-realizado"><strong>Distancia {{ nombre }}: {{ partido_asistido_trayecto_mas_locura_annio[1]["Distancia_" ~ tipo] }} kilometros</strong></p>
                            <img class="icono-escala-trayecto-realizado" src="{{ url_for('static', filename='imagenes/iconos/destino.png') }}" alt="Escala Icon">
                            <p class="escala-trayecto-realizado"><strong>Escalas: {{ (partido_asistido_trayecto_mas_locura_annio[1][tipo]|length)-1 }}</strong></p>
                        </div>

                        {% for trayecto in partido_asistido_trayecto_mas_locura_annio[1][tipo] %}

                            <div class="contenedor-origen-destino" onclick="abrirDesdeAtributo(this)" data-trayecto='{{ trayecto | tojson | safe }}'>

                                <div class="contenedor-pais-ciudad-partido">

                                    <img src="{{ url_for('static', filename='imagenes/iconos/'+trayecto[13]+'.png') }}" alt="Tramo Icon" class="icono-tramo-trayecto">

                                    <p class="texto-origen-destino"><strong>{{ trayecto[3] }}</strong></p>
                                
                                    <img src="{{ url_for('static', filename='imagenes/iconos/linea_horizontal.png') }}" alt="Linea Icon" class="icono-flecha-derecha">

                                    {% if (trayecto[12] | es_numero) %}
                                        <img src="{{ url_for('static', filename='imagenes/iconos/'+trayecto[11]+'.png') }}" alt="Transporte Icon" class="icono-transporte">
                                    {% else %}
                                        <img src="{{ url_for('static', filename='imagenes/iconos/'+trayecto[12]+'.png') }}" alt="Transporte Icon" class="icono-transporte">
                                    {% endif %}

                                    <img src="{{ url_for('static', filename='imagenes/iconos/flecha_horizontal_derecha.png') }}" alt="Flecha Derecha Icon" class="icono-flecha-derecha">

                                    <img src="{{ url_for('static', filename='imagenes/iconos/'+trayecto[14]+'.png') }}" alt="Tramo Icon" class="icono-tramo-trayecto">

                                    <p class="texto-origen-destino"><strong>{{ trayecto[7] }}</strong></p>

                                </div>

                            </div>
                            
                        {% endfor %}

                    {% endfor %}

                </div>
                </div>

            </div>

        {% endif %}

    </div>
</div>

<script src="{{ url_for('static', filename='js/cambio_mapa_estadios_paises.js') }}"></script>

{% endblock contenedor_lateral_der %}